{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
    <title>{{language.name}} language free online courses/MOOCs list | Class Central</title>
    <meta name="description" content="List of {{language.name}} free online courses/MOOCs aggregated by Class Central. Courses are categorized according to start dates into Recently Started, Just Announced, Upcoming, Self Paced, Ongoing, and Finished"/>

    <meta property="og:title" content="{{language.name}} language MOOCs/free online courses list | Class Central" />
    <meta property="og:url" content="{{ baseurl }}{{ path('lang',{'slug': slug}) }}" />
    {% if pageInfo.imageUrl %}
        <meta property="og:image" content="{{ rackspace_cdn_base_url }}{{ pageInfo.imageUrl }}">
    {% else %}
        <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    {% endif %}
    <meta property="og:description" content="List of {{language.name}} languagefree online courses/MOOCs aggregated by Class Central. Courses are categorized according to start dates into Recently Started, Just Announced, Upcoming, Self Paced, Ongoing, and Finished" />
    <meta property="og:type" content="website" />

    <!-- Twitter card integration -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@classcentral">
    <meta name="twitter:title" content="List of {{language.name}} language free online courses/MOOCs">
    <meta name="twitter:description" content="List of {{language.name}} free online courses/MOOCs aggregated by Class Central">
    <meta name="twitter:domain" content="www.class-central.com">

    <link rel="canonical" href="{{ baseurl }}{{ path('lang',{'slug': slug}) }}" />

    {# paginated content #}
    {% include 'ClassCentralSiteBundle:Helpers:paginationRelTags.html.twig' with
        { 'pageNo': pageNo, 'totalCourses': results.hits.total }
    %}
{% endblock %}

{%  block content %}

  <div class="classcentral-style">
    {% include 'ClassCentralSiteBundle:Helpers:pageHeader.html.twig' with {'info': pageInfo } %}

    <section class="width-centered padding-horz-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
      <div class="row">
        <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects, 'offSessions' : allSessions } %}
        </div>
        <div class="col width-100 large-up-width-3-4 tables-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'languagetable'} %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
