{% extends 'ClassCentralSiteBundle::base.html.twig' %}
{% block headmeta %}
    <title>Review {{ course.name }}</title>
    <meta name="robots" content="noindex" />
{% endblock %}
{% block content %}
    <div class="add-review">
        <header>
            <h2><span>Review</span>{{ course.name }}</h2>
        </header>
        <span id="courseId" data-value="{{ course.id }}" class="hidden"></span>
        <span id="reviewid" data-value="{{ review.id }}" class="hidden"></span>
        <span id="courseUrl" data-value="{{ path('ClassCentralSiteBundle_mooc',{id:course.id,slug:course.slug }) }}" class="hidden"></span>
        <div class="review-form-wrap">
            <form id="review-form" class="clearfix" method="post" action="#review-form">
                <p class="course-quality">
                    <span class="review-field-label">How would you rate this course?<span style="color: red"> *</span></span>
                    <span class="review-form-error" id="rating-error" style="display:none;">Rating is required</span>
                <div id="rating" data-score ={{ review.rating }}></div>
                </p>
                <p class="course-progress">
                    <span class="review-field-label">How much of the course did you finish?<span style="color: red"> *</span></span>
                    <span class="review-form-error" id="progress-error" style="display:none;">This is a required field</span>
                    {% for id,state in progress %}
                        <input type="radio" id="{{ state.slug }}" name="progress" value="{{ id }}" {% if review.listId == id %}checked{%  endif  %}>
                        <label for="{{ state.slug }}">{{ state.desc }}</label>
                    {% endfor %}
                </p>

                <div class="text-wrap">
                    <p class="review-text">
                        <span class="review-field-label">Review</span>
                        <span class="review-form-error" id="review-text-error" style="display:none;">Review should be at least 20 words</span>
                        <textarea id="review-text" name="review-text" placeholder="" class="expandable">{{ review.review }}</textarea>
                    </p>
                </div>

                <a id="submit-signup-review"  name="cc-send" href="#">Signup and Post</a>
                <a id="cancel-review"  onmousedown="_gaq.push(['_trackEvent', 'Create Review Page', 'Cancel', '{{course.name}}'])" href="{{ path('ClassCentralSiteBundle_mooc',{id: course.id,slug:course.slug}) }}">Cancel</a>
            </form>
        </div>

    </div>
    <div class="clearfix"></div>
    {% if signupForm is defined %}
        <div class="modal fade" id="signupForm" role="dialog" aria-labelledby="Sign Up to post your review" aria-hidden="true">
            <div class="cc-form-box">
                <div class="cc-form-box-inner">
                    <div class="form-box-header">
                        <svg class="icon icon-cc-logo-circle" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo-circle"></use></svg>
                    </div>
                    <div class="form-box-body">
                        <h3>Sign Up to post your review</h3>
                        <a class="sign-in-with-facebook" href="{{ path('fb_authorize_start') }}" onmousedown="_gaq.push(['_trackEvent','Sign In with Facebook', 'Login Form']);">
                            <svg class="icon icon-facebook2" viewBox="0 0 32 32"><use xlink:href="#icon-facebook2"></use></svg>
                            Sign in with Facebook
                        </a>

                        <div class="or-separator">
                            <span>OR</span>
                        </div>

                        {{ form(signupForm) }}
                    </div>
                </div>
                <p id="cc-form-box-additional-link">
                    Already have an account? <a href="{{ path('login')  }}" title="Login">Login</a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
