{% extends 'ClassCentralSiteBundle::base.html.twig' %}
{% block headmeta %}
    <title>Review {{ course.name }}</title>
    <meta name="robots" content="noindex" />
{% endblock %}
{% block content %}
    <div class="new-review full-new-review col-md-6">
        <header>
            <h2><span>Review </span>{{ course.name }}</h2>
        </header>
        <span id="courseId" data-value="{{ course.id }}" class="hidden"></span>
        <span id="reviewid" data-value="{{ review.id }}" class="hidden"></span>
        <span id="courseUrl" data-value="{{ path('ClassCentralSiteBundle_mooc',{id:course.id,slug:course.slug }) }}" class="hidden"></span>
        <div class="review-form-wrap">
            <form id="review-form" class="clearfix" method="post" action="#review-form">
                <div class="course-quality">
                    <span class="review-field-label">How would you rate this course?<span style="color: red"> *</span></span>
                    <span class="review-form-error" id="rating-error" style="display:none;">Rating is required</span>
                    <div id="rating" data-score ={{ review.rating }}></div>
                </div>
                <div class="course-progress">
                    <span class="review-field-label">How much of the course did you finish?<span style="color: red"> *</span></span>
                    <span class="review-form-error" id="progress-error" style="display:none;">This is a required field</span>
                    {% for id,state in progress %}
                        <input type="radio" id="{{ state.slug }}" name="progress" value="{{ id }}" {% if review.listId == id %}checked{%  endif  %}>
                        <label for="{{ state.slug }}">{{ state.desc }}</label>
                    {% endfor %}
                </div>

                <div class="text-wrap">
                    <div class="review-text">
                        <span class="review-field-label">Review</span>
                        <span class="review-form-error" id="review-text-error" style="display:none;">Review should be at least 20 words</span>
                        <textarea id="review-text" name="review-text" placeholder="" class="expandable">{{ review.review }}</textarea>
                    </div>
                </div>

                <a id="submit-signup-review"  name="cc-send" href="#">Signup and Post</a>
                <a id="cancel-review"  onmousedown="_gaq.push(['_trackEvent', 'Create Review Page', 'Cancel', '{{course.name}}'])" href="{{ path('ClassCentralSiteBundle_mooc',{id: course.id,slug:course.slug}) }}">Cancel</a>
            </form>
        </div>

    </div>
    <div class="clearfix"></div>
    {% if signupForm is defined %}
        {% include 'ClassCentralSiteBundle:Helpers:signupform.html.twig' with {
        signupForm : signupForm,
        formTitle  : 'Signup to post your review'
        } %}
    {% endif %}
{% endblock %}
