
<div class="single-review" itemprop="review" itemscope itemtype="http://schema.org/Review">
    {% if review.fb.total > 0 %}
        <div class="review-feedback">{{review.fb.positive }} out of {{ review.fb.total  }} people found the following review useful</div>
    {% endif %}
    {# <span class="author" itemprop="author">{{ review.user.name }}</span> #}
    <div class="small-star-rating small-rating-{{ review.rating }}" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <span class="star-rating-1"></span>
        <span class="star-rating-2"></span>
        <span class="star-rating-3"></span>
        <span class="star-rating-4"></span>
        <span class="star-rating-5"></span>
        <meta itemprop="ratingValue" content="{{ review.rating }}">
	<meta itemprop="worstRating" content = "1"/>
	<meta itemprop="bestRating" content = "5"/>
    </div>
    {% if course is defined %}
        <meta itemprop="about" content="{{ course.name}}">
    {% else %}
        {# This is for My Reviews page#}
        <span class="author"><a href="{{ path('ClassCentralSiteBundle_mooc', {id: review.course.id, slug: review.course.slug}) }}"> {{ review.course.name }}</a></span>
    {% endif %}
    <meta itemprop="author" content = "{{review.user.name}}"/>
    <meta itemprop="name" content="{{ review.user.name }} {{ review.reviewTitle }}">
    <span class="review-date">{{ review.displayDate }}<meta itemprop="datePublished" content="{{ review.publishedDate }}"></span>
    <div style="clear:both"></div>
    <div itemprop="description">
        <div class="review-title"><span class="author">{{ review.user.name }} </span> {{ review.reviewTitle }}</div>
        <div class="review-content">{{ review.reviewText|striptags('<br>')|raw }}</div>
    </div>
    {% if app.user and user_session.isUserReview(review.id) %}
        {# show the edit button #}
        <div class="question"><a href="{{ path('review_edit',{reviewId:review.id}) }}">edit review</a></div>
    {% else %}
        {# show the feedback #}
        <div class="question" id="review-feedback-{{ review.id }}">Was this review helpful to you?
            <span class="yes-no"><a href="#" class="review-feedback" data-reviewId="{{ review.id }}" data-reviewId="{{ review.id }}" onmousedown="_gaq.push(['_trackEvent','Review Feedback','Yes']);">YES</a> | <a href="#" class="review-feedback" data-reviewid="{{ review.id }}" onmousedown="_gaq.push(['_trackEvent','Review Feedback','No']);">NO</a></span></div>
    {% endif %}
</div>
