{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    <title>Write a Review</title>
{% endblock %}

{% block contentheader %}
  <div id="review-container" class="classcentral-style">
    <!-- popular courses -->
    <header class="bg-cc-gradient">
      <div class="text-center width-3-4 padding-vert-xxlarge width-centered" style="max-width: 1400px">
        <h1>
          <img class="width-100" src="/bundles/classcentralsite/images/banner-have-you-taken-a-course.png" alt="Have you taken a course?" style="max-width: 800px;"/>
        </h1>
        <h2 class="head-2 margin-bottom-medium">Learners want to see more reviews of courses.</h2>
        <div id="search" class="relative text-left">{{ reactService.component('search', '', apiService.getReviewbarData())|raw }}</div>
      </div>
    </header>

    <section class="width-centered margin-top-large padding-horz-large" style="max-width: 1400px">
      <header class="padding-horz-medium padding-top-large">
        <nav class="width-100 text-left">
          <h1 id="pc-header" class="head-2 padding-right-xlarge margin-bottom-medium">Find your course to review</h1>
          <ul id="pc-nav-large" class="text-1">
            {% for courseType in courseInfo %}
            <li class="inline-block">
              <a
                href="#"
                data-inactive-state="text--charcoal"
                data-active-state="text--blue border-bottom border--blue"
                data-show="{{ courseType["title"] }}"
                class="{% if courseType["title"] == "Most Wanted" %}text--blue border-bottom border--blue{% else %}text--charcoal{% endif %} inline-block padding-horz-small">
                {{ courseType["title"] }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div id="pc-nav-small" class="relative">
            <span data-select-label class="btn-white icon-chevron-down-charcoal icon--xsmall icon--right text--charcoal">Most Wanted</span>
            <select data-select class="absolute top left btn-white btn--small width-100 text--charcoal" style="opacity: 0;">
              {% for courseType in courseInfo %}
                <option value="{{ courseType["title"] }}">
                  {{ courseType["title"] }}
                </option>
              {% endfor %}
            </select>
          </div>
        </nav>
      </header>

      {% for courseType in courseInfo %}
      <ul class="popular-course-list row">
        {% for course in courseType["courses"] %}
            {% set course = course._source %}
            <li data-show-target="{{courseType["title"]}}" class="large-width-1-3 small-width-100 medium-width-1-2 col padding-medium {% if courseType["title"] != "Most Wanted" %}hidden{% endif %}">
              {% include 'ClassCentralSiteBundle:Helpers:course.write-review.card.html.twig' with { course: course, courseType: courseType["title"] } %}
            </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </section>
  </div>
{% endblock %}
