{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

 {% block headmeta %}
     <title>{{ pageTitle }} | Class Central</title>
     <meta name="description" content="{{ pageDescription|raw }}"/>
     <link rel="canonical" href="https://www.class-central.com/collection/{{ slug }}"/>

     <meta property="og:title" content="{{ pageTitle }}"/>
     <meta property="og:type" content="website"/>
     <meta property="og:url" content="https://www.class-central.com/collection/{{ slug }}"/>
     {% if collection.image is defined %}
        <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/{{ collection.image }}">
     {% endif %}
     <meta property="og:site_name" content="Class Central" />
     <meta property="fb:admins" content="{{ fb_admins }}" />
     <meta property="og:description"
           content="{{ pageDescription|raw }}" />

     <meta name="twitter:card" content="summary_large_image">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:creator" content="@dhawalhshah">
     <meta name="twitter:title" content="{{ pageTitle }}">
     <meta name="twitter:description" content="{{ pageDescription|raw }}">
     {% if collection.image is defined %}
        <meta name="twitter:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/{{ collection.image }}">
     {% endif %}
 {% endblock %}

{% block contentheader %}
    <section class="headerArea headerArea-slim">
        <div class="container">
            <div class="headerIntro">

                <div class="headerIntro_topText">
                    {{ collection.subtitle }}
                </div>

                <h1 class="headerIntro_title">{{ pageTitle }}</h1>
                <h2 class="headerIntro_subTitle">{{ pageDescription|raw }}</h2>

                {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                    item : followItem,
                    item_id : followItemId,
                    itemName: followItemName,
                    followed: user_session.isItemFollowed(followItem,followItemId),
                    followButtonWithCount: true,
                    followDesc: 'Want an email when new courses are available?',
                    followDescPosition: 'bottom',
                    followDescColor: 'white',
                    followers:followService.getNumFollowers(followItem,followItemId)
                } %}
                <span class="headerIntro_buttonSub headerIntro_buttonSub-larger"></span>

            </div>

        </div><!-- /container -->
    </section>
{% endblock %}

{%  block content %}
  <div class="classcentral-style">
    <section class="width-centered padding-horz-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
      <div class="row">
        <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects,'offLanguages':allLanguages} %}
        </div>
        <div class="col width-100 large-up-width-3-4 tables-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'collectiontable'} %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
