{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

 {% block headmeta %}
     <title>{{ pageTitle }} | Class Central</title>
     <meta name="description" content="{{ pageDescription|raw }}"/>
     <link rel="canonical" href="https://www.class-central.com/collection/{{ slug }}"/>

     <meta property="og:title" content="{{ pageTitle }}"/>
     <meta property="og:type" content="website"/>
     <meta property="og:url" content="https://www.class-central.com/collection/{{ slug }}"/>
     {% if collection.image is defined %}
        <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/{{ collection.image }}">
     {% endif %}
     <meta property="og:site_name" content="Class Central" />
     <meta property="fb:admins" content="{{ fb_admins }}" />
     <meta property="og:description"
           content="{{ pageDescription|raw }}" />

     <meta name="twitter:card" content="summary_large_image">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:creator" content="@dhawalhshah">
     <meta name="twitter:title" content="{{ pageTitle }}">
     <meta name="twitter:description" content="{{ pageDescription|raw }}">
     {% if collection.image is defined %}
        <meta name="twitter:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/{{ collection.image }}">
     {% endif %}
 {% endblock %}

{% block contentheader %}
  <div class="classcentral-style">
    {% include 'ClassCentralSiteBundle:Collection:collectionHeader.html.twig' %}
  </div>
{% endblock %}

{%  block content %}
  <div class="classcentral-style">
    <section class="width-centered large-up-padding-horz-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
      <div class="row">
        <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects,'offLanguages':allLanguages} %}
        </div>
        <div class="col width-100 large-up-width-3-4 tables-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'collectiontable'} %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
