{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    <title> MOOC news</title>
    <meta name="description" content="News from the world of Massive Open Online Courses i.e MOOCs"/>
{% endblock %}


{% block content %}
<div class='mooc-news'>
    <h1>MOOC news</h1>

    {% for newsItem in news %}
        <div class='mooc-news-item'>
            <p class="mooc-news-title"><a href="{{ newsItem.url }}" target="_blank" onClick="_gaq.push(['_trackEvent', 'Outbound Clicks - News','{{  newsItem.title }}'])">{{ newsItem.title }}</p></a>
            <p class="mooc-news-description">{{ newsItem.description }} <span><a href="{{ newsItem.url }}" target="_blank" onClick="_gaq.push(['_trackEvent', 'Outbound Clicks - News','{{  newsItem.title }}'])">Read More></span></a></p>
        </div>
    {% endfor %}
</div>

{% endblock %}
