
      <!-- year in review -->
      <section class="row col width-100 width-centered padding-horz-large padding-bottom-xlarge margin-top-xlarge" style="max-width: 1400px;">
        <header class="text-center border-bottom border--gray-light border--thin">
          <h1 class="relative head-3 small-up-head-2 large-up-head-1  bg-white relative inline-block padding-horz-medium" style="top: 15px">
            MOOCs Through the Years
          </h1>
        </header>

        <ul class="width-centered row margin-top-xlarge" style="max-width: 1000px;">
            <li class="width-100 large-up-width-1-3 col padding-horz-large relative margin-bottom-xlarge">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2017", "section": "Class Central" }'
                href="{{ path('year_in_review_2017') }}"
                class="block"
              >
                  {% set yearInReviewThumbnail = imageService.cropImage('https://www.class-central.com/bundles/classcentralsite/images/year-in-review/banner-2017-year-in-review-mobile.png', 546,420) %}
                <img class="radius width-100 hover-grow shadow" src="{{ yearInReviewThumbnail }}" alt="2017 Year in Review" />
              </a>
              <p class="text-center absolute width-100 left" style="bottom: -15px;">
                <a href="{{ path('year_in_review_2017') }}" class="btn-blue">Read More</a>
              </p>
            </li>
            <li class="width-100 large-up-width-1-3 col padding-horz-large relative margin-bottom-xlarge">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2016", "section": "Class Central" }'
                href="{{ path('year_in_review_2016') }}"
                class="block"
              >
                {% set yearInReviewThumbnail = imageService.cropImage('https://www.class-central.com/bundles/classcentralsite/images/year-in-review/banner-2016-year-in-review-mobile.png', 546,420) %}
                <img class="radius width-100 hover-grow shadow" src="{{ yearInReviewThumbnail  }}" alt="2016 Year in Review" />
              </a>
              <p class="text-center absolute width-100 left" style="bottom: -15px;">
                <a href="{{ path('year_in_review_2016') }}" class="btn-blue">Read More</a>
              </p>
            </li>
            <li class="width-100 large-up-width-1-3 col padding-horz-large relative margin-bottom-xlarge">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2016", "section": "Class Central" }'
                href="{{ path('year_in_review_2015') }}"
                class="block"
              >
                  {% set yearInReviewThumbnail = imageService.cropImage('https://www.class-central.com/bundles/classcentralsite/images/year-in-review/banner-2015-year-in-review-mobile.png', 546,420) %}
                <img class="radius width-100 hover-grow shadow" src="{{ yearInReviewThumbnail }}" alt="2015 Year in Review" />
              </a>
              <p class="text-center absolute width-100 left" style="bottom: -15px;">
                <a href="{{ path('year_in_review_2015') }}" class="btn-blue">Read More</a>
              </p>
            </li>
        </ul>

        <div class="width-centered row margin-top-medium text-center">
          <h4 class="text-2 padding-right-xsmall inline-block">Previous Years:</h4>
          <ul class="inline-block">
            <li class="inline-block padding-horz-small border-right border--thin border--gray-light">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2014", "section": "Class Central" }'
                href="{{ path('year_in_review_2014') }}"
                class="block text--blue text-2"
              >
              2014
              </a>
            </li>
            <li class="inline-block padding-horz-small border-right border--thin border--gray-light">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2013", "section": "Class Central" }'
                href="{{ path('year_in_review_2013') }}"
                class="block text--blue text-2"
              >
              2013
              </a>
            </li>
            <li class="inline-block padding-horz-small">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2012", "section": "Class Central" }'
                href="{{ path('year_in_review_2012') }}"
                class="block text--blue text-2"
              >
              2012
              </a>
            </li>
          </ul>
        </div>
      </section>
