{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
  <title>MOOCs 2012: A Year in Review by Class Central</title>
  <meta name="description" content="A Review of MOOC Stats and Trends in 2012" />
  <meta property="og:title" content="MOOCs 2012: A Year in Review by Class Central" />
  <meta property="og:url" content="{{ url(app.request.attributes.get('_route')) }}" />
  <link rel="canonical" href="{{ url(app.request.attributes.get('_route')) }}">

  <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/images/year-in-review/banner-2012-year-in-review.png">

  <meta property="og:site_name" content="Class Central"/>
  <meta property="og:description" content="A Review of MOOC Stats and Trends in 2012" />


  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@classcentral" />
  <meta name="twitter:title" content="MOOCs 2012: A Year in Review by Class Central" />
  <meta name="twitter:description" content="A Review of MOOC Stats and Trends in 2012" />
  <meta name="twitter:image" content="https://www.class-central.com/bundles/classcentralsite/images/year-in-review/banner-2012-year-in-review.png" />

{% endblock %}

{% block content %}
  <!-- banner -->
  <div class="classcentral-style" id="landing-page">
    <section class="cc-gradient-2012">
      <div id="banner-mobile" class="relative medium-up-hidden">
        <h2>
          <img class="block width-100" src="/bundles/classcentralsite/images/year-in-review/banner-2012-year-in-review-mobile.png" alt="MOOCs 2012: A Year in Review by Class Central"/>
        </h2>
      </div>
      <div class="xsmall-only-hidden small-only-hidden relative width-100 width-centered" style="max-width: 1400px;">
        <h1 style="padding-bottom: 31.25%;">
          <img class="width-100 absolute top left" src="/bundles/classcentralsite/images/year-in-review/banner-2012-year-in-review.png" alt="MOOCs 2012: A Year in Review by Class Central"/>
        </h1>
      </div>
      <div class="relative width-100 height-100 width-centered" style="max-width: 1400px;">
        <div class="select dropdown absolute bottom right margin-small medium-up-margin-large" data-dropdown>
          <a class="xsmall-only-hidden small-only-hidden btn-white btn--medium text--charcoal icon--xsmall icon--right icon-chevron-down" data-dropdown-anchor data-toggle="dropdown">Previous years</a>
          <a class="medium-up-hidden text--blue text-3 icon--right icon-chevron-down-blue" data-dropdown-anchor data-toggle="dropdown">Previous years</a>
          <ul
            data-dropdown-menu
            class="text-left dropdown-menu radius bg-white padding-vert-medium"
            style="display: none;"
          >
            {% for yearAvailable in data.yearsAvailable %}
            <li>
              <a class="padding-vert-xxsmall text--blue" href="/moocs-year-in-review-{{ yearAvailable }}">{{ yearAvailable }}<span class="xsmall-only-hidden small-only-hidden">: Year in Review</span></a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <section class="row width-centered padding-vert-medium medium-up-padding-vert-large padding-horz-large" style="max-width: 1250px;">
      <header class="text-center margin-vert-large">
        <h1 class="head-2 medium-up-head-1 text--bold margin-bottom-xxsmall medium-up-margin-bottom-xsmall">{{ data.leadingArticle.title }}</h1>
        <h2 class="head-4 medium-up-head-3 large-up-head-2 margin-bottom-small">{{ data.leadingArticle.subtitle }}</h2>
        <p class="text-3 medium-up-text-2">
          <strong class="text--bold">By {{ data.leadingArticle.author }}</strong>
          <span class="text--italic">{{ data.leadingArticle.publishedDate }}</span>
        </p>
      </header>

      <div class="text-center">
        <div class="inline-block">
          <p class="head-5 inline-block margin-right-xsmall">
            Share
          </p>
          <a
                  data-track-click="{{ ts.event('LANDING_PAGE_CLICK') }}"
                  data-track-props='{ "type": "Social", "title": "Twitter" }'
                  href="https://twitter.com/intent/tweet?url={{ url('year_in_review_2012') | url_encode(true) }}&text={{ "MOOCs 2012: A Year in Review" | url_encode(true) }}&via=classcentral&related=classcentral%3A+%231+Search+Engine+for+Online+Courses"
                  target="_blank"
                  class="btn-white btn-circle btn--small icon--small icon--center icon-twitter margin-horz-xxsmall"
          >
            Twitter
          </a>
          <a
                  data-track-click="{{ ts.event('LANDING_PAGE_CLICK') }}"
                  data-track-props='{ "type": "Social", "title": "Facebook" }'
                  href="https://www.facebook.com/sharer/sharer.php?u={{ url('year_in_review_2012') | url_encode(true) }}"
                  target="_blank"
                  class="btn-white btn-circle btn--small icon--small icon--center icon-facebook"
          >Facebook
          </a>
        </div>
      </div>

      <article class="text-center width-100 medium-up-width-2-3 large-up-width-1-2 width-centered">
        <p class="margin-vert-large text-2 medium-up-text-1 text-left">
            {{ data.leadingArticle.snippet }}
        </p>
        <a href="{{ data.leadingArticle.url }}" class="btn-blue medium-up-btn--large">Read article</a>
      </article>
    </section>

    <section class="row width-centered padding-horz-medium medium-up-padding-horz-large padding-vert-large" style="max-width: 1250px;">
      <header class="text-center border-bottom border--gray-light border--thin medium-up-margin-horz-large margin-bottom-medium">
        <h1 class="head-3 medium-up-head-2 padding-horz-medium bg-white relative inline-block" style="top: 15px">MOOCs by the Numbers 2012</h1>
      </header>
      <div class="text-center width-centered medium-up-padding-horz-large" style="max-width: 1000px;">
        <img
          src="/bundles/classcentralsite/images/year-in-review/numbers-2012.png"
          alt="2012 By the Numbers"
          class="width-100"
        />
      </div>
    </section>
  </div>
{% endblock %}
