{% if not app.request.cookies.get('ads_hidden') %}
  {% for ad in ads %}
    {%  if ad.visible %}
      <a
        href="{{ ad.url }}"
        target="_blank"
        rel="nofollow"
        class="xsmall-only-hidden small-only-hidden width-100 relative unit-horz margin-bottom-large padding-small"
        data-track-impression="{{ ts.event('AD_IMPRESSION') }}"
        data-track-props='{
          "ad": {
            "layout": "{{ adType is defined ? adType : 'a'}}",
            "provider": "{{ ad.providerName }}",
            "unit": "Sidebar Text Ad",
            "title": "{{ ad.title }}"
          }
        }'
        onmousedown='
         CC.track("{{ ts.event('AD_CLICK') }}", {
           ad: {
             provider: "{{ ad.providerName }}",
             unit: "Sidebar Text Ad",
             title: "{{ ad.title }}"
           }
         });ga("send","event", "Text Ad", "{{ ad.title }}", "{{ pageName }}");'
      >
        <p class="text-3 text--charcoal margin-bottom-xxsmall">
          <span class="text--bold block">
            {% if adType is defined and adType == "x" %}
              <span
                class="text-4 text--blue text--bold relative border-all border--blue radius border--thin inline-block"
                style="padding: 1px 2px 0px 2px; margin-right: 2px;"
              >
                  AD
              </span>
            {% endif %}
            {{ ad.title }}
          </span>
          <span class="text--italic">{{ ad.displayUrl }}</span>
        </p>
        <p class="text-3 text--charcoal block">{{ ad.description }}</p>
        <span class="text-3 text--bold absolute top right padding-top-small" style="color: #FF8E6C;">AD</span>
      </a>
    {% endif %}
  {% endfor %}
{% endif %}
