{% set variation = abTesting.getTestVariation("sidebar_ad_june_21_2018") %}

{% if not app.request.cookies.get('ads_hidden') %}
  {% for ad in ads %}
    {%  if ad.visible %}
      <a
        href="{{ ad.url }}"
        target="_blank"
        rel="nofollow"
        class="xsmall-only-hidden small-only-hidden width-100 relative unit-horz margin-bottom-large padding-small"
        data-track-impression="{{ ts.event('AD_IMPRESSION') }}"
        data-track-props='{
          "ad": {
            "layout": "{{ adType is defined ? adType : 'a'}}",
            "provider": "{{ ad.providerName }}",
            "unit": "Sidebar Text Ad",
            "title": "{{ ad.title }}"
          }
        }'
        onmousedown='
         CC.track("{{ ts.event('AD_CLICK') }}", {
           ad: {
             provider: "{{ ad.providerName }}",
             unit: "Sidebar Text Ad",
             title: "{{ ad.title }}"
           }
         });ga("send","event", "Text Ad", "{{ ad.title }}", "{{ pageName }}");'
      >
        {% if variation == "red_bold" %}
          <p class="text-2 text--charcoal margin-bottom-xxsmall">
            <span class="text--bold block" style="color: #FF8E6C;">
              {{ ad.title }}
            </span>
            <span class="text--italic">{{ ad.displayUrl }}</span>
          </p>
          <p class="text-3 text--charcoal block">{{ ad.description }}</p>
          <span class="text-3 border-all border--thin padding-horz-xxsmall padding-top-xxsmall radius text--bold absolute top right margin-top-small" style="border-color: #FF8E6C; color: #FF8E6C;">AD</span>
        {% else %}
          <p class="text-3 text--charcoal margin-bottom-xxsmall">
            <span class="text--bold block">
              {{ ad.title }}
            </span>
            <span class="text--italic">{{ ad.displayUrl }}</span>
          </p>
          <p class="text-3 text--charcoal block">{{ ad.description }}</p>
          <span class="text-3 text--bold absolute top right padding-top-small" style="color: #FF8E6C;">AD</span>
        {% endif %}
      </a>
    {% endif %}
  {% endfor %}
{% endif %}
