{% if style is not defined  %}
    {% set style = "full" %}
{% endif %}
{% if page is not defined  %}
    {% set page = null %}
{% endif %}

<div class="classcentral-style">
  {% if style != "minimal" and style != "basic" %}
    {% if page != "home" and not app.user %}
      {% include 'ClassCentralSiteBundle:Helpers:cc.signup.html.twig' %}
    {% else %}
      {% include 'ClassCentralSiteBundle:Helpers:cc.social.html.twig' %}
    {% endif %}
  {% endif %}

  <footer class="width-centered {% if style != "full" %}{{ style }}-footer{% else %}bg-white{% endif %}" style="max-width: 1200px;">
    {% block footer %}
      {% if style == "full" %}
        <div class="row text-center padding-large large-up-padding-xxlarge">
          <div id="footer-links" class="col width-100 large-up-width-3-5 row border-box padding-bottom-xxlarge">
            <div class="col width-100 medium-up-width-1-2 text-center large-up-text-left border-box large-up-padding-right-medium">
              <h4 class="head-3 margin-bottom-medium">Browse online courses and MOOCs By</h4>
              <ul class="margin-bottom-large">
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Browse", "title": "Random"}'
                    title="Are you feeling lucky?"
                    class="text-2 text--blue"
                    href="/random"
                  >
                    Random
                  </a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Browse", "title": "Providers"}'
                    class="text-2 text--blue"
                    href="{{ path('providers') }}"
                  >
                    Providers
                  </a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Browse", "title": "Universities"}'
                    class="text-2 text--blue"
                    href="{{ path('universities') }}"
                  >
                    Universities
                  </a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Browse", "title": "Institutions"}'
                    class="text-2 text--blue"
                    href="{{ path('institutions') }}"
                  >
                    Institutions
                  </a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Browse", "title": "Subjects"}'
                    class="text-2 text--blue"
                    href="{{ path('subjects') }}"
                  >
                    Subjects
                  </a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Browse", "title": "Careers"}'
                    class="text-2 text--blue"
                    href="{{ path('careers') }}"
                  >
                    Careers
                  </a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Browse", "title": "Languages"}'
                    class="text-2 text--blue"
                    href="{{ path('languages') }}"
                  >
                    Languages
                  </a>
                </li>
              </ul>
            </div>
            <div class="col width-100 medium-up-width-1-2 text-center large-up-text-left border-box large-up-padding-right-medium">
              <h4 class="head-3 margin-bottom-medium">Quick Links</h4>
              <ul class="margin-bottom-large">
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "Top 50 MOOCs of All Time"}'
                    class="text-2 text--blue"
                    href="/report/top-moocs/"
                    title="Top 50 MOOCs of All Time"
                  >Top 50 MOOCs of All Time</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "Improve Your Writing Skills"}'
                    class="text-2 text--blue"
                    href="/report/writing-free-online-courses/"
                    title="25 Free Online Courses to Improve Your Writing Skills"
                  >Improve Your Writing Skills</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "edX"}'
                    class="text-2 text--blue"
                    href="/provider/edx"
                    title="edX"
                  >edX</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "Coursera"}'
                    class="text-2 text--blue"
                    href="/provider/coursera"
                    title="Coursera"
                  >Coursera</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "Udacity"}'
                    class="text-2 text--blue"
                    href="/provider/udacity"
                    title="Udacity"
                  >Udacity</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "FutureLearn"}'
                    class="text-2 text--blue"
                    href="/provider/futurelearn"
                    title="FutureLearn"
                  >FutureLearn</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "Stanford"}'
                    class="text-2 text--blue"
                    href="/university/stanford"
                    title="Stanford"
                  >Stanford</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "Harvard"}'
                    class="text-2 text--blue"
                    href="/university/harvard"
                    title="Harvard"
                  >Harvard</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "MIT"}'
                    class="text-2 text--blue"
                    href="/university/mit"
                    title="MIT"
                  >MIT</a>
                </li>
                <li class="margin-vert-xxsmall">
                  <a
                    data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                    data-track-props='{"type": "Quick Links", "title": "Google"}'
                    class="text-2 text--blue"
                    href="/institution/google"
                    title="Google"
                  >Google</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col xsmall-only-width-centered small-only-width-centered medium-only-width-centered width-100 medium-up-width-3-4 large-up-width-2-5 text-center large-up-text-left">
            <h3 class="head-3 margin-bottom-small">Class Central Newsletter</h2>
            <p class="text--charcoal text-2">Never miss a course.</p>
            <form action="{{ path('newsletter_subscribe_to',{code: 'mooc-report'}) }}" method="post" class="form margin-top-medium margin-bottom-small">
              <div class="row">
                <input type="email" name="email" required placeholder="Your email" class="col width-100 medium-up-width-3-5" />
                <div class="col width-100 medium-up-width-2-5">
                  <button type="submit" class="btn-blue width-100 xsmall-only-margin-top-small small-only-margin-top-small medium-up-margin-left-medium">Subscribe</button>
                </div>
              </div>
            </form>
            <p class="text--gray text-3">No spam. Unsubscribe at any time.</p>

            <h3 class="head-3 margin-bottom-small margin-top-large">About Class Central</h2>
            <p class="text--charcoal text-2">Class Central is a search engine and reviews site for free online courses popularly known as MOOCs or Massive Open Online Courses.</p>
            <ul class="margin-top-medium">
              <li class="margin-right-xsmall inline-block">
                <a
                  data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                  data-track-props='{"type": "More", "title": "MOOC Report"}'
                  class="text-2 text--blue"
                  href="/report"
                >MOOC Report</a>
              </li>
              <li class="margin-right-xsmall inline-block">
                <a
                  class="text-2 text--blue"
                  href="{{ path('ClassCentralSiteBundle_faq') }}"
                  title="Frequently asked questions about MOOCs"
                  data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                  data-track-props='{"type": "More", "title": "FAQ"}'
                >
                  FAQ
                </a>
              </li>
              <li class="margin-right-xsmall inline-block">
                <a
                  data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                  data-track-props='{"type": "Connect", "title": "Email"}'
                  class="text-2 text--blue"
                  href="mailto:contact@class-central.com"
                  title="Class Central Contact"
                >
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
          <div id="footer-copyright" class="col width-100 margin-vert-large text-left">
            <span class="symbol-classcentral-gray symbol--small inline-block"></span>
            <span class="text-3 text--gray">&copy; Copyright 2011-{{ "now"|date("Y") }}</span>
            <a
              data-track-click="{{ ts.event('FOOTER_CLICK') }}"
              data-track-props='{"type": "More", "title": "Privacy Policy"}'
              class="text-3 text--gray text--underline inline-block margin-left-xsmall"
              href="{{ path('ClassCentralSiteBundle_privacy') }}"
            >Privacy Policy</a>
          </div>
        </div>
      {% endif %}
      {% if style == "minimal" %}
        <div class="text-center medium-up-margin-vert-xxlarge padding-xlarge">
          <span class="text-3 text--charcoal">&copy; <span class="small-only-hidden">Class Central</span> 2011-{{ "now"|date("Y") }}</span>
          <ul class="inline-block margin-left-medium">
            <li class="inline-block medium-up-padding-horz-medium small-only-padding-horz-xsmall xsmall-only-padding-horz-xsmall">
              <a
                class="text-3 text--charcoal"
                href="{{ path('ClassCentralSiteBundle_faq') }}"
                title="Frequently asked questions about MOOCs"
                data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                data-track-props='{"type": "More", "title": "FAQ"}'
              >
                FAQ
              </a>
            </li>
            <li class="inline-block medium-up-padding-horz-medium small-only-padding-horz-xsmall xsmall-only-padding-horz-xsmall">
              <a
                class="text-3 text--charcoal"
                href="{{ path('ClassCentralSiteBundle_privacy') }}"
                data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                data-track-props='{"type": "More", "title": "Privacy"}'
              >
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
      {% if style == "basic" %}
        <div class="text-center padding-large">
          <span class="small-only-hide">
            <span class="symbol-classcentral-gray symbol--small inline-block margin-right-medium"></span>
          </span>
          <span class="text-3 text--gray">&copy; <span class="small-only-hidden">Copyright</span> 2011-{{ "now"|date("Y") }}</span>
          <ul class="inline-block margin-left-medium">
            <li class="inline-block medium-up-padding-horz-medium small-only-padding-horz-xsmall xsmall-only-padding-horz-xsmall">
              <a
                class="text-3 text--gray"
                href="{{ path('ClassCentralSiteBundle_faq') }}"
                title="Frequently asked questions about MOOCs"
                data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                data-track-props='{"type": "More", "title": "FAQ"}'
              >
                FAQ
              </a>
            </li>
            <li class="inline-block medium-up-padding-horz-medium small-only-padding-horz-xsmall xsmall-only-padding-horz-xsmall">
              <a
                class="text-3 text--gray"
                href="{{ path('ClassCentralSiteBundle_privacy') }}"
                data-track-click="{{ ts.event('FOOTER_CLICK') }}"
                data-track-props='{"type": "More", "title": "Privacy"}'
              >
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
    {% endblock %}

    {# Session flash messages #}
    <div class="flash-messages hidden">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-message" data-type="{{ type }}" data-title="{{ message.title }}" data-delay="{{ message.delay }}">{{ message.text }}</div>
            {% endfor %}
        {% endfor %}
    </div>
  </footer>
</div>
