<!DOCTYPE html>

{% set showProfileEditModal = false %}
{% for flashMessage in app.session.flashbag.get('show_post_signup_profile_modal') %}
    {% set showProfileEditModal = true %}
{% endfor %}

<html lang="en" class="bg-cc-gradient">

{% if app.request.get('_route') == 'ClassCentralSiteBundle_homepage' %}
    <head itemscope itemtype="http://schema.org/WebSite">
{% else %}
    <head>
{% endif %}

    <meta name="google-signin-client_id" content="543074773853-5o4th7sqent0dc5f0slvn0cakr152fpv.apps.googleusercontent.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block headmeta %}
    {% endblock %}

    {{ include ('ClassCentralSiteBundle:Layouts:_icons.html.twig') }}
    <link rel="search" type="application/opensearchdescription+xml" href="{{ asset('bundles/classcentralsite/xml/opensearch.xml') }}" title="Class Central MOOC search" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ assetService.getBundledAssetFileName('cc-style.css') }}" />

    <!-- Google+ Direct connect -->
    <link href="https://plus.google.com/{{plusPageUrl}}" rel="publisher" />
    <script type="text/javascript">
        user_logged_in = 0;
        {% if app.user %}
            user_logged_in = 1;
        {% endif %}
    </script>

    {{ include ('ClassCentralSiteBundle:Layouts/Tracking:head.html.twig') }}
</head>

<script>
    (function(d) {
        var config = {
                kitId: 'gdf6zoz',
                scriptTimeout: 3000,
                async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
</script>

<body>

  <div class="contain-body">
    <div class="contain-page">
      {% include 'ClassCentralSiteBundle:Layouts:header.html.twig' %}
      {%  block content %}
      {% endblock %}
    </div>

    {# Footer #}
    {% include 'ClassCentralSiteBundle:Layouts:_footer.html.twig' with { style: "minimal" } %}
  </div>

  {# Footer scripts #}
  {% include 'ClassCentralSiteBundle:Layouts:_scripts.html.twig' %}
  {# Modals #}
  {% include 'ClassCentralSiteBundle:Layouts:_modal.html.twig' %}
  
  <script type="text/javascript">
      {% block customJS %}
      {% endblock %}
  </script>
  {# Tracking / Analytics #}
  {% include 'ClassCentralSiteBundle:Layouts/Tracking:footer.html.twig' %}
  {# Google Auth #}
  {% include 'ClassCentralSiteBundle:Layouts/Auth:google.html.twig' %}

  {% block beforeClosingBody %}
  {% endblock %}
</body>
</html>
