<!DOCTYPE html>

{% set showProfileEditModal = false %}
{% for flashMessage in app.session.flashbag.get('show_post_signup_profile_modal') %}
    {% set showProfileEditModal = true %}
{% endfor %}

<html lang="en" class="sticky-footer">

{% if app.request.get('_route') == 'ClassCentralSiteBundle_homepage' %}
    <head itemscope itemtype="http://schema.org/WebSite">
{% else %}
    <head>
{% endif %}

    <meta name="google-signin-client_id" content="543074773853-5o4th7sqent0dc5f0slvn0cakr152fpv.apps.googleusercontent.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block headmeta %}
    {% endblock %}

    <link rel="shortcut icon"  type="image/x-icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}">
    <link rel="icon"  type="image/x-icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ asset('bundles/classcentralsite/xml/opensearch.xml') }}" title="Class Central MOOC search" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if ccStyleOnly is not defined or ccStyleOnly != true or app.user %}
      <link rel="stylesheet" href="{{ assetService.getBundledAssetFileName('cc.css') }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ assetService.getBundledAssetFileName('cc-style.css') }}" />

    <!-- Google+ Direct connect -->
    <link href="https://plus.google.com/{{plusPageUrl}}" rel="publisher" />
    <script type="text/javascript">
        user_logged_in = 0;
        {% if app.user %}
            user_logged_in = 1;
        {% endif %}
    </script>

    {{ include ('ClassCentralSiteBundle:Layouts/Tracking:head.html.twig') }}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}"  />
</head>

<script>
    (function(d) {
        var config = {
                kitId: 'gdf6zoz',
                scriptTimeout: 3000,
                async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
</script>

<body>

  <!-- star rating and other new svg icons -->
  <svg style="display: none;">
    <symbol viewBox="0 0 50 48" id="shape-star-full">
    <path d="M50.243 18.22c-0.131-0.399-0.507-0.674-0.928-0.674h-17.747l-5.494-16.872c-0.132-0.401-0.506-0.673-0.928-0.674s-0.798 0.272-0.928 0.673l-5.525 16.873h-17.716c-0.421 0-0.798 0.273-0.928 0.674s0.013 0.843 0.353 1.091l14.337 10.443-5.523 16.967c-0.132 0.4 0.012 0.843 0.353 1.092 0.342 0.247 0.807 0.247 1.149 0l14.428-10.475 14.398 10.475c0.172 0.125 0.373 0.187 0.575 0.187 0.2 0 0.401-0.062 0.573-0.187 0.344-0.25 0.485-0.69 0.354-1.092l-5.525-16.966 14.368-10.443c0.341-0.247 0.485-0.69 0.355-1.092z"></path>
    </symbol>
    <symbol viewBox="0 0 50 48" id="shape-star-half-left">
    <path d="M25.145 0c-0.421 0-0.798 0.272-0.928 0.673l-5.525 16.873h-17.716c-0.421 0-0.798 0.273-0.928 0.674s0.013 0.843 0.353 1.091l14.337 10.443-5.523 16.967c-0.132 0.4 0.012 0.843 0.353 1.092 0.342 0.247 0.807 0.247 1.149 0l14.428-10.475z"></path>
    </symbol>
    <symbol viewBox="0 0 1073 1024" id="shape-star-half-right">
      <path class="path1" d="M536.45 796.554l307.803 223.476c7.295 5.278 17.23 5.278 24.526 0 7.274-5.321 10.342-14.763 7.531-23.302l-117.821-361.961 305.829-222.79c7.253-5.3 10.299-14.763 7.553-23.281-2.789-8.561-10.814-14.398-19.826-14.398h-377.946l-117.864-359.944c-2.789-8.561-10.814-14.355-19.805-14.355z"></path>
    </symbol>
  </svg>

  <div class="contain-page">
    {% if contextBar is not defined  %}
        {% set contextBar = null %}
    {% endif %}
    {% set navbarData = apiService.getNavbarData(contextBar) %}

    <div id="header">{{ reactService.component('header', '', navbarData)|raw }}</div>

    {%  block contentheader %}
    {% endblock %}

    {% block ccfullcontent %}
    {% endblock %}

    {%  block content %}
    {% endblock %}

    {# Rating popup box #}
    {% include 'ClassCentralSiteBundle:Helpers:rating.popup.html.twig' %}
  </div>

  {# Footer #}
  {% include 'ClassCentralSiteBundle:Layouts:_footer.html.twig' with { style: "full" } %}
  {# Footer scripts #}
  {% include 'ClassCentralSiteBundle:Layouts:_scripts.html.twig' %}
  <script type="text/javascript">
      {% block customJS %}
      {% endblock %}
  </script>
  {# Tracking / Analytics #}
  {% include 'ClassCentralSiteBundle:Layouts/Tracking:footer.html.twig' %}

  {% block beforeClosingBody %}
  {% endblock %}
</body>
</html>
