{% extends 'ClassCentralSiteBundle::Mail/layout/borderless.html.twig' %}

{%  block content %}
<tr>
  <td valign="top" class="bodyContentMiddle">
    <a href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign,
        redirect: 'https://www.class-central.com/report/coursera-free-online-courses'}) }}">
      <img width="700" style="max-width: 100%;" src="https://d3r3mog6nu8pt4.cloudfront.net/mooc-report/coursera-free-courses-email.jpg" alt="Completely free Coursera courses" />
    </a>
  </td>
</tr>
<tr>
  <td valign="top" class="bodyContentMiddle">
    <div style="background: #ffffff; padding: 20px 30px 0px 30px;">
      <p style="color: #454545; text-align: left; font-size: 14px; line-height: 18px;">

        Hello {{user.displayName}},
        <br><br>
        Generally speaking, Coursera courses are free to audit but if you want to access graded assignments or earn a Course Certificate, you will need to pay. But I always knew that there were a few courses that were still completely free. So I decided to compile a list of these courses and to my surprise (rather shock) I found more than 1,150 Coursera MOOCs that are still completely free. Click the link below to see the entire list.
      </p>
    </div>
  </td>
</tr>
<tr>
  <td valign="middle" align="center" class="bodyContentCTA">
    <div style="background: #ffffff; padding: 10px 0px 30px 0px; text-align: center;">
      <a href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign,
          redirect: 'https://www.class-central.com/report/coursera-free-online-courses'}) }}" class="btn-blue" style="background: #0E4DF1; border-radius: 10px; padding: 15px 20px 15px 20px; color: #ffffff; text-decoration: none; display: inline-block;">
        <span style="color: #ffffff; text-decoration: none;">View courses</span>
      </a>
    </div>
  </td>
</tr>
{% endblock %}
