{% extends 'ClassCentralSiteBundle::Mail/layout/borderless.html.twig' %}

{%  block content %}
<tr>
  <td valign="top" class="bodyContentMiddle">
    <img width="700" style="max-width: 100%;" src="{{ baseUrl }}/bundles/classcentralsite/images/email/best-new-course-2017-email.png" alt="The Best New Courses of 2017" />
  </td>
</tr>
<tr>
  <td valign="top" class="bodyContentMiddle">
    <div style="background: #ffffff; padding: 20px 50px 0px 50px;">
      <p style="color: #454545; text-align: left; font-size: 16px;">

        Hello {{user.displayName}},
        <br><br>
        It’s that time of year again! Every year Class Central publishes a list of the best new online courses of the year, based on reviews from our users.
        <br><br>
        If you’ve taken a course that was new this year, now is the time to leave your review. Check out our complete listing of new courses by subject, and contribute your review today.
      </p>
    </div>
  </td>
</tr>
<tr>
  <td valign="middle" align="center" class="bodyContentCTA">
    <div style="background: #ffffff; padding: 0px 0px 20px 0px; text-align: center;">
      <a href="{{ baseUrl }}{{ path('vote_best_online_courses_2017',{autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign}) }}" class="btn-blue" style="background: #0E4DF1; border-radius: 10px; padding: 15px 20px 15px 20px; color: #ffffff; text-decoration: none; display: inline-block;">
        <span style="color: #ffffff; text-decoration: none;">Find your course now</span>
      </a>
    </div>
  </td>
</tr>
<tr>
  <td align="center" valign="top">
    <h3 style="font-weight: bold; color: #3B3B3B; padding: 10px 0px 0px 0px;">Check out top courses from previous years</h3>
    <table border="0" cellpadding="0" cellspacing="0" width="85%">
      <tr>
        <td valign="middle" align="center" class="bodyContentCTA" width="50%">
          <a href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign,
              redirect: 'https://www.class-central.com/report/best-free-online-courses-2016'}) }}" style="color: #5074E9; text-decoration: none;" class="text--blue">
            <span style="color: #5074E9; text-decoration: none; font-size: 16px;">
              <img src="{{ baseUrl }}/bundles/classcentralsite/images/email/star-blue.png" alt="Star" width="24px" style="vertical-align: bottom;" />
              2016 Best Online Courses
            </span>
          </a>
        </td>
        <td valign="middle" align="center" class="bodyContentCTA" width="50%">
          <a href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign,
              redirect: 'https://www.class-central.com/report/best-free-online-courses-2015'}) }}" style="color: #5074E9; text-decoration: none;" class="text--blue">
            <span style="color: #5074E9; text-decoration: none; font-size: 16px;">
              <img src="{{ baseUrl }}/bundles/classcentralsite/images/email/star-blue.png" alt="Star" width="24px" style="vertical-align: bottom;" />
              2015 Best Online Courses
            </span>
          </a>
        </td>
      </tr>
    </table>
    <br><br>
  </td>
</tr>
{% endblock %}
