<!DOCTYPE html>
<html lang="en" class="sticky-footer" style="background-color: #F2F2F2;">
    <head>
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% set currentUrl = baseurl ~ currentPath %}
    <title>{{ title }} - {{ subtitle }}</title>
    <meta name="google-signin-client_id" content="543074773853-5o4th7sqent0dc5f0slvn0cakr152fpv.apps.googleusercontent.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{{ imageService.getScreenshotUrl(currentUrl) }}">


        <link rel="shortcut icon"  type="image/x-icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}">
    <link rel="icon"  type="image/x-icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ asset('bundles/classcentralsite/xml/opensearch.xml') }}" title="Class Central MOOC search" />

    <meta name="description" content="{{ subtitle }}" />
    <meta property="og:title" content="{{ title }}" />

    <meta property="og:url" content="{{ currentUrl }}" />
    <link rel="canonical" href="{{ currentUrl }}">
    <meta property="og:description" content="{{ subtitle }}" />
    <meta property="og:site_name" content="Class Central"/>


    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@classcentral" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ subtitle }}" />
    <meta name="twitter:image" content="{{ imageService.getScreenshotUrl(currentUrl) }}" />




        {% if ccStyleOnly is not defined or ccStyleOnly != true or app.user %}
      <link rel="stylesheet" href="{{ assetService.getBundledAssetFileName('cc.css') }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ assetService.getBundledAssetFileName('cc-style.css') }}" />

    {{ include ('ClassCentralSiteBundle:Layouts/Tracking:head.html.twig') }}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}"  />
</head>

<script>
    (function(d) {
        var config = {
                kitId: 'gdf6zoz',
                scriptTimeout: 3000,
                async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
</script>

<body style="background-color: #F2F2F2;">
  <div class="classcentral-style">
    <section class="bg-gray padding-large" style="max-width: 700px;">
      <div class="radius bg-white padding-medium">
        <h1 class="text-left padding-left-xsmall padding-bottom-small border-bottom row">
          <div class="col push width-100 medium-up-width-1-3 text-right padding-top-small">
            <i class="symbol-classcentral-blue symbol--small"></i>
          </div>
          <div
            class="col pull text-center medium-up-text-left width-100 medium-up-width-2-3 margin-top-small medium-up-margin-top-reset"
          >
            <span class="head-3 medium-up-head-2 block">
              {{ title }}
            </span>
            {% if subtitle is defined %}
              <span class="text-3 medium-up-text-2">
                {{ subtitle }}
              </span>
            {% endif %}
          </div>
        </h1>
        <table class="table table--small">
          <thead>
            <tr>
              {% for header in headers %}
              <th class="{{ header.className }}">{{ header.title }}</th>
              {% endfor %}
            </tr>
          </thead>
          {% for row in rows %}
            <tr>
              <td class="text-left">
                <h3 class="text--bold">{{ row.title }}</h3>
                {% if row.subtitle is defined %}
                  <h4 class="text--italic text-4 margin-top-xxsmall">{{ row.subtitle }}</h4>
                {% endif %}
              </td>
              {% if row.duration is defined %}
                <td class="text-center">{{ row.duration }}</td>
              {% endif %}
              <td class="text-right"><p>{{ row.price | raw }}</p></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% if footer is defined %}
        {% include 'ClassCentralSiteBundle:Pricing:' ~ footer ~ '.footer.html.twig' %}
      {% endif %}
    </section>
  </div>
</body>
</html>
