{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
    <title>List of {{offeringTypes[offeringType]['desc']}} free online courses/MOOCs | Class Central</title>
    <meta name="description" content="List of {{offeringTypes[offeringType]['desc']}} free online courses/MOOCs aggregated by Class Central"/>

    <meta property="og:title" content="List of {{offeringTypes[offeringType]['desc']}} free online courses/MOOCs | Class Central" />
    <meta property="og:url" content="{{ baseurl }}{{ path('ClassCentralSiteBundle_courses',{'type': offeringType}) }}" />
    <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    <meta property="og:description" content="List of {{offeringTypes[offeringType]['desc']}} free online courses/MOOCs aggregated by Class Central." />
    <meta property="og:type" content="website" />

    {# paginated content #}
    {% include 'ClassCentralSiteBundle:Helpers:paginationRelTags.html.twig' with
        { 'pageNo': pageNo, 'totalCourses': results.hits.total }
    %}
{% endblock %}

{%  block content %}
  <div class="classcentral-style">
    <header class="width-centered padding-horz-large margin-vert-large" style="max-width: 1250px;">
      <div class="row">
        <div class="col width-100 large-up-width-3-5 padding-right-large">
          <h1 class="margin-vert-medium">
            <strong class="head-1 text--bold">{{ offeringTypes[offeringType]['nav'] }}</strong>
          </h1>
        </div>

        <div class="col width-100 large-up-width-2-5 medium-up-margin-top-medium large-up-margin-top-large">
          {%  include 'ClassCentralSiteBundle:Helpers:pageHeaderImageAds.html.twig' %}
        </div>
      </div>
    </header>

    <section class="width-centered padding-horz-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
      <div class="row">
        <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects': allSubjects, 'offLanguages': allLanguages } %}
        </div>
        <div class="col width-100 large-up-width-3-4 tables-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'statustable'} %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
