<table class="table table-striped table-bordered" id='{{ tableId}}list'>
    <thead>
    <tr>
        {#<th class="introcolumn" onmousedown="_gaq.push(['_trackEvent', 'Table Header Click - sort', '{{ tableId }}', 'intro'])">Intro Video</th>#}
        <th class="add-column">Add</th>
        <th class="sorting course-name-column" onmousedown="_gaq.push(['_trackEvent', 'Table Header Click - sort', '{{ tableId }}', 'Course Name'])">
            <div class="arrow-wrap">
                Course Name
                <p class="sorting-arrows">
                    <span>
                        <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 -3 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                    </span>
                    <span>
                        <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 3 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                    </span>
                </p>
            </div>
        </th>
        {#<th class="sorting instructors" onmousedown="_gaq.push(['_trackEvent', 'Table Header Click - sort', '{{ tableId }}', 'Instructor'])">Instructor(s)</th>#}
        {# hide the stream column on stream pages #}
        {% if page is defined and page != 'stream' and page=='home' %}<th class="sorting subject" onmousedown="_gaq.push(['_trackEvent', 'Table Header Click - sort', '{{ tableId }}', 'Subject'])">Subject</th> {% endif %}
        <th class="sorting start-date" onmousedown="_gaq.push(['_trackEvent', 'Table Header Click - sort', '{{ tableId }}', 'Start Date'])">
            <div class="arrow-wrap">
                Start Date
                <p class="sorting-arrows">
                    <span>
                        <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 -3 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                    </span>
                    <span>
                        <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 3 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                    </span>
                </p>
            </div>
        </th>
        {# <th class="sorting offering-length" onmousedown="_gaq.push(['_trackEvent', 'Table Header Click - sort', '{{ tableId }}', 'Length'])">Length</th> #}
        {# hide the initiative column on initiative pages #}
        {% if page is defined and page != 'initiative' %}<th class="sorting" onmousedown="_gaq.push(['_trackEvent', 'Table Header Click - sort', '{{ tableId }}', 'Initiative'])">Provider</th> {% endif %}
        <th class="sorting course-rating-column" onmousedown="_gaq.push(['_trackEvent', 'Table Header Click - sort', '{{ tableId }}', 'Rating'])">
            <div class="arrow-wrap">
                Rating
                <p class="sorting-arrows">
                    <span>
                        <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 -3 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                    </span>
                    <span>
                        <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 3 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                    </span>
                </p>
            </div>
        </th>
    </tr>
    </thead>
    <tbody class="table-body-{{ tableId }}">
    {% for offering in offerings %}
        <tr itemscope itemtype="http://schema.org/Event">
            {#
            <td class="introcolumn" style="padding: 5px 0px 0px 5px">
                {% if offering['videoIntro'] is not null %}
                    <a href="{{ offering['videoIntro'] }}" rel="intro" title=" {{ offering['name'] }}">
                        <img src="{{ asset('bundles/classcentralsite/images/youtube.png') }}" alt="" height="25" width="25"/>
                    </a>
                {% endif %}
            </td>
            #}

            {# add to profile column #}
            <td class="add-column">
                {# filter information #}
                <div class="subjectSlug" style="display: none">{{ offering['stream']['slug'] }}</div>
                <div class="languageSlug" style="display: none">{{ offering['language']['name'] }}</div>

                <div class="dropdown">
                    {% set userListIds = user_session.getCourseListIds(offering.courseId) %}
                    {# span id is same as the name of the input checkbox#}
                    <a class="add-button dropdown-toggle" href="#" data-toggle="dropdown">
                        <span id="check-{{ tableId }}-{{ offering.courseId }}">
                            {% if userListIds is empty %}
                                <svg class="icon-plus" viewBox="0 0 32 32"><use xlink:href="#icon-plus"></use></svg>
                            {% else %}
                                <svg class="icon-minus" viewBox="0 0 32 32"><use xlink:href="#icon-minus"></use></svg>
                            {% endif %}
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-list-header">My Courses</li>
                        {% for listId, list in listTypes %}
                            <li>
                                <input type="checkbox" name="check-{{ tableId }}-{{ offering.courseId }}" class = "course-list-checkbox" id="check-{{ listId }}-{{ offering.courseId }}" value="{{ listId }}" data-course-id = "{{ offering.courseId }}"
                                       {% if listId in userListIds %}checked="checked"{% endif %} data-course-name="{{ offering.name }}"
                                        >
                                <label for="check-{{ listId }}-{{ offering.courseId }}">{{ list.desc }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </td>

            <td class="course-name-column">
                <a class="course-name" itemprop='url' href="{{ path('ClassCentralSiteBundle_mooc',{'id': offering['courseId'], 'slug': offering['courseSlug']} ) }}"
                   onmousedown='recordInboundLink(
                           "{{ path('ClassCentralSiteBundle_mooc',{'id': offering['courseId'], 'slug': offering['courseSlug']} ) }}",
                           "{{offering['initiative']['name']}}","{{offering['name']}}","{{ tableId }}");return false'

                   title="{{ offering['name'] }} - MOOC" class="course-name"><span itemprop="name">{{ offering['name'] }}</span></a>

                {# showing institutions and universities #}
                {% if offering['institutions']|length > 0 and showInstitution is not defined  %}
                    <ul class="table-uni-list">
                        {% for institution in offering['institutions'] %}
                            {% set route = 'ClassCentralSiteBundle_university' %}
                            {% if not institution['isUniversity'] %}
                                {% set route = 'ClassCentralSiteBundle_institution' %}
                            {% endif %}
                            <li>
                                <a class="uni-name" href="{{ path(route,{'slug' : institution['slug']})}}" title="List of {{institution['name']}} MOOCs" onClick="_gaq.push(['_trackEvent', 'Inbound Clicks - University', '{{institution['name']}}', '{{offering['name']}}'])">{{institution['name']}}</a>
                                <span class="via">via</span>
                                {% if offering['initiative']['name']|length > 0%}
                                    <a href="{{ path('ClassCentralSiteBundle_initiative', {'type': offering['initiative']['code'] }) }}"  class="initiativelinks" title="List of {{ offering['initiative']['tooltip'] }} MOOCs" onClick="_gaq.push(['_trackEvent', 'Inbound Clicks - Initiative', '{{ offering['initiative']['name'] }}', '{{offering['name']}}'])"> {{ offering['initiative']['name'] }}</a>
                               {% endif %}
                            </li>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </td>
            {#
            <td class="instructors">
                {% set i = 0 %}
                {% for instructor in offering['instructors'] %}
                    {% if i > 0 %}
                        <br />{{ instructor }}
                    {% else %}
                        {{ instructor }}
                    {% endif %}
                    {% set i = i + 1 %}
                {% endfor %}

            </td>
            #}
            {# hide the stream column on stream pages #}
            {# hide the stream/subject column for all pages except home page #}
            {% if page is defined and page != 'stream' and page=='home' %}
                <td> <a class="subject" href="{{ path('ClassCentralSiteBundle_stream', {'slug': offering['stream']['slug']} ) }}" title="List of {{ offering['stream']['name'] }} MOOCs" onClick="_gaq.push(['_trackEvent', 'Inbound Clicks - Stream', '{{offering['stream']['name']}}', '{{offering['name']}}'])" data-category="{{offering['stream']['name']}}">{{ offering['stream']['name'] }} </a>
                </td>
            {% endif %}

            <td class="start-date" itemprop="startDate" content="{{ offering['microdataDate'] }}" data-timestamp="{{ offering['startTimeStamp'] }}">{{ offering['displayDate'] }}</td>

            {#
            <td class="offering-length" data-timestamp = {% if offering['length'] is null %} 100 {% else %} {{ offering['length'] }} {% endif %}}>
            {% if offering['length'] is not null %}
                {{ offering['length'] }} weeks
            {% else %}
                NA
            {% endif %}
            </td>
            #}

            {# hide the initiative column on initiative pages #}
            {% if page is defined and page != 'initiative'  %}
                <td>
                    {% if offering['initiative']['name']|length > 0%}
                        <a href="{{ path('ClassCentralSiteBundle_initiative', {'type': offering['initiative']['code'] }) }}"  class="initiativelinks" title="List of {{ offering['initiative']['tooltip'] }} MOOCs" onClick="_gaq.push(['_trackEvent', 'Inbound Clicks - Initiative', '{{ offering['initiative']['name'] }}', '{{offering['name']}}'])"> {{ offering['initiative']['name'] }}</a>
                    {% endif %}
                </td>
            {% endif %}

            <td data-timestamp="{{ reviewService.getRatings(offering.courseId) }}">
                <div class="course-rating" data-score="{{ reviewService.getRatings(offering.courseId) }}">
                    <meta itemprop="ratingValue" content="{{ reviewService.getRatings(offering.courseId) }}">
                </div>
            </td>

        </tr>
    {% endfor %}

    </tbody>
</table>
