{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}        
    <title>List of {{offeringTypes[offeringType]['desc']}} free online courses/MOOCs | Class Central</title>
    <meta name="description" content="List of {{offeringTypes[offeringType]['desc']}} free online courses/MOOCs aggregated by Class Central"/>

    <meta property="og:title" content="List of {{offeringTypes[offeringType]['desc']}} free online courses/MOOCs | Class Central" />
    <meta property="og:url" content="{{ baseurl }}{{ path('ClassCentralSiteBundle_courses',{'type': offeringType}) }}" />
    <meta property="og:image" content="http://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    <meta property="og:description" content="List of {{offeringTypes[offeringType]['desc']}} free online courses/MOOCs aggregated by Class Central." />
    <meta property="og:type" content="website" />
{% endblock %}  

{%  block content %}

    <div id="filter-wrap">
    {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':offSubjects,'offLanguages':offLanguages } %}
        <div class="tables-wrap">
        {% if offerings[offeringType] is not null and offerings[offeringType]|length > 0 %}
            <h2 class="tabletitle" id="{{offeringType}}">{{offeringTypes[offeringType]['nav']}} (<span id="{{ offeringType }}-count">{{ offerings[offeringType]|length }}</span>)</h2>
            {% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':offerings[offeringType],'tableId':offeringType} %}
        {% endif %}
        </div>
    </div>
{% endblock %}
