{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}               
<title>Class Central  • Free online courses AKA MOOC aggregator</title>
<meta name="description" 
      content="Class Central is a free online course aka MOOC aggregator from top universites like Stanford, MIT, Harvard, etc. offered via Coursera, Udacity, edX, Canvas Network, & others."/>
 {% endblock %}  

{%  block content %}
<div class="hero-unit ">    
        <div>
            <div class='cc-home-logo'>
                <img src="{{ asset('bundles/classcentralsite/slashpixel/images/classcentral_logo.png') }}" title="Class Central logo"/>
            </div>
            <div class='cc-home-form'>
                <form action="{{ path('ClassCentralSiteBundle_search') }}" method="get" name="search">          
                    <div class="cc-search-elements">
                        <input type="text" name="q" placeholder="search for courses" class="input-xxxlarge">   
                        <button class='btn btn-search'>
                            <i class="icon-search"></i>
                        </button> 
                    </div>     
                </form>
            </div>
        </div>
        <h1>Class Central is a free online course aka MOOC aggregator from top universites like Stanford, MIT, Harvard, etc. offered via Coursera, Udacity, edX, Canvas Network, & others  <a data-toggle="modal" href="#learnmore" class="btn btn-inverse btn-small">Learn More</a></h1>
        

    <ul class="nav nav-pills">  
              {% for offeringType, offeringDetails in offeringTypes %}
                  {% if offerings[offeringType] is not null and offerings[offeringType]|length > 0 %}
            <li><a href="#{{offeringType}}list">{{offeringDetails.nav}} ({{ offerings[offeringType]|length }})</a></li>
                  {% endif %}
              {% endfor %}                          
        </ul>

        <div class="news">
            <div class="row-fluid">
                <div class="span3">
                    <p class="newstitle">Get the latest updates</p>
                            {% include 'ClassCentralSiteBundle:Helpers:social_buttons.html.twig' with{} %}
                </div>
                <div class="span9">
                           {% include 'ClassCentralSiteBundle:Helpers:news.html.twig' with{} %}
                    </div>
                </div>
            </div>
        </div>
{% for offeringType, offeringDetails in offeringTypes %}
    {% if offerings[offeringType] is not null and offerings[offeringType]|length > 0 %}
        <h1 class="tabletitle" id="{{offeringType}}">{{offeringDetails.desc}} ({{ offerings[offeringType]|length }})</h1> 	  
        {% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':offerings[offeringType],'tableId':offeringType} %}
    {% endif %}    
{% endfor %}

{# Include the learn more model box #}
{% include 'ClassCentralSiteBundle:Helpers:faq.html.twig' with{} %}       
        
{% endblock %}  
