{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
  {% include 'ClassCentralSiteBundle:Default:meta.html.twig' %}
{% endblock %}

{% block content %}

  {% set userData = apiService.getUserInfo() %}
  <!-- banner -->
  <div class="classcentral-style">
    <section data-slideshow="homepage" class="cc-gradient-gold">
      <div class="relative width-100 width-centered" style="max-width: 1400px;">
        <nav class="absolute">
          <button data-slideshow-target="0" class="bg-blue inline-block">1</button>
          <button data-slideshow-target="1" class="bg-blue transparent inline-block">2</button>
          <button data-slideshow-target="2" class="bg-blue transparent inline-block">3</button>
          <button data-slideshow-target="3" class="bg-blue transparent inline-block">4</button>
        </nav>
        <ul>
          {% set homePageBannerImage = "/bundles/classcentralsite/images/banner-2017-best-courses-homepage.png" %}
          {% set homePageBannerImageMobile = "/bundles/classcentralsite/images/banner-2017-best-courses-homepage-mobile.png" %}
          {% if app.environment == 'prod' %}
              {% set homePageBannerImage = imageService.cropImage(baseurl~homePageBannerImage) %}
              {% set homePageBannerImageMobile = imageService.cropImage(baseurl~homePageBannerImageMobile) %}
          {% endif %}
          <li id="ss-1" data-slideshow-item='{ "index": 0, "bg": "cc-gradient-gold" }' class="active absolute top left width-100">
            <h2>
              <img
                class="width-100"
                src="{% if isMobile %}{{ homePageBannerImageMobile }}{% else %}{{ homePageBannerImage }}{% endif %}"
                alt="The Best Online Courses of 2017"
                data-media-switch="802"
                data-large="{{ homePageBannerImage }}"
                data-small="{{ homePageBannerImageMobile }}"
              />
            </h2>
            <div class="absolute width-100 text-center inline-block">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Banner", "title": "2017 Best Online Courses Results" }'
                href="https://www.class-central.com/report/best-free-online-courses-2017/"
                class="btn-blue btn--large large-only-btn--medium"
              >
                View Now
              </a>
            </div>
          </li>
          {% set homePageBannerImage = "/bundles/classcentralsite/images/banner-find-the-best-online-courses-from-top-universities.png" %}
          {% set homePageBannerImageMobile = "/bundles/classcentralsite/images/banner-find-the-best-online-courses-from-top-universities-mobile.png" %}
          {% if app.environment == 'prod' %}
              {% set homePageBannerImage = imageService.cropImage(baseurl~homePageBannerImage) %}
              {% set homePageBannerImageMobile = imageService.cropImage(baseurl~homePageBannerImageMobile) %}
          {% endif %}
          <li id="ss-2" data-slideshow-item='{ "index": 1, "bg": "cc-gradient-orange-green" }' class="next absolute top left width-100">
            <h2>
              <img
                class="width-100"
                src="{% if isMobile %}{{ homePageBannerImageMobile }}{% else %}{{homePageBannerImage}}{% endif %}"
                alt="Find the Best Online Courses from Top Universities"
                data-media-switch="802"
                data-large="{{ homePageBannerImage }}"
                data-small="{{ homePageBannerImageMobile }}"
              />
            </h2>
            <div class="absolute width-100 text-center inline-block">
              {% include 'ClassCentralSiteBundle:Default:recommendations.html.twig' with { mobile: false } %}
            </div>
          </li>
          {% set homePageBannerImage = "/bundles/classcentralsite/images/year-in-review/banner-2017-year-in-review-homepage.png" %}
          {% set homePageBannerImageMobile = "/bundles/classcentralsite/images/year-in-review/banner-2017-year-in-review-homepage-mobile.png" %}
          {% if app.environment == 'prod' %}
              {% set homePageBannerImage = imageService.cropImage(baseurl~homePageBannerImage) %}
              {% set homePageBannerImageMobile = imageService.cropImage(baseurl~homePageBannerImageMobile) %}
          {% endif %}
          <li id="ss-3" data-slideshow-item='{ "index": 2, "bg": "cc-gradient-2017" }' class="absolute top left width-100">
            <h2>
              <img
                class="width-100"
                src="{% if isMobile %}{{ homePageBannerImageMobile  }}{% else %}{{ homePageBannerImage }}{% endif %}"
                alt="Class Central's 2017 Year in Review"
                data-media-switch="802"
                data-large="{{ homePageBannerImage }}"
                data-small="{{ homePageBannerImageMobile }}"
              />
            </h2>
            <div class="absolute width-100 text-center inline-block">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Banner", "title": "2017 Year in Review" }'
                href="{{ path('year_in_review_2017') }}"
                class="btn-blue btn--large large-only-btn--medium"
              >
                Learn More
              </a>
            </div>
          </li>
          {% set homePageBannerImage = "/bundles/classcentralsite/images/banner-discover-free-online-courses-from-ivy-league-schools.png" %}
          {% set homePageBannerImageMobile = "/bundles/classcentralsite/images/banner-discover-free-online-courses-from-ivy-league-schools-mobile.png" %}
          {% if app.environment == 'prod' %}
              {% set homePageBannerImage = imageService.cropImage(baseurl~homePageBannerImage) %}
              {% set homePageBannerImageMobile = imageService.cropImage(baseurl~homePageBannerImageMobile) %}
          {% endif %}
          <li id="ss-4" data-slideshow-item='{ "index": 3,  "bg": "cc-gradient-purple-blue" }' class="absolute top left width-100">
            <h2>
              <img
                class="width-100"
                src="{% if isMobile %}{{ homePageBannerImageMobile }}{% else %}{{ homePageBannerImage }}{% endif %}"
                alt="Discover Free Online Courses from Ivy League Schools"
                data-media-switch="802"
                data-large="{{ homePageBannerImage }}"
                data-small="{{ homePageBannerImageMobile }}"
              />
            </h2>
            <div class="absolute width-100 text-center inline-block">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Banner", "title": "Ivy League MOOCs" }'
                href="{{ path('collection',{slug:'ivy-league-moocs'}) }}"
                class="btn-blue btn--large large-only-btn--medium"
              >
                Browse <span class="xsmall-only-hidden text--bold">Ivy League</span> Courses
              </a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="new-items" class="width-centered margin-top-medium" style="max-width: 1400px;">
      <ul class="z-high row width-14-16 large-up-width-4-5 width-centered relative">
        {% set newItems = 2 %}
        <li class="col width-100 {{ (newItems == 1) ? "large-up-width-2-3 width-centered" : "large-up-width-1-2" }} large-up-padding-right-medium margin-top-small">
            {% include 'ClassCentralSiteBundle:Default:new.html.twig' with { title: "Udacity’s Revenues Reach $70 Million in 2017", url: "https://www.class-central.com/report/udacity-revenues-2017/" }  %}
        </li>
        <li class="xsmall-only-hidden small-only-hidden medium-only-hidden col width-100 {{ (newItems == 1) ? "large-up-width-2-3 width-centered" : "large-up-width-1-2" }} large-up-padding-right-medium margin-top-small">
          {% include 'ClassCentralSiteBundle:Default:new.html.twig' with { title: "These 17 Online Classes Can Help You Become A Better Parent", url: "https://www.class-central.com/report/parenting-online-courses/" }  %}
        </li>
      </ul>
    </section>
  </div>

  {% if app.user %}
  <div class="classcentral-style">
    <section class="width-centered padding-horz-large margin-top-xlarge" style="max-width: 1250px;">
      <nav class="border-bottom border--thin border--gray-dark row relative">
        <div id="for-you-header" class="text-left small-only-hidden xsmall-only-hidden absolute left">
          <h2 class="head-2 medium-up-head-1 padding-bottom-small inline-block">For You</h2>
          <p class="small-only-hidden xsmall-only-hidden medium-only-hidden large-only-hidden text-1 inline-block padding-left-small">
            You are logged in as <a href="{{ userData.navMenu["My Profile"] }}" class="text--blue">{{ userData["firstName"] }}</a>
          </p>
        </div>
        <div class="text-center medium-up-text-right width-100 push">
          <div style="top: 1px;" class="relative">
            <a
              data-tab="recommendations"
              data-tab-family="for-you"
              href="#"
              class="text-2 text--charcoal inline-block {% if app.request.get('recommendations') == true %}bg-white{% else %}bg-gray{% endif %}  border--thin border-top border-left border--gray-dark border-right padding-vert-xsmall padding-horz-medium large-up-padding-horz-xxlarge margin-right-xsmall"
            >Recommendations</a>
            <a
              data-tab="courses"
              data-tab-family="for-you"
              href="#"
              class="text-2 text--charcoal inline-block {% if app.request.get('courses') == true %}bg-gray{% else %}bg-white{% endif %}  border--thin border-top border-left border-right border--gray-dark padding-vert-xsmall padding-horz-medium large-up-padding-horz-xxlarge margin-right-xsmall"
            >Your Courses</a>
          </div>
        </div>
      </nav>

      <div data-tab-family="for-you" data-tab-target="recommendations" class="hidden">
        {% if app.user.areRecommendationsAvailable %}
          {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':recommendedCourses.courses,'tableId': 'suggestions','hideLoadMore':true,'showSubjectInTable':true,'hideTableAd':true} %}
          <div class="text-center margin-top-medium">
            <a href="{{ path('user_recommendations') }}" class="btn-blue-outline btn--large">View All</a>
          </div>
        {% else %}
          <div class="text-center medium-up-margin-xlarge padding-large">
            <p class="head-2 margin-bottom-xsmall">Get regular updates of new and upcoming courses!</p>
            <p class="text-1 padding-bottom-large">
              <span class="block">You can unlock your <strong class="text--bold">personalized course recommendations</strong> by <br>following Subjects, Universities, Providers, and Languages.</span>
              <a class="btn-white width-100 large-up-width-1-2 btn--large margin-top-small" href='{{ path('user_follows') }}'>Find areas of interest to follow</a>
            </p>
          </div>
        {% endif %}
      </div>

      <div data-tab-family="for-you" data-tab-target="courses">
        {% if ucCount > 0 %}
            {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with {'results': uc,'tableId':'interested','showSubjectInTable':true,'hideTableAd':true} %}
            <div class="text-center margin-top-medium">
              <a href="{{ path('user_library') }}" class="btn-blue-outline btn--large">View All {{ ucCount }} courses</a>
            </div>
        {% else %}
          <div class="text-center medium-up-margin-xlarge padding-large">
            <p class="head-2 margin-bottom-xsmall">No saved courses found.</p>
            <p class="text-1 padding-bottom-large">Get started by browsing Popular Courses below or by <a href="/subjects" class="text--blue">Browsing Subjects</a>.</p>
            <i class="icon--center icon--large icon-arrow-down inline-block" style="height: 40px;"></i>
          </div>
        {% endif %}
      </div>

    </section>
  </div>
  {% endif %}

  <div class="classcentral-style">

    <!-- popular courses -->
    <section class="width-centered margin-top-xlarge medium-up-padding-horz-large" style="max-width: 1400px">
      <header class="padding-horz-medium">
        <nav class="width-100 text-left">
          <h1 class="head-3 small-up-head-2 large-up-head-1 padding-right-xlarge margin-bottom-medium">
            Popular Online Courses
          </h1>
          <div class="row">
            <ul class="col width-3-4 text-1 xsmall-only-hidden small-only-hidden medium-only-hidden large-only-hidden">
              {% for courseType in spotlightInfo %}
              <li class="inline-block">
                <a
                  href="#"
                  data-inactive-state="text--charcoal"
                  data-active-state="text--blue border-bottom border--blue"
                  data-show="{{ courseType["title"] }}"
                  class="{% if courseType["title"] == "All" %}text--blue border-bottom border--blue{% else %}text--charcoal{% endif %} inline-block padding-horz-small">
                  {{ courseType["title"] }}
                </a>
              </li>
              {% endfor %}
            </ul>
            <div class="col width-1-2 relative xlarge-up-hidden">
              <span data-select-label class="btn-white icon-chevron-down-charcoal icon--xsmall icon--right text--charcoal">All</span>
              <select data-select class="absolute top left btn-white btn--small text--charcoal" style="opacity: 0;">
                {% for courseType in spotlightInfo %}
                  <option value="{{ courseType["title"] }}">
                    {{ courseType["title"] }}
                  </option>
                {% endfor %}
              </select>
            </div>

            <div class="col width-1-2 xlarge-up-width-1-4 text-right">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Popular Courses", "title": "View All Subjects" }'
                class="text--blue text-3 medium-up-head-4 icon-arrow-right-blue icon--right margin-top-xsmall large-up-margin-reset"
                href="/subjects"
              >
                View all <span class="small-hide">subjects</span>
              </a>
            </div>
          </div>
        </nav>
      </header>

      {% for courseType in spotlightInfo %}
        <ul class="popular-course-list row">
          {% for courseId in courseType["courseIds"] %}
            {% if spotlightCourses[courseId] is defined %}
              <li data-show-target="{{courseType["title"]}}" class="width-100 large-up-width-1-2 xlarge-up-width-1-3 col padding-medium {% if courseType["title"] != "All" %}hidden{% endif %}">
                {% include 'ClassCentralSiteBundle:Helpers:card.course.html.twig' with { course: spotlightCourses[courseId], courseType: courseType["title"] } %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="margin-vert-medium text-center {% if courseType["title"] != "All" %}hidden{% endif %}" data-show-target="{{courseType["title"]}}">
          <a
            data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
            data-track-props='{ "type": "Popular Courses", "title": "View All", "sub_section": "{{ courseType["title"] }}" }'
            class="btn-blue-outline btn--large"
            href="{{ courseType["url"] }}"
          >
            Show more
          </a>
        </div>
        {% endfor %}
    </section>

    <section class="row width-centered padding-horz-large padding-bottom-xlarge" style="max-width: 1400px;">
      <header class="text-left border-bottom border--gray-light border--thin">
        <h1 class="relative head-3 small-up-head-2 large-up-head-1 bg-white relative inline-block xlarge-up-padding-horz-medium" style="top: 15px">
          Career Guides
        </h1>
      </header>

      {% set dataScienceGuideImg = "/bundles/classcentralsite/images/guides/guide-data-scientist.jpg" %}
      {% if app.environment == 'prod' %}
          {% set dataScienceGuideImg = imageService.cropImage(baseurl~"/bundles/classcentralsite/images/guides/guide-data-scientist.jpg") %}
      {% endif %}
      <ul class="width-100 xlarge-up-width-6-7 xxlarge-up-width-5-7 width-centered margin-top-xxlarge xlarge-up-padding-horz-medium">
        <li class="unit-horz">
          <div class="small-only-hidden xsmall-only-hidden unit-block padding-right-xxlarge text-middle">
            <img class="radius radius--large width-100" src="{{ dataScienceGuideImg }}" alt="Become a scientist"/>
          </div>
          <div class="unit-block">
            <img class="medium-up-hidden margin-bottom-medium radius radius--large width-100" src="{{ dataScienceGuideImg }}" alt="Become a scientist"/>
            <p class="text-1 margin-bottom-small">Our six-piece series that recommends the best MOOCs for launching yourself into the data science industry.</p>
            <ul class="text-1">
              <li class="margin-vert-xxsmall unit-horz">
                <span class="text--bold padding-right-xsmall unit-block text-top">#1</span>
                <div class="unit-block unit-fill">
                  <a href="https://www.class-central.com/report/best-programming-courses-data-science/" class="text--blue">
                    The Best Intro to Programming Courses for Data Science
                  </a>
                </div>
              </li>
              <li class="margin-vert-xxsmall unit-horz">
                <span class="text--bold padding-right-xsmall unit-block text-top">#2</span>
                <div class="unit-block unit-fill">
                  <a href="https://www.class-central.com/report/best-statistics-probability-courses-data-science/" class="text--blue">
                    The Best Statistics & Probability Courses for Data Science
                  </a>
                </div>
              </li>
              <li class="margin-vert-xxsmall unit-horz">
                <span class="text--bold padding-right-xsmall unit-block text-top">#3</span>
                <div class="unit-block unit-fill">
                  <a href="https://www.class-central.com/report/best-intro-data-science-courses/" class="text--blue">
                    The Best Intro to Data Science Courses
                  </a>
                </div>
              </li>
              <li class="margin-vert-xxsmall unit-horz">
                <span class="text--bold padding-right-xsmall unit-block text-top">#4</span>
                <div class="unit-block unit-fill">
                  <a href="https://www.class-central.com/report/best-data-visualization-courses/" class="text--blue">
                    The Best Data Visualization Courses
                  </a>
                </div>
              </li>
              <li class="margin-vert-xxsmall unit-horz">
                <span class="text--bold padding-right-xsmall unit-block text-top">#5</span>
                <div class="unit-block unit-fill">
                  <a href="https://www.class-central.com/report/best-machine-learning-courses/" class="text--blue">
                    The Best Machine Learning Courses
                  </a>
                </div>
              </li>
              <li class="margin-vert-xxsmall unit-horz">
                <span class="text--bold padding-right-xsmall unit-block text-top">#6</span>
                <div class="unit-block unit-fill">
                  <a href="https://www.class-central.com/report/best-data-science-curriculum/" class="text--blue">
                    The Best Data Science Curriculum
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>

    <!-- signup -->
    {% if not app.user %}
      {% include 'ClassCentralSiteBundle:Helpers:cc.signup.html.twig' %}
    {% endif %}

    <!-- mooc report -->
    <div id="mooc-report" class="width-centered margin-top-xlarge padding-horz-large" style="max-width: 1400px">
      <header class="medium-up-padding-horz-medium margin-bottom-medium">
        <nav class="width-100 text-left">
          <h1 class="head-3 small-up-head-2 large-up-head-1 medium-up-padding-right-xlarge margin-bottom-xsmall">
            MOOC Report
            <a
              data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
              data-track-props='{ "type": "MOOC Report", "title": "RSS Subscribe" }'
              href="/report/feed"
              class="margin-left-xxsmall btn-white btn--small icon-rss icon--center"
            >
              RSS Feed
            </a>
          </h1>
          <div class="row">
            <p class="text-3 medium-up-text-1 col width-3-5 text-left">
              <span class="xsmall-only-hidden small-only-hidden">Online Education</span> News and Analysis
            </p>
            <div class="col width-2-5 text-right">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "MOOC Report", "title": "View All" }'
                class="text--blue text-3 medium-up-head-4 icon-arrow-right-blue icon--right"
                href="/report">
                See more <span class="xsmall-only-hidden small-only-hidden">articles</span>
              </a>
            </div>
          </div>
        </nav>
      </header>

      <div class="row width-centered" style="max-width: 1400px;">
        <section class="col width-100 large-up-width-3-5 border-box">
          <header class="text-center border-bottom border--gray-light border--thin medium-up-margin-horz-large">
            <h1 class="head-3 padding-horz-medium bg-white relative inline-block" style="top: 15px">MOOCWatch</h1>
          </header>
          <div class="border-right border--thin border--gray-light border-box medium-up-padding-xxlarge">
            <p class="text--charcoal text-2 margin-bottom-large margin-top-medium">MOOCWatch is our semi-regular publication where we dive deep into the world of MOOCs, giving the latest trends, news, and our perspective on what’s happening in the industry.</p>
            <form action="//class-central.us8.list-manage.com/subscribe/post?u=a04149ada492173efe6609e68&amp;id=c5a9919ea5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  class="form bg-gray width-centered width-100 xlarge-up-width-3-4 padding-medium radius text-center">
              <label class="head-5 block">Get MOOCWatch in your inbox</label>
              <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="Your email" class="inline-block margin-top-small width-100 large-up-width-2-5" />
              <button type="submit" class="btn-blue xsmall-only-width-100 small-only-width-100 margin-top-small medium-up-margin-left-medium">Subscribe</button>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_a04149ada492173efe6609e68_c5a9919ea5" tabindex="-1" value=""></div>
            </form>

              {% set moocwatchImage = "/bundles/classcentralsite/slashpixel/images/moocwatch-16-illustration-crop.png" %}
              {% if app.environment == 'prod' %}
                  {% set moocwatchImage = imageService.cropImage(baseurl~moocwatchImage) %}
              {% endif %}

            <ul class="margin-vert-xlarge">
                {% include 'ClassCentralSiteBundle:Default:moocreport.watch.html.twig' with { watch: {
                edition: "16",
                image: moocwatchImage,
                title: "MOOC Providers Target Degrees",
                description: "We round up all the news from the MOOC sphere: iMBA stats, Udacity’s impressive numbers, Learner Tips, and much, much more.",
                author: "Dhawal Shah",
                publishedDate: "October 23rd, 2017",
                color: "#f7c928",
                url: "https://www.class-central.com/report/moocwatch-16-mooc-providers-target-degrees/"
                }} %}

                {% set moocwatchImage = "/bundles/classcentralsite/slashpixel/images/moocwatch-15-illustration-crop.png" %}
                {% if app.environment == 'prod' %}
                    {% set moocwatchImage = imageService.cropImage(baseurl~moocwatchImage) %}
                {% endif %}


                {% include 'ClassCentralSiteBundle:Default:moocreport.watch.html.twig' with { watch: {
                edition: "15",
                image: moocwatchImage,
                title: "MOOCs Find Their Audience",
                description: "New CEOs, enrollment milestones, and more.",
                author: "Dhawal Shah",
                publishedDate: "June 22nd, 2017",
                color: "#64C187",
                url: "https://www.class-central.com/report/moocwatch-15-moocs-lifelong-learners/"
                }} %}
            </ul>
          </div>
        </section>
        <aside class="col width-100 large-up-width-2-5 border-box">
          <header class="text-center border-bottom border--gray-light border--thin medium-up-margin-horz-large">
            <h1 class="head-3 padding-horz-medium bg-white relative inline-block" style="top: 15px">Latest Articles</h1>
          </header>
          <ul class="border-box medium-up-padding-large">
              {% set postsShown = 0 %}
              {% for post in latestPosts if postsShown < 5 %}
                  {% set postCategory = 'News' %}
                  {% if post._embedded['wp:term'][0][0] is not empty %}
                      {%  set postCategory = post._embedded['wp:term'][0][0]['name'] %}
                  {% endif %}
                  {% if 'moocwatch' not in post.title.rendered|lower %}
                      {% include 'ClassCentralSiteBundle:Default:moocreport.article.html.twig' with { article: {
                      type: postCategory,
                      simple: true,
                      section: "Latest Articles",
                      title: post.title.rendered|raw,
                      description: post['acf']['subtitle'],
                      author: moocReport.author(post.author).name,
                      width: "width-100",
                      publishedDate: post.date|date("jS M, Y"),
                      url: post.link
                      }} %}
                      {% set postsShown = postsShown + 1 %}
                  {% endif %}
              {% endfor %}
          </ul>
        </aside>

        <section class="col width-100 border-box">
          <header class="text-center border-bottom border--gray-light border--thin medium-up-margin-horz-large margin-bottom-large">
            <h1 class="head-3 padding-horz-medium bg-white relative inline-block" style="top: 15px">Popular Articles</h1>
          </header>
          <ul class="row border-box medium-up-padding-horz-large">
              {% include 'ClassCentralSiteBundle:Default:moocreport.article.html.twig' with { article: {
              type: "World",
              title: "Massive List of MOOC Providers Around The World",
              simple: false,
              section: "Popular Articles",
              description: "Where to find MOOCs: The definitive guide to MOOC providers.",
              author: "Dhawal Shah",
              publishedDate: "",
              width: "width-100 large-up-width-1-4",
              border: true,
              url: 'https://www.class-central.com/report/mooc-providers-list/'
              }} %}
              {% include 'ClassCentralSiteBundle:Default:moocreport.article.html.twig' with { article: {
              type: "Guides",
              title: "The Best Data Science Curriculum",
              simple: false,
              section: "Popular Articles",
              description: "The best MOOCs for launching yourself into the data science industry.",
              author: "David Venturi",
              publishedDate: "",
              width: "width-100 large-up-width-1-4",
              border: true,
              url: 'https://www.class-central.com/report/best-data-science-curriculum/'
              }} %}
              {% include 'ClassCentralSiteBundle:Default:moocreport.article.html.twig' with { article: {
              type: "Analysis",
              title: "Harvard and the Rise of a Digital Ivy League",
              simple: false,
              section: "Popular Articles",
              description: "There’s a new elite forming in higher education: universities that have millions of enrollments.",
              author: "Anuar Lequerica",
              publishedDate: "",
              width: "width-100 large-up-width-1-4",
              border: true,
              url: 'https://www.class-central.com/report/harvard-digital-ivy-league/'
              }} %}
              {% include 'ClassCentralSiteBundle:Default:moocreport.article.html.twig' with { article: {
              type: "Opinion",
              title: "MOOCs No Longer Massive, Still Attract Millions",
              simple: false,
              section: "Popular Articles",
              description: "We've gained the ability to take MOOCs at any time, but lost something in the process.",
              author: "Dhawal Shah",
              publishedDate: "",
              width: "width-100 large-up-width-1-4",
              border: false,
              url: 'https://www.class-central.com/report/moocs-no-longer-massive/'
              }} %}
          </ul>
        </section>

        <section id="as-seen-in" class="col width-100 border-box margin-top-xlarge">
          <header class="text-center border-bottom border--gray-light border--thin medium-up-margin-horz-large margin-bottom-large">
            <h1 class="head-3 padding-horz-medium bg-white relative inline-block" style="top: 15px"><span class="small-hide">MOOC Report Articles also</span> Published in</h1>
          </header>
          <ul class="row border-box medium-up-padding-horz-xlarge">
            <li class="text-center width-100 medium-up-width-1-2 large-up-width-1-5 col large-up-margin-vert-large border-box padding-horz-large border-right border--gray-light border--thin">
              <a
                      target="_blank"
                      data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                      data-track-props='{ "type": "MOOC Report", "title": "TechCrunch", "sub_section": "Published In" }'
                      href="https://techcrunch.com/2015/08/21/how-coursera-cracked-the-chinese-market/">
                <img src="/bundles/classcentralsite/slashpixel/images/as-seen-techcrunch.png" class="width-100" style="max-width: 250px" alt="TechCrunch" />
              </a>
            </li>
            <li class="text-center width-100 medium-up-width-1-2 large-up-width-1-5 col large-up-margin-vert-large border-box padding-horz-large border-right border--gray-light border--thin">
              <a
                      target="_blank"
                      data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                      data-track-props='{ "type": "MOOC Report", "title": "VentureBeat", "sub_section": "Published In" }'
                      href="https://venturebeat.com/2016/09/05/moocs-no-longer-massive-still-attract-millions/">
                <img src="/bundles/classcentralsite/slashpixel/images/as-seen-venturebeat.png" class="width-100" style="max-width: 250px" alt="VentureBeat" />
              </a>
            </li>
            <li class="text-center width-100 medium-up-width-1-2 large-up-width-1-5 col large-up-margin-vert-large border-box padding-horz-large border-right border--gray-light border--thin">
              <a
                      target="_blank"
                      data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                      data-track-props='{ "type": "MOOC Report", "title": "EdSurge", "sub_section": "Published In" }'
                      href="https://www.edsurge.com/writers/dhawal-shah">
                <img src="/bundles/classcentralsite/slashpixel/images/as-seen-edsurge.png" class="width-100" style="max-width: 250px" alt="EdSurge" />
              </a>
            </li>
            <li class="text-center width-100 medium-up-width-1-2 large-up-width-1-5 col large-up-margin-vert-large border-box padding-horz-large">
              <a
                      target="_blank"
                      data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                      data-track-props='{ "type": "MOOC Report", "title": "Quartz", "sub_section": "Published In" }'
                      href="https://qz.com/941768/here-are-250-ivy-league-courses-you-can-take-online-right-now-for-free/"
              >
                <img src="/bundles/classcentralsite/slashpixel/images/as-seen-quartz.png" class="width-100" style="max-width: 250px" alt="Quartz" />
              </a>
            </li>
            <li class="text-center width-100 medium-up-width-1-2 large-up-width-1-5 col large-up-margin-vert-large border-box padding-horz-xsmall large-up-padding-horz-medium xlarge-up-padding-horz-large">
              <a
                      target="_blank"
                      data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                      data-track-props='{ "type": "MOOC Report", "title": "OpenCulture", "sub_section": "Published In" }'
                      href="http://www.openculture.com/2015/03/the-keys-to-happiness.html"
              >
                <img src="/bundles/classcentralsite/slashpixel/images/as-seen-open-culture.png" class="width-100" style="max-width: 250px" alt="OpenCulture" />
              </a>
            </li>
          </ul>
        </section>
      </div>


      <!-- year in review -->
      <section class="row col width-100 width-centered padding-horz-large padding-bottom-xlarge margin-top-xlarge" style="max-width: 1400px;">
        <header class="text-center border-bottom border--gray-light border--thin">
          <h1 class="relative head-3 small-up-head-2 large-up-head-1  bg-white relative inline-block padding-horz-medium" style="top: 15px">
            MOOCs Through the Years
          </h1>
        </header>

        <ul class="width-centered row margin-top-xlarge" style="max-width: 1000px;">
            <li class="width-100 large-up-width-1-3 col padding-horz-large relative margin-bottom-xlarge">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2017", "section": "Class Central" }'
                href="{{ path('year_in_review_2017') }}"
                class="block"
              >
                  {% set yearInReviewThumbnail = imageService.cropImage('https://www.class-central.com/bundles/classcentralsite/images/year-in-review/banner-2017-year-in-review-mobile.png', 546,420) %}
                <img class="radius width-100 hover-grow shadow" src="{{ yearInReviewThumbnail }}" alt="2017 Year in Review" />
              </a>
              <p class="text-center absolute width-100 left" style="bottom: -15px;">
                <a href="{{ path('year_in_review_2017') }}" class="btn-blue">Read More</a>
              </p>
            </li>
            <li class="width-100 large-up-width-1-3 col padding-horz-large relative margin-bottom-xlarge">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2016", "section": "Class Central" }'
                href="{{ path('year_in_review_2016') }}"
                class="block"
              >
                {% set yearInReviewThumbnail = imageService.cropImage('https://www.class-central.com/bundles/classcentralsite/images/year-in-review/banner-2016-year-in-review-mobile.png', 546,420) %}
                <img class="radius width-100 hover-grow shadow" src="{{ yearInReviewThumbnail  }}" alt="2016 Year in Review" />
              </a>
              <p class="text-center absolute width-100 left" style="bottom: -15px;">
                <a href="{{ path('year_in_review_2016') }}" class="btn-blue">Read More</a>
              </p>
            </li>
            <li class="width-100 large-up-width-1-3 col padding-horz-large relative margin-bottom-xlarge">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2016", "section": "Class Central" }'
                href="{{ path('year_in_review_2015') }}"
                class="block"
              >
                  {% set yearInReviewThumbnail = imageService.cropImage('https://www.class-central.com/bundles/classcentralsite/images/year-in-review/banner-2015-year-in-review-mobile.png', 546,420) %}
                <img class="radius width-100 hover-grow shadow" src="{{ yearInReviewThumbnail }}" alt="2015 Year in Review" />
              </a>
              <p class="text-center absolute width-100 left" style="bottom: -15px;">
                <a href="{{ path('year_in_review_2015') }}" class="btn-blue">Read More</a>
              </p>
            </li>
        </ul>

        <div class="width-centered row margin-top-medium text-center">
          <h4 class="text-2 padding-right-xsmall inline-block">Previous Years:</h4>
          <ul class="inline-block">
            <li class="inline-block padding-horz-small border-right border--thin border--gray-light">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2014", "section": "Class Central" }'
                href="{{ path('year_in_review_2014') }}"
                class="block text--blue text-2"
              >
              2014
              </a>
            </li>
            <li class="inline-block padding-horz-small border-right border--thin border--gray-light">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2013", "section": "Class Central" }'
                href="{{ path('year_in_review_2013') }}"
                class="block text--blue text-2"
              >
              2013
              </a>
            </li>
            <li class="inline-block padding-horz-small">
              <a
                data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
                data-track-props='{ "type": "Year in Review", "title": "2012", "section": "Class Central" }'
                href="{{ path('year_in_review_2012') }}"
                class="block text--blue text-2"
              >
              2012
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
{% endblock %}

{% block customJS %}
  $(document).on("modal:ready", function() {
    {% if meetYourNextCourse %}
      CC.Class.Onboarding.showStep("{{ app.user ? "loggedIn" : "loggedOut" }}", "subjects");
    {% endif %}
  });
{% endblock %}
