{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}
     <title>Free online courses/MOOC aggregator - Class Central</title>
     <meta name="description"
           content="Class Central is a free online course aka MOOC aggregator from top universities like Stanford, MIT, Harvard, etc. offered via Coursera, Udacity, edX, NovoED, & others."/>

     {% include 'ClassCentralSiteBundle:Helpers:fb_opengraph.html.twig' %}
 {% endblock %}

{% block contentheader %}
    <section class="header-area">
        <div class="container">
            <div class="header-content">
                <h1 class='free-online-ed'>Free Online Education</h1>
                <h2>Discover free online classes (MOOCs) from top universities like
                    <a href="{{ path('ClassCentralSiteBundle_university',{slug : 'stanford'}) }}" onmousedown="_gaq.push(['_trackEvent','Tagline Clicks','University','Stanford'])">Stanford</a>,
                    <a href="{{ path('ClassCentralSiteBundle_university',{slug : 'mit'}) }}"  onmousedown="_gaq.push(['_trackEvent','Tagline Clicks','University','MIT'])"> MIT</a>,
                    <a href="{{ path('ClassCentralSiteBundle_university',{slug : 'harvard'}) }}"  onmousedown="_gaq.push(['_trackEvent','Tagline Clicks','University','Harvard'])">Harvard</a>, etc.</h2>

                <nav class="page-tabs">
                    <ul>
                        <li class="home-tab active-tab"><!-- the ".active-tab" class has active styles-->
                            <a href="#" data-target-section="spotlight">
                                <svg viewBox="0 0 32 32" class="icon-home">
                                    <use xlink:href="#icon-home"></use>
                                </svg>
                                Home
                            </a>
                        </li>
                        <li class="learn-more-tab">
                            <a href="#" data-target-section="learn-more-tab-section">Learn More</a>
                        </li>
                        <li class="subjects-tab">
                            <a href="#" data-target-section="subjects-tab-section">The Subjects</a>
                        </li>
                        <li class="create-account-tab">
                            <a href="" id="home-create-free-account">Create free account</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- /container -->
    </section>
{% endblock %}

{% block content %}
    <section class="spotlight section-tab-content">
        <div class="search-wrapper visible-xs visible-sm">
            {% include 'ClassCentralSiteBundle:Helpers:search_form.html.twig' with {keywords: null} %}
        </div>
        {% include 'ClassCentralSiteBundle:Helpers:spotlight.html.twig' with{ spotlights:spotlights, spotlightMap : spotlightMap } %}
    </section>


    <section class="learn-more-tab-section section-tab-content">
        {% include 'ClassCentralSiteBundle:Helpers:faq.html.twig' with{ } %}
    </section>
    <section class="subjects-tab-section section-tab-content">
        <div class="subjects">
            {% include 'ClassCentralSiteBundle:Helpers:subjects.html.twig' with{ subjects : subjects } %}
        </div>
    </section>
    <section class="upcoming-courses front-page-table">
        <h2 class="section-heading"><span>Starting Soon</span></h2>
        {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':recentCourses,'tableId':'statustable'} %}
        <a href="{{ path('ClassCentralSiteBundle_courses', {type:'recent'}) }}" class="expand-table-btn">View All {{ recentCourses.hits.total }} courses</a>
    </section>

{% endblock %}

{% block abovefooter %}

    {% set blog1 = spotlights[100] %}
    {% set blog2 = spotlights[101] %}
    <section class="blog-spotlight">
        <div class="container">
            <h2 class="section-heading"><span>Latest From The Blog</span></h2>
        </div>
        <a href="{{ blog1.url }}" class="single-post single-post-left"
           onmousedown="_gaq.push(['_trackEvent','Spotlight','{{ blog1.position }}','{{ blog1.title }}']);"
                >
            <div class="post-bg-left post-bg">
                <img src="{{ blog1.imageUrl }}" alt="post-background">
            </div>
            <div class="single-post-content">
                <h3>
                    {{ blog1.title }}
                </h3>
                <p class="excerpt">
                    {{ blog1.description }}
                </p>
                <span class="read-more">READ MORE</span>
            </div>
        </a>


        <a href="{{ blog2.url }}" class="single-post single-post-right"
           onmousedown="_gaq.push(['_trackEvent','Spotlight','{{ blog2.position }}','{{ blog2.title }}']);"
                >
            <div class="post-bg-right post-bg">
                <img src="{{ blog2.imageUrl }}" alt="post-background">
            </div>
            <div class="single-post-content">
                <h3>
                    {{ blog2.title }}
                </h3>
                <p class="excerpt">
                    {{ blog2.description }}
                </p>
                <span class="read-more">READ MORE</span>
            </div>
        </a>
        </div>
    </section>

    <section class="convincer">
        <div class="container">
            <div class="convincer-wrap">
                <span>Receive course recommendations & reminders with MOOC Tracker</span>
                <a class="create-free-account" id="convincer-create-free-account" href="">Create free account</a>
            </div>
        </div>
    </section>
    <section class="footer-logos">
        <ul>
            <li><a class="stanford-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'stanford'}) }}">Stanford University</a></li>
            <li><a class="harvard-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'harvard'}) }}">Harvard University</a></li>
            <li><a class="mit-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'mit'}) }}">Massachusetts Institute of Technology</a></li>
            <li><a class="berkeley-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'berkeley'}) }}">Berkeley University of California</a></li>
            <li><a class="uts-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'utexas'}) }}">University of Texas System</a></li>
            <li><a class="cornell-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'cornell'}) }}">Cornell University</a></li>
            <li><a class="princeton-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'princeton'}) }}">Princeton University</a></li>
            <li><a class="git-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'gatech'}) }}">Georgia Tech</a></li>
            <li><a class="jhu-logo" href="{{ path('ClassCentralSiteBundle_university',{slug : 'jhu'}) }}">Johns Hopkins University</a></li>
        </ul>
    </section>

    {% if signupForm is defined %}
        {% include 'ClassCentralSiteBundle:Helpers:signupform.html.twig' with {
        signupForm : signupForm,
        } %}
    {% endif %}
{% endblock %}