{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}            
        <title> List of {{initiative}} courses | Free online courses AKA MOOC aggregator - Class Central</title>
        <meta name="description" content="List of {{initiative}} MOOCs | Free online courses AKA MOOC aggregator - Class Central"/>
{% endblock %} 

{%  block content %}    
    
    {% if initiative == 'Others' %}
        <h1 class='cc-page-header'>{{initiative}}</h1>
    {% else %}
        <h1 class='cc-page-header'>List of {{initiative}} MOOCs </h1>
    {% endif %}

    {% for offeringType, offeringDetails in offeringTypes %}
    {% if offerings[offeringType] is not null and offerings[offeringType]|length > 0 %}
        <h1 class="tabletitle" id="{{offeringType}}">{{offeringDetails.desc}} ({{ offerings[offeringType]|length }})</h1> 	  
        {% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':offerings[offeringType],'tableId':offeringType} %}
    {% endif %}    
{% endfor %}
{% endblock %}
