{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}        
    <title> {{initiative}} | Directory of free online courses - MOOCs | Class Central</title>
    <meta name="description" content="{{initiative}} | Directory of free online courses - MOOCs"/>
{% endblock %} 

{%  block content %}    
    
    <h1 class='cc-page-header'>{{initiative}}</h1>

    {% for offeringType, offeringDetails in offeringTypes %}
    {% if offerings[offeringType] is not null and offerings[offeringType]|length > 0 %}
        <h1 class="tabletitle" id="{{offeringType}}">{{offeringDetails.desc}} ({{ offerings[offeringType]|length }})</h1> 	  
        {% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':offerings[offeringType],'tableId':offeringType} %}
    {% endif %}    
{% endfor %}
{% endblock %}
