{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}            
        <title>{{initiative}} - MOOCs/free online courses list | Class Central</title>
        <meta name="description"
              content="List of {{initiative.name}} free online courses/MOOCs aggregated by Class Central. Courses are categorized according to start dates into Recently Started, Just Announced, Upcoming, Self Paced, Ongoing, and Finished"/>

        <meta property="og:title" content="List of {{initiative.name}} free online courses/MOOCs | Class Central" />
        <meta property="og:url" content="{{ baseurl }}{{ path('ClassCentralSiteBundle_initiative',{'type': initiativeType}) }}" />
        {% if pageInfo.imageUrl %}
            <meta property="og:image" content="{{ rackspace_cdn_base_url }}{{ pageInfo.imageUrl }}">
        {% else %}
            <meta property="og:image" content="http://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.jpg">
        {% endif %}
        <meta property="og:description" content="List of {{initiative.name}} free online courses/MOOCs aggregated by Class Central. Courses are categorized according to start dates into Recently Started, Just Announced, Upcoming, Self Paced, Ongoing, and Finished" />
        <meta property="og:type" content="website" />

        <!-- Twitter card integration -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@classcentral">
        <meta name="twitter:title" content="List of {{initiative.name}} free online courses/MOOCs">
        <meta name="twitter:description" content="List of {{initiative.name}} free online courses/MOOCs aggregated by Class Central">
        <meta name="twitter:domain" content="www.class-central.com">
{% endblock %} 

{%  block content %}

    {% include 'ClassCentralSiteBundle:Helpers:pageHeader.html.twig' with {'info':pageInfo} %}

    {% for offeringType, offeringDetails in offeringTypes %}
    {% if offerings[offeringType] is not null and offerings[offeringType]|length > 0 %}
        <h2 class="tabletitle" id="{{offeringType}}">{{offeringDetails.desc}} ({{ offerings[offeringType]|length }})</h2>
        {% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':offerings[offeringType],'tableId':offeringType} %}
    {% endif %}    
{% endfor %}
{% endblock %}
