{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    <title>My Courses | Class Central</title>
{% endblock %}

{%  block content %}
    <h1 class='cc-page-header'>My Courses</h1>
    <div id="filter-wrap">
        {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with
            {'offLanguages':offLanguages, 'offSubjects':offSubjects, 'offLists': listTypes } %}
        <div class="tables-wrap">
            {% if showInstructions %}
                No courses found
            {% endif %}

            {% for listId, listDetails in listTypes %}
                {% set listType=listDetails['slug'] %}
                {% if offerings[listType] is not null and offerings[listType]|length > 0 %}
                    <div id ="{{ listType }}-table-wrapper">
                        <h2 class="tabletitle" id="{{listType}}">{{listDetails.desc}} (<span id="{{ listType }}-count">{{ offerings[listType]|length }}</span>)</h2>
                        {% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':offerings[listType],'tableId':listType} %}
                    </div>
                {% endif %}
            {% endfor %}

            {# search terms #}
            {% if searchTerms|length > 0 %}
                <div id="searchTerm-table-wrapper">
                    <h2 class="tabletitle" id="searchTerm">Search Terms (<span id="searchTerm-count">{{searchTerms|length }}</span>)</h2>
                    <div class="table-body-searchTerm">
                        {% for searchTerm in searchTerms %}
                            <div class="profile-search-term">
                                <a href="{{ path("ClassCentralSiteBundle_search", {'q' : searchTerm }) }}">{{ searchTerm }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}


{% block customJS %}
    $(document).ready(function() {

        {% for listId, listDetails in listTypes %}
            {% set listType=listDetails['slug'] %}
             listifyTable("{{ listType }}");
             $("#{{ listType }}list").tablesorter( {textExtraction: textExtractor});
        {% endfor %}

        {% if searchTerms|length > 0 %}
            listifyTable("searchTerm");
        {% endif %}
    });
{% endblock %}