{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{%  block headmeta %}
 {% include 'ClassCentralSiteBundle:Course:tinymce.inc.html.twig' %}
{% endblock %}

{% block content %}
<h1>Course edit</h1>

<form action="{{ path('course_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} id="course-edit">
    {{ form_widget(edit_form) }}

        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('course') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('course_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}

{%  block beforeClosingBody %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.1/chosen.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.1/chosen.jquery.min.js"/>


{% endblock %}

{% block customJS %}
    $(document).ready(function () {
       $('#classcentral_sitebundle_coursetype_instructors').chosen();
       $('#classcentral_sitebundle_coursetype_tags').chosen();
       $('#classcentral_sitebundle_coursetype_institutions').chosen();
    });
{% endblock %}