{% extends 'ClassCentralSiteBundle::base.html.twig' %}


 {% block headmeta %}
     {% set courseImageUrl = null %}
     {%  if courseImage  %}
        {% set courseImageUrl = courseImage %}
     {% elseif course.imageUrl %}
        {% set courseImageUrl = rackspace_cdn_base_url~course.imageUrl %}
     {% endif %}
     <title>{{ course['pageTitle'] }} | MOOC reviews and ratings</title>
     <meta name="description"
           content="{{ course['shortDesc'] }}"/>
     <meta property="og:title" content="{{ course['pageTitle'] }} | MOOC reviews and ratings" />
     <meta property="og:url" content="{{ course['pageUrl'] }}" />

     {% if courseImageUrl %}
         <meta property="og:image" content="{{ courseImageUrl }}">
     {% else %}
         <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
     {% endif %}
     <meta property="og:site_name" content="Class Central"/>
     <meta property="og:description" content="{{ course['shortDesc'] }}" />
     <meta property="og:type" content="website" />
     {% if course['videoIntro'] is not null %}
       {#  <meta property="og:video" content="{{  course['videoIntro']|replace({'https' : 'http'}) }}" /> #}
     {% endif %}
     <meta property="fb:admins" content="{{ fb_admins }}" />

     <!-- Twitter card integration -->
     {#
         <meta name="twitter:card" content="summary">
         <meta name="twitter:site" content="@classcentral">
         <meta name="twitter:title" content="{{ course['pageTitle'] }}. {% if nextSessionStart != '' %}Starts {{ nextSessionStart }}.{% endif %}">
         <meta name="twitter:description" content="{{ course['shortDesc'] }}">
         <meta name="twitter:domain" content="www.class-central.com">
     #}
     <meta name="twitter:card" content="product">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:title" content="{{ course['pageTitle'] }}">
     <meta name="twitter:description" content="{{ course['shortDesc'] }}">
     <meta name="twitter:domain" content="www.class-central.com">
     {% if courseImageUrl %}
         <meta property="twitter:image:src" content="{{ courseImageUrl }}">
     {% else %}
         <meta property="twitter:image:src" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
     {% endif %}

     {% set twData = [] %}

     {% if course.nextOffering is defined %}
        {% set twData = twData|merge( [{ 'label': 'NEXT SESSION',  'data':course.nextOffering.displayDate  }] ) %}
     {% endif %}

     {% if rating > 0 %}
         {% set twData = twData|merge( [{  'label': 'RATING',  'data': rating|round(1, 'common')   }] ) %}
     {% endif %}

     {% if course.length > 0 %}
         {% set twData = twData|merge( [{  'label': 'LENGTH',  'data': course.length ~ ' weeks'   }] ) %}
     {% endif %}


     {% if twData[0] is defined %}
         <meta name="twitter:data1" content="{{ twData[0].data }}">
         <meta name="twitter:label1" content="{{ twData[0].label }}">
     {% endif %}

     {% if twData[1] is defined %}
         <meta name="twitter:data2" content="{{ twData[1].data }}">
         <meta name="twitter:label2" content="{{twData[1].label }}">
     {% endif %}

     <!-- Go to www.addthis.com/dashboard to customize your tools -->
     <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ed5948263b508c1"></script>

 {% endblock %}

{% block content %}
    {# whether to display create review/review form for logged out users  #}
    {% set hideCreateReview = false %}
    {% if app.session.get('user_course_reviewed_for') is defined and app.session.get('user_course_reviewed_for') == course.id %}
        {% set hideCreateReview = true %}
    {% endif %}

    <h2 class="section-heading"><span>Course Details</span></h2>

    {% set reviewUrl = path('review_new',{courseId: course.id})%}

    {# Links for admin #}
    {% if is_granted('ROLE_ADMIN') %}

        <p><b>Links for Admin</b></p>
        <a href="{{ path('course_edit', { 'id': course.id }) }}">Edit Course</a> <a href="{{ path('course_show', { 'id': course.id }) }}">Admin Page</a>

        <br/>
        <a href="http://bufferapp.com/add" class="buffer-add-button" {% if courseImage %} data-picture="{{ courseImage }}" {% endif %} data-text="[Starts Today] {{ course.name }} {% if course.initiative %}from {{ course.initiative.name }}{% endif %} " data-count="vertical" ></a><script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>
        <a href="http://bufferapp.com/add" class="buffer-add-button" {% if courseImage %} data-picture="{{ courseImage }}" {% endif %} data-text="[New Course] {{ course.name }} {% if course.initiative %}from {{ course.initiative.name }}{% endif %}. Starts {{ course.nextOffering.displayDate }}" data-count="vertical" ></a><script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>
    {% endif %}
    <div class="course-block row" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">

    <div class="course-meta-main-wrap col-sm-8 col-lg-9" >
        <div class="course-meta-main border-radius">

            <div class="course-video">
                {% if course['videoEmbedUrl'] is not null and isYoutube %}
                    <span class="preview-tab">Intro</span>
                        <div class="video-container">
                            <iframe class="ytb-video-frame" src="{{ course['videoEmbedUrl'] }}&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen  wmode="Opaque"></iframe>
                        </div>
                {% elseif course.videoIntro is not null and course.initiative.code == 'coursera' %}
                    <span class="preview-tab">Intro</span>
                    {% set videoInfo= course.videoIntro|split('|||') %}

                    <div class="html5-video-container">
                        <video poster="{{ videoInfo[1] }}">
                            <source type="video/mp4" src="{{ videoInfo[0] }}full/540p/index.mp4">
                            <source type="video/webm" src="{{ videoInfo[0] }}full/540p/index.webm">
                        </video>
                        <div class="html5-video-play-wrap js-video-play">
                            <div class="html5-video-play-button"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class='course-info'>

                <h1 class="course-title" itemprop="itemreviewed">{{ course['name'] }}</h1>
                <div class="addthis_sharing_toolbox hidden-xs" style="margin-left: 45px;margin-top: -35px; margin-bottom: 20px"></div>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->

                {#
                <div class="course-rating-wrap" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <div class="course-rating" data-score="{{ rating }}">
                                <meta itemprop="ratingValue" content="{{ rating }}">
                                <meta itemprop="worstRating" content = "1"/>
                                <meta itemprop="bestRating" content = "5"/>
                    </div>
                    <div class="review-link">
                        {% if  reviews.reviews|length  > 0 %}
                            <a href="#course-reviews"><span class="review-count" itemprop="reviewCount">{{ reviews.reviews|length }}</span> {% if reviews.reviews|length == 1 %}review{% else %}reviews{% endif %}</a>
                        {% else %}
                            <a href="{{ reviewUrl }}" rel="nofollow" onmousedown="ga('send','event', 'Create Review Link', 'First to Review   ', '{{course['name']}}')">Be the first to review this course</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="review-button" href="{{ reviewUrl }}" rel="nofollow">Write a review (admin only)</a>
                        {% endif %}
                    </div>
                 </div>
                #}
                {#
                <div class="course-share">
                    <div class="course-share-text">Tell your friends:</div>
                    <div class="course-share-button">
                        {% set nextSessionStr = '' %}
                        {% if nextSessionStart != '' %} {% set nextSessionStr = " starts "~ nextSessionStart %} {% endif %}
                        {% set twitter_text = course['pageTitle'] ~ nextSessionStr %}
                        <a href="https://twitter.com/share?url={{ course['pageUrl']|url_encode }}&text={{ twitter_text|url_encode }}&via=classcentral&hashtags=mooc" class="twitter" target="_blank" onclick=" ga('send','event', 'Course - Share', 'Twitter', '{{ course['name'] }}');"></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ course['pageUrl']|url_encode }}" class="facebook" target="_blank" onclick=" ga('send','event', 'Course - Share', 'Facebook', '{{ course['name'] }}');"></a>
                        <a href="https://plus.google.com/share?url={{ course['pageUrl']|url_encode }}"  onclick="ga('send','event', 'Course - Share', 'Google+', '{{ course['name'] }}');javascript:window.open(this.href,
                                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="gplus"></a>
                        <a href="https://www.linkedin.com/cws/share?url={{ course['pageUrl']|url_encode }}" class="linkedin" target="_blank" onclick=" ga('send','event', 'Course - Share', 'Linkedin', '{{ course['name'] }}');"></a>
                        <a href="" data-toggle="modal" class="mail" data-target="#sendMailModal" onclick=" ga('send','event', 'Course - Share', 'Mail button clicked', '{{ course['name'] }}');"></a>
                    </div>
                </div>
                #}

                <div class="course-provider-wrap">

                    {% if course['initiative']['name']|length > 0 and course.initiative.code in providersWithLogos %}

                        <a class="provider-logo" href="{{ path('ClassCentralSiteBundle_initiative', {'type': course['initiative']['code'] }) }}" title="List of {{ course['initiative']['name'] }} MOOCs"
                           onClick="ga('send','event', 'Course - Inbound Clicks - Initiative', '{{course['initiative']['name']}}', '{{course['name']}}')"
                           title="{{ course['initiative']['name'] }}"><img src="/bundles/classcentralsite/slashpixel/images/providers/{{ course.initiative.code }}" alt="provider logo"></a>
                    {% endif %}


                    {% if course['institutions']|length > 0 %}
                        {# Output the institutions with links #}
                        <ul class="institution-list">
                            {% for institution in course['institutions'] %}
                                {% set route = 'ClassCentralSiteBundle_university' %}
                                {% if not institution['isUniversity'] %}
                                    {% set route = 'ClassCentralSiteBundle_institution' %}
                                {% endif %}
                                <li><a href="{{ path(route,{'slug' : institution['slug']|lower })}}" title="List of {{institution['name']}} MOOCs"
                                       onClick="ga('send','event', 'Course - Inbound Clicks - University', '{{institution['name']}}', '{{course['name']}}')">{{institution['name']}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if course['instructorsSingleLineDisplay'] %}
                        <span class="with-separator"> &nbsp;with&nbsp;</span>
                        <span class="course-instructors">{{ course['instructorsSingleLineDisplay'] }}</span>
                    {% endif %}
                </div>
                <div class="course-desc">
                    {{ course.desc|raw }}

                    {% if course.syllabus %}
                        <h2>Syllabus</h2>
                        {{ course.syllabus|raw }}
                    {% endif %}
                </div>
                <div class="course-footer-wrap">
                    {% if course.tags|length > 0 %}
                        <div class="taglist">
                            <span>Tags</span>
                            {% for tag in course.tags %}
                                <a href="{{ path('tag_courses', {tag: tag|lower}) }}"
                                   onmousedown="ga('send','event', 'Course - Inbound Clicks - tags', '{{tag}}', '{{course['name']}}')">{{ tag|lower }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {#
                    {% if not user_session.isCourseReviewed(course.id) %}
                        <a class="review-button" href="{{ reviewUrl }}" rel="nofollow" onmousedown="ga('send','event', 'Create Review Link', 'Write a review', '{{course['name']}}')">Write a review</a>
                    {% endif %}
                    #}
                </div>
            </div><!-- course info -->
        </div>
    </div>

    <div class ="course-meta-sidebar col-sm-4 col-lg-3">
        <div class="course-data">
            {% if course.nextOffering is defined and course.nextOffering.state %}
                <div class="course-data-row course-pace">
                    <span class="course-data-icon">
                        <svg class="icon icon-pace-icon" viewBox="0 0 36 32"><use xlink:href="#icon-pace-icon"></use></svg>
                        Pace
                    </span>
                    <a href="{{ path('ClassCentralSiteBundle_courses',{type: course.nextOffering.state}) }}" class="course-data-value">{{ offeringTypes[course.nextOffering.state].sessionDesc }}</a>
                </div>
            {% endif %}
            {% if course.lang is not empty %}
                <div class="course-data-row course-language">
                        <span class="course-data-icon">
                            <svg class="icon icon-comment" viewBox="0 0 32 32"><use xlink:href="#icon-comment"></use></svg>
                            Language
                        </span>
                    <a href="{{ path('lang', {slug : course.lang.slug}) }}" class="course-data-value">{{ course.lang.name }}</a>
                </div>
            {% endif %}
            <div class="course-data-row course-provider">
                    <span class="course-data-icon">
                        <svg class="icon icon-provider-icon" viewBox="0 0 38 32"><use xlink:href="#icon-provider-icon"></use></svg>
                        Provider
                    </span>
                <a class="course-data-value" href="{{ path('ClassCentralSiteBundle_initiative', {'type': course['initiative']['code'] }) }}" title="List of {{ course['initiative']['name'] }} MOOCs" onClick="ga('send','event', 'Course - Inbound Clicks - Initiative', '{{course['initiative']['name']}}', '{{course['name']}}')">{{ course['initiative']['name'] }}</a>
            </div>
            {% if course.institutions is not empty %}
                <div class="course-data-row course-institution">
                        <span class="course-data-icon">
                            <svg class="icon icon-institution-icon" viewBox="0 0 22 32"><use xlink:href="#icon-institution-icon"></use></svg>
                            Institution
                        </span>
                    {% for institution in course['institutions'] %}
                        {% set route = 'ClassCentralSiteBundle_university' %}
                        {% if not institution['isUniversity'] %}
                            {% set route = 'ClassCentralSiteBundle_institution' %}
                        {% endif %}
                        <a class="course-data-value" href="{{ path(route,{'slug' : institution['slug']|lower })}}" title="List of {{institution['name']}} MOOCs"
                           onClick="ga('send','event', 'Course - Inbound Clicks - University', '{{institution['name']}}', '{{course['name']}}')">{{institution['name']}}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="course-data-row course-sessions">
                    <span class="course-data-icon">
                        <svg class="icon icon-calendar-icon" viewBox="0 0 32 32"><use xlink:href="#icon-calendar-icon"></use></svg>
                        Calendar
                    </span>
                    <span class="course-data-value">
                            {% set offeringUrl = null %}
                        {% set selectedOfferingDetails = null %}
                        {% if offeringTypesOrder|length > 0 %}
                            <select id="sessionOptions"  {% if course.length > 0 %} style="margin-bottom: 15px;" {% endif %}>
                                {% for offeringType in offeringTypesOrder %}
                                    {% if course['offerings'][offeringType]|length > 0 %}
                                        <optgroup label="{{ offeringTypes[offeringType]['sessionDesc'] }}"></optgroup>
                                        {% for offering in course['offerings'][offeringType]%}
                                            {% if offeringUrl is null %}
                                                {% set offeringUrl = offering['url']  %}
                                                {% set selectedOfferingDetails = {
                                                'type' : offeringType,
                                                'startDate' : offering.startDate,
                                                'status' : offering.status
                                                } %}
                                            {% endif %}
                                            <option content="{{ offering['microdataDate'] }}" data-url="{{ offering['url'] }}"
                                                    data-sessiontype="{{ offeringType }}"  data-sessionstatus = '{{ offering.status }}' data-sessionstartdate="{{ offering.startDate }}"
                                                    {% if course.nextOffering.id == offering.id %} selected="selected" {% endif %}
                                                    >
                                                {{ offering['displayDate'] }}
                                            </option>

                                            {% if course.nextOffering.id == offering.id %}
                                                {% set offeringUrl = offering['url']  %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if course.length > 0 %}
                            <span  class="course-length">{{ course.length }} weeks long</span>
                        {% endif %}

                    </span>
            </div>

            <div class="course-data-row course-reviews" id="course-reviews" itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
                <span class="course-data-icon"></span>
                    <span class="course-data-value">
                        <div class="average-rating course-rating" data-score="{{ rating }}">
                            <meta itemprop="average" content="{{ rating }}">
                            <meta itemprop="best" content = "5"/>
                        </div>
                        <span class="review-count">
                            <a href="#course-all-reviews"  class="review-button"><span itemprop="count"><span itemprop="votes" >{{ reviews.ratingCount }}</span></span> {% if reviews.ratingCount == 1 %}review{% else %}reviews{% endif %}</a>
                        </span>
                        {% if not user_session.isCourseReviewed(course.id) and not hideCreateReview %}
                            <a class="review-button" href="{{ reviewUrl }}" rel="nofollow" onmousedown="ga('send','event', 'Create Review Link', 'Write a review', '{{course['name']}}')">Write a review</a>
                        {% endif %}
                    </span>
            </div>
            <div class="course-data-row course-participants">
                <a href="{{ path('mooc_interested', { id: course.id, slug: course.slug } ) }}" style="color: #272c2e;" title="List of Class Central users interested in {{ course.name }}"
                   onmousedown="ga('send','event', 'View all interested users', '{{ course.name }}')"
                >
                    <span class="number" style="text-decoration:underline" id="mycourses-listed-count">0</span>
                </a>
                <span class="course-data-value">Interested<br/> <span class="mycourses-listed-line-2">Class Central users</span></span>
            </div>
            <div class="course-data-row add-to-my-courses">
                    <span class="dropdown">
                        {% set userListIds = user_session.getCourseListIds(course['id']) %}
                        <a class="add-button dropdown-toggle" href="#" data-toggle="dropdown">
                            <span id="course-interest-checkbox">
                                {% if userListIds is empty %}+{% else %}-{% endif %}
                            </span>
                            Add to my courses
                            <span class="arrow-icon arrow-down-icon">
                                <svg class="icon icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
                            <span class="arrow-icon arrow-up-icon">
                                <svg class="icon icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for listId, list in listTypes %}
                                <li>
                                    <input type="checkbox"  name="course-interest-checkbox" class = "course-list-checkbox" id="check{{ listId }}" value="{{ listId }}" data-course-id = "{{ course.id }}"
                                           {% if listId in userListIds %}checked="checked"{% endif %} data-course-name="{{ course.name }}"
                                            >
                                    <label for="check{{ listId }}">{{ list.desc }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </span>
            </div>
            <div class="course-data-row course-register-button">
                <a class="register-button" href="{% if offeringUrl is not null %}{{ offeringUrl }}{% else %}{{ course.url  }}{% endif %}" id="btnProviderCoursePage"
                   onclick="recordOutboundLinkWithoutRedirect('{{course['initiative']['name']}}','{{ course['name'] }}','{{ course['stream']['name'] }}')" target="_blank">Go to Class</a>
            </div>
        </div>
        {% render controller('ClassCentralSiteBundle:TextAd:showAds', { 'pageName' : page } )   %}


    </div>
    </div>

    {#
    <div class="row">
        <div class ="span12" style="text-align: center; margin-top: 25px">
            <a class="btn btn-primary btn-course-cc"
               href="{{ path('ClassCentralSiteBundle_stream',{'slug' : course['stream']['slug']}) }}"
               title="List of {{ course['stream']['name'] }} MOOCs"
               onClick="ga('send','event', 'Course - Inbound Clicks - Stream', '{{course['stream']['name']}}', '{{course['name']}}')"
                    >Browse more {{ course['stream']['name'] }} courses</a>
        </div>
    </div>
    #}

    <div class="row">
    <div class="col-sm-8 col-lg-9 course-bottom-wrap">
    <div class="row">
    <div class="col-md-6 course-col">

        <div class="faq-wrap">
            <h5 class="faq-heading">
                FAQ
                <a href="{{ path('ClassCentralSiteBundle_faq') }}" onmousedown="ga('send','event', 'View All FAQ - Course page')">View All</a>
            </h5>
            <div class="faq-item">
                <div class="faq-question">
                    <span>What are MOOCs?</span>
                                <span class="arrow-up">
                                    <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                                </span>
                                <span class="arrow-down">
                                    <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                                </span>
                </div>
                <div class="faq-answer">
                    MOOCs stand for Massive Open Online Courses. These are<span style="text-decoration: underline;"> <em>free online courses</em></span> from universities around the world (eg. <a title="Stanford University MOOCs" href="https://www.class-central.com/university/stanford" target="_blank">Stanford</a> <a title="Harvard University MOOCs" href="https://www.class-central.com/university/harvard" target="_blank">Harvard</a> <a title="MIT MOOCs" href="https://www.class-central.com/university/mit" target="_blank">MIT</a>) offered to anyone with an internet connection.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">
                    <span>How do I register?</span>
                                <span class="arrow-up">
                                    <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                                </span>
                                <span class="arrow-down">
                                    <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                                </span>
                </div>
                <div class="faq-answer">
                    To register for a course, click on "Go to Class" button on the course page. This will take you to the providers website where you can register for the course.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">
                    <span>How do these MOOCs or free online courses work?</span>
                                <span class="arrow-up">
                                    <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                                </span>
                                <span class="arrow-down">
                                    <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                                </span>
                </div>
                <div class="faq-answer">
                    MOOCs are designed for an online audience, teaching primarily through short (5-20 min.) pre recorded video lectures, that you watch on weekly schedule when convenient for you.  They also have student discussion forums, homework/assignments, and online quizzes or exams.
                </div>
            </div>
        </div>
    </div>
    {# Show courses recommendationss #}

    {% if recommendations|length > 0 %}
        <div class="col-md-6 course-col">
            <div class="recommended-courses course-col-inner">
                <table>
                    <thead>
                    <tr>
                        <th>Related courses</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in recommendations %}
                        <tr>
                            <td>
                                {% if course.initiative is not null %}
                                    {% set initiative=course.initiative.name %}
                                {% else %}
                                    {% set initiative='Others' %}
                                {% endif %}
                                <a class="course-name" href="{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug':course.slug}) }}"
                                   onmousedown='recordInboundLink(
                                           "{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug': course.slug }) }}",
                                           "{{initiative}}","{{course.name}}","recommended");return false' ><span>{{ course.name }}</span></a>

                                    <ul class="table-uni-list">
                                        {% if course.institutions|length %}
                                            {% for institution in course.institutions %}
                                                {% set route = 'ClassCentralSiteBundle_university' %}
                                                {% if not institution['isUniversity'] %}
                                                    {% set route = 'ClassCentralSiteBundle_institution' %}
                                                {% endif %}
                                                <li>
                                                    <a class="uni-name" href="{{ path(route,{'slug' : institution['slug']})}}" title="List of {{institution['name']}} MOOCs" onClick="ga('send','event', 'Inbound Clicks - University', '{{institution['name']}}', '{{course['name']}}')">{{institution['name']}}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                        {% if course['initiative'] %}
                                            <span class="via">via</span>
                                            <a href="{{ path('ClassCentralSiteBundle_initiative', {'type': course.initiative.code }) }}"  class="initiativelinks" title="List of {{ course['initiative']['name'] }} MOOCs" onClick="ga('send','event', 'Inbound Clicks - Initiative', '{{ course.initiative.name }}', '{{course.name}}')"> {{ course.initiative.name }}</a>
                                        {% endif %}
                                    </ul>


                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a class="browse-more-courses"
                   href="{{ path('ClassCentralSiteBundle_stream',{'slug' : course['stream']['slug']}) }}"
                   title="List of {{ course['stream']['name'] }} MOOCs"
                   onClick="ga('send','event', 'Course - Inbound Clicks - Stream', '{{course['stream']['name']}}', '{{course['name']}}')"
                        > » Browse more <span>{{ course['stream']['name'] }} courses</span></a>
            </div>
        </div>
    {% endif %}
    {#
    {% if recentlyViewedCourses|length > 0 %}
         <div class="col-md-6 course-col">
            <div class="recent-courses-wrap">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Recently Viewed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in recentlyViewedCourses %}
                        <tr>
                            <td>
                                {% if course.initiative is not null %}
                                    {% set initiative=course.initiative.name %}
                                {% else %}
                                    {% set initiative='Others' %}
                                {% endif %}
                                <a class="course-name" href="{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug':course.slug}) }}"
                                   onmousedown='recordInboundLink(
                                           "{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug': course.slug }) }}",
                                           "{{initiative}}","{{course.name}}","recentlyViewed");return false' ><span itemprop="name">{{ course.name }}</span></a>
                                {% if course.institutions|length %}
                                    <ul class="table-uni-list">
                                        {% for institution in course.institutions %}
                                            {% set route = 'ClassCentralSiteBundle_university' %}
                                            {% if not institution['isUniversity'] %}
                                                {% set route = 'ClassCentralSiteBundle_institution' %}
                                            {% endif %}
                                            <li>
                                                <a class="uni-name" href="{{ path(route,{'slug' : institution['slug']})}}" title="List of {{institution['name']}} MOOCs" onClick="ga('send','event', 'Inbound Clicks - University', '{{institution['name']}}', '{{course['name']}}')">{{institution['name']}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    #}

    <div class="col-sm-12 course-col">
        <div class="course-all-reviews" id="course-all-reviews">
            <header class="reviews-header" >
                <h2>
                    <span class="review-count">{{ reviews.ratingCount }} </span>{% if reviews.ratingCount == 1 %}review{% else %}reviews{% endif %}
                    <span class="average-rating course-rating" data-score="{{ rating }}"></span>
                </h2>
                {#
                {% if not user_session.isCourseReviewed(course.id) %}
                    <a class="review-button" href="{{ reviewUrl }}" rel="nofollow" onmousedown="ga('send','event', 'Create Review Link', 'Write a review', '{{course['name']}}')">Write a review</a>
                {% endif %}
                #}
            </header>

            {% if reviews.count > 0 %}
                <div class="single-reviews-wrap">
                    {% for review in reviews.reviews %}
                        {% include 'ClassCentralSiteBundle:Review:single.html.twig' with{'review':review,'rating':rating} %}
                    {% endfor %}
                </div>

                <!--
                    <div class="view-more-wrap">
                        <button class="view-more">View More Reviews</button>
                    </div>
                -->
            {% endif %}

            {% if not app.user and not hideCreateReview %}
            <div class="new-review">
                {% render controller('ClassCentralSiteBundle:Review:reviewForm', {'courseId': course.id, page : page}) %}
            </div>
            {% endif %}

        </div>
    </div>



    </div>
    </div>
    </div>

    {#
    {% if news|length > 0 %}
        <div class="course-sidebar-box-wrap">
            <table class="table table-striped table-bordered news-box">
                <thead>
                <tr>
                    <th>News <a href="{{ path('ClassCentralSiteBundle_news') }}"
                                onmousedown="ga('trackEvent', 'View All News - Course Page'])"
                                >View All</a></th>
                </tr>
                </thead>
                <tbody>
                {% for newsItem in news %}
                    <tr>
                        <td>
                            <div class="news-excerpt">
                                <h4>{{ newsItem.title }}</h4>
                                <p>
                                    {{ newsItem.description }}
                                </p>
                                <a href="{{ newsItem.url }}"
                                   target="_blank" onmousedown="ga('send','event', 'Outbound Clicks - News','{{  newsItem.title }}' , 'Course Page')"
                                        >Read More ></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    #}

    <script type="text/javascript">
        window.addthisevent_settings = {
            license   : '{{ addthisevent }}',
            mouse     : false,
            css       : false,
            outlook   : {show:true, text:"Outlook Calendar"},
            google    : {show:true, text:"Google Calendar"},
            yahoo     : {show:true, text:"Yahoo Calendar"},
            hotmail   : {show:true, text:"Hotmail Calendar"},
            ical      : {show:true, text:"iCal Calendar"},
            facebook  : {show:true, text:"Facebook Event"},
            callback  : ['ga("_trackEvent","Outbound Click - Calendar","{{ course['name'] }}"])']
        };
    </script>

    <style type="text/css">
        .btnAddToCalendar {
            position: absolute;
        }
        /* AddThisEvent */
        .addthisevent {visibility:hidden;}
        .addthisevent-drop 						{display:inline-block;position:relative;z-index:998;background:#0662a1;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-style: normal;color:#fff!important;text-decoration:none;font-size:14px; font-weight:normal;text-decoration:none;padding:4px 5px 5px 8px;}
        .addthisevent-drop:hover 				{background-color:#666666;font-size: inherit;font-family: inherit; font-weight: inherit}
        .addthisevent-drop:active 				{top:1px;}
        .addthisevent-drop .arrow 				{width:15px;height:10px;position:absolute;top:50%;right:15px;margin-top:-5px;background:url("/bundles/classcentralsite/slashpixel/images/addthis-arrow.png") no-repeat;}
        .addthisevent-selected 					{}
        .addthisevent_dropdown 					{width:215px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:2px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
        .addthisevent_dropdown span 			{display:block;line-height:110%;background:#fff;text-decoration:none;font-size:14px;color:#6d84b4;padding:8px 10px 9px 15px;}
        .addthisevent_dropdown span:hover 		{background:#f4f4f4;color:#6d84b4;text-decoration:none}
        .addthisevent span 						{display:none!important;}
        .addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event {display:none!important;}
        .addthisevent_dropdown .copyx 			{height:21px;display:block;position:relative;cursor:default;}
        .addthisevent_dropdown .brx 			{width:180px;height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;top:9px;}
        .addthisevent_dropdown .frs 			{position:absolute;top:3px;cursor:pointer;right:10px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:10px;color:#cacaca;}
        .addthisevent_dropdown .frs:hover 		{color:#6d84b4;}
        .addthisevent 							{visibility:hidden;}

    </style>
    <!-- Form for Sending email -->
    <div class="modal hide fade cc-modal" id="sendMailModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <h3>Email course details</h3>
            <form method="post" class="cc-form" action="{{ path('ClassCentralSiteBundle_mooc_share',{'id' : course['id']}) }}" id="share-course-form">
                <h4>To</h4>
                <hr/>
                <label for="toEmail">Email<span class="label-req">*</span></label>
                <input type="text" name="toEmail"/>

                <h4>From</h4>
                <hr/>
                <label for="fromEmail">Email<span class="label-req">*</span></label>
                <input type="text" name="fromEmail"/>

                <label for="nameEmail">Name<span class="label-req">*</span></label>
                <input type="text" name="fromName"/>
            </form>
            <div id="share-course-form-error"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary btn-course-cc" id="share-course-form-submit">Send email</a>
        </div>
    </div>


{% endblock %}

{% block customJS %}
    var addthis_share = {
        templates: {
            twitter: 'Check out this free online course "{{ course.name }}" via @classcentral \{\{url}} ',
        }
    };
    $( document ).ready(function() {
    console.log(window.location.hash);
    if(!window.location.hash)
    {
    $.scrollTo('.section-heading',{ duration: 500    });
    }

    addthisevent.settings(window.addthisevent_settings);

    $("#share-course-form-submit").click(function(){

    ga('send','event', 'Course - Share', 'Mail Sent', '{{ course['name'] }}')

    var to = $("input[name='toEmail']").val();
    var from = $("input[name='fromEmail']").val();
    var fromName = $("input[name='fromName']").val();
    var dataString = 'name='+ fromName + '&to=' + to + '&from=' + from;

    // Validations
    if(to == "" || from == "" || fromName == "" )
    {
    $('#share-course-form-error').show().text("All fields are required");
    return false;
    }

    $('#share-course-form-error').hide().text("");

    $.ajax({
    type:"POST",
    url: "{{ path('ClassCentralSiteBundle_mooc_share',{'id' : course['id']}) }}",
    data: dataString,
    success:function(response){
    if(response.success) {
    $("#sendMailModal").modal('hide');
    $("input[name='toEmail']").val("");
    } else {
    $('#share-course-form-error').show().text(response.errors[0]);
    }
    }
    });
    });

    // Counter for the numbers
    setTimeout( function() {
    var numAnim = new countUp("mycourses-listed-count", 0, {{ course.listed }}, 0, 3    );
    numAnim.start();
    }, 1000);

    {# global state to help decide when the counter is to be updated #}
    {% set userListIds = user_session.getCourseListIds(course['id']) %}
    {% if userListIds is empty %}
        courseAdded = false;
    {% else %}
        courseAdded = true;
    {% endif %}

    });
{% endblock %}


