{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{# logged out user finished writing a review and has been redirected here. Show the user a signup form#}
 {% set showPostReviewSignupForm = false %}
{% for flashMessage in app.session.flashbag.get('show_post_review_signup_prompt') %}
  {% set showPostReviewSignupForm = true %}
{% endfor %}

 {% set courseImageUrl = null %}
     {%  if courseImage  %}
         {% set courseImageUrl = courseImage %}
     {% elseif course.imageUrl %}
         {% set courseImageUrl = rackspace_cdn_base_url~course.imageUrl %}
     {% endif %}

 {% block headmeta %}

     <title>Reviews for {{ course['pageTitle'] }} | Class Central</title>
     <meta name="description"
           content="{{ course['shortDesc'] }}"/>
     <meta property="og:title" content="Reviews for {{ course['pageTitle'] }} | Class Central" />
     <meta property="og:url" content="{{ course['pageUrl'] }}" />
     <link rel="canonical" href="{{ course['pageUrl'] }}">

     {% if courseImageUrl %}
         <meta property="og:image" content="{{ courseImageUrl }}">
     {% else %}
         <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
     {% endif %}
     <meta property="og:site_name" content="Class Central"/>
     <meta property="og:description" content="{{ course['shortDesc'] }}" />
     <meta property="og:type" content="website" />
     {% if course['videoIntro'] is not null %}
       {#  <meta property="og:video" content="{{  course['videoIntro']|replace({'https' : 'http'}) }}" /> #}
     {% endif %}
     <meta property="fb:admins" content="{{ fb_admins }}" />

     <!-- Twitter card integration -->
     <meta name="twitter:card" content="product">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:title" content="{{ course['pageTitle'] }}">
     <meta name="twitter:description" content="{{ course['shortDesc'] }}">
     <meta name="twitter:domain" content="www.class-central.com">
     {% if courseImageUrl %}
         <meta property="twitter:image:src" content="{{ courseImageUrl }}">
     {% else %}
         <meta property="twitter:image:src" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
     {% endif %}

     {% set twData = [] %}

     {% if course.nextOffering is defined %}
        {% set twData = twData|merge( [{ 'label': 'NEXT SESSION',  'data':course.nextOffering.displayDate  }] ) %}
     {% endif %}

     {% if rating > 0 %}
         {% set twData = twData|merge( [{  'label': 'RATING',  'data': ratingStars   }] ) %}
     {% endif %}

     {% if course.length > 0 %}
         {% set twData = twData|merge( [{  'label': 'LENGTH',  'data': course.length ~ ' weeks'   }] ) %}
     {% endif %}


     {% if twData[0] is defined %}
         <meta name="twitter:data1" content="{{ twData[0].data }}">
         <meta name="twitter:label1" content="{{ twData[0].label }}">
     {% endif %}

     {% if twData[1] is defined %}
         <meta name="twitter:data2" content="{{ twData[1].data }}">
         <meta name="twitter:label2" content="{{twData[1].label }}">
     {% endif %}

 {% endblock %}

{% block content %}

    {% set courseDesc = course.shortDesc %}
    {% if course.oneLiner is not empty %}
        {% set courseDesc = course.oneLiner %}
    {% endif %}

      <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Product",
          "name": "{{ course.name }}",
          "image": "{{ courseImageUrl }}",
          "description": "{{ courseDesc  }}",
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{ rating }}",
            "reviewCount": "{{ ratingsSummary.numRatings }}",
            "worstRating":  1,
            "bestRating": 5
          },
          "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "{{ course.price }}",
            "seller": {
              "@type": "Organization",
              "name": "{{ course.initiative.name }}"
            }
          },
          "reviews": {{ reviewService.getReviewsSchema(reviews.reviews)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
        }
        </script>

    {# whether to display create review/review form for logged out users  #}
    {% set hideCreateReview = false %}
    {% if app.session.get('user_course_reviewed_for') is defined and app.session.get('user_course_reviewed_for') == course.id %}
        {% set hideCreateReview = true %}
    {% endif %}

    {% set reviewUrl = path('review_new',{courseId: course.id})%}

    {# Links for admin #}
    {% if is_granted('ROLE_ADMIN') %}
      <div class="classcentral-style">
        <section class="width-centered margin-top-large padding-medium radius margin-bottom-large" style="border: 4px solid #E6F4FF; max-width: 1250px;">
          <h1 class="head-3 text--blue text--bold margin-bottom-medium">Links for Admin</h1>
          <div class="margin-vert-medium">
            <a
              class="btn-white text--charcoal icon-pencil icon--xsmall icon--left margin-right-xsmall"
              href="{{ path('course_edit', { 'id': course.id }) }}"
              >Edit Course</a>
            <a
              class="btn-white text--charcoal margin-right-xsmall"
              href="{{ path('course_show', { 'id': course.id }) }}">Admin Page</a>
            {% if course.status == 101  %}
              <a
                class="btn-white text--charcoal icon-checkmark icon--left margin-right-xsmall"
                href="{{ path('course_approve',{'courseId': course.id}) }}"
              >Quick Approve Course</a>

            {% endif %}
          </div>
          {% set bufferFrom = '' %}
          {% if course.institutions is not empty %}
              {% set bufferFrom = 'from ' ~ course.institutions[0].name %}
          {% endif %}
          <a href="http://bufferapp.com/add" class="buffer-add-button" {% if courseImage %} data-picture="{{ courseImage }}" {% endif %} data-text="[Starts Today] {{ course.name }} {{ bufferFrom }} {% if course.initiative %}on {{ course.initiative.name }} {% endif %} {% if rating > 0 %} {{ ratingStars }} ({{ ratingsSummary.numRatings }} {% if ratingsSummary.numRatings > 1 %} ratings{% else %} rating{% endif %}) {% endif %} " data-count="vertical" ></a><script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>
          <a href="http://bufferapp.com/add" class="buffer-add-button" {% if courseImage %} data-picture="{{ courseImage }}" {% endif %} data-text="[New Course] {{ course.name }} {{ bufferFrom }} {% if course.initiative %}on {{ course.initiative.name }}{% endif %}" data-count="vertical" ></a><script type="text/javascript" src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>
        </section>
      </div>
    {% endif %}

  <div class="classcentral-style">
    <div class="row width-centered padding-horz-small medium-up-padding-horz-medium xlarge-up-padding-horz-large" style="max-width: 1250px;">
      <div class="col pull width-100 xlarge-up-width-2-3 xlarge-up-padding-right-xxlarge">
        {% include 'ClassCentralSiteBundle:Course:moocHelpers/course.title.html.twig' %}
        {% if course.credential is not empty %}
            <a
              href="{{ path('credential_page', {slug: course.credential.slug}) }}"
              onmousedown="ga('send','event', 'Inbound Click - Credential from Course Page', '{{ course.credential.name}}', '{{ course.credential.certificateName }}')"
            >
              <span class="btn-white btn--small text--charcoal icon--left icon-credential">Earn A Credential</span>
              <span class="text--charcoal margin-left-xxsmall">Part of the</span>
              <span class="text--blue">{{ course.credential.name }}{%  if course.credential.certificateSlug != 'nanodegree' %} {{ course.credential.certificateName }}{% endif %}</span>
            </a>
        {% endif %}
      </div>

      <div class="col push width-100 xlarge-up-width-1-3 xlarge-up-padding-left-small">
        {# sidebar data #}
        {% include 'ClassCentralSiteBundle:Course:moocHelpers/course.sidebar.html.twig' %}

        <div class="xsmall-only-hidden small-only-hidden">
          {# include indepth review box#}
          {% include 'ClassCentralSiteBundle:Course:helpers/indepth.review.html.twig' %}

          {# include instructor review #}
          {% include 'ClassCentralSiteBundle:Course:helpers/interview.html.twig' %}
        </div>

        <div class="classcentral-style">
          <div class="xsmall-only-hidden small-only-hidden margin-top-xxlarge">
            {% render controller('ClassCentralSiteBundle:TextAd:showAds', { 'pageName' : page } )   %}
          </div>
        </div>
      </div>

      <div class="col pull width-100 xlarge-up-width-2-3 xlarge-up-padding-right-xxlarge">
        {% include 'ClassCentralSiteBundle:Course:moocHelpers/course.tabs.html.twig' %}

        {% if is_granted('ROLE_ADMIN') %}
          <section class="padding-medium radius" style="border: 4px solid #E6F4FF;">
          {% if potentialDuplicates['courses']['hits']['total'] > 0 %}
            <h4 class="head-3 text--blue text--bold margin-bottom-medium">Potential Duplicates</h4>
            <div class="width-100 tables-wrap">
              {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':potentialDuplicates['courses'],'tableId':'searchtable', 'showHeader':0, 'hideLoadMore':true,'hideTableAd':true} %}
            </div>
          {% endif %}
          </section>
        {% endif %}

        {# related #}
        {% include 'ClassCentralSiteBundle:Course:moocHelpers/course.related.html.twig' %}

        {# reviews #}
        {% include 'ClassCentralSiteBundle:Course:moocHelpers/course.reviews.html.twig' %}
      </div>
    </div>
  </div>

{% endblock %}

{% block customJS %}
  var addthis_share = {
      templates: {
          twitter: 'Check out this free online course "{{ course.name }}" via @classcentral \{\{url}} ',
      }
  };
  $( document ).ready(function() {
  if(!window.location.hash)
  {
      $.scrollTo('.section-heading',{ duration: 500    });
  }
  $(document).on('click', '.read-reviews-btn', function(e){
      e.preventDefault();
      $.scrollTo('#reviews',{ duration: 1000    });
      var url = window.location.href.toString().split(window.location.host)[1];
      if(url.indexOf('#reviews') == -1) {
      history.replaceState( null, null, url + '#reviews');
      }
  }
  );

  $("#share-course-form-submit").click(function(){

  ga('send','event', 'Course - Share', 'Mail Sent', '{{ course['name'] }}')

  var to = $("input[name='toEmail']").val();
  var from = $("input[name='fromEmail']").val();
  var fromName = $("input[name='fromName']").val();
  var dataString = 'name='+ fromName + '&to=' + to + '&from=' + from;

  // Validations
  if(to == "" || from == "" || fromName == "" )
  {
  $('#share-course-form-error').show().text("All fields are required");
  return false;
  }

  $('#share-course-form-error').hide().text("");

  $.ajax({
  type:"POST",
  url: "{{ path('ClassCentralSiteBundle_mooc_share',{'id' : course['id']}) }}",
  data: dataString,
  success:function(response){
  if(response.success) {
  $("#sendMailModal").modal('hide');
  $("input[name='toEmail']").val("");
  } else {
  $('#share-course-form-error').show().text(response.errors[0]);
  }
  }
  });
  });

  {% if  showAddToMTModal %}
    $(document).on("modal:ready", function() {
      CC.Class["Signup"].showSignupModal('mooc_tracker_add_to_my_courses');
    });
  {% endif %}

  {# global state to help decide when the counter is to be updated #}
  {% set userListIds = user_session.getCourseListIds(course['id']) %}
  {% if userListIds is empty %}
      courseAdded = false;
  {% else %}
      courseAdded = true;
  {% endif %}

  {# redirect after a logged out user completes a review. Show a signup portal #}
      {% if showPostReviewSignupForm  %}
        $(document).on("modal:ready", function() {
          CC.Class["Signup"].showSignupModal('create_course_review');
        });
      {% endif %}
  });
{% endblock %}
