{% extends 'ClassCentralSiteBundle::base.html.twig' %}


 {% block headmeta %}
     <title>{{ course['pageTitle'] }}</title>
     <meta name="description"
           content="{{ course['desc'] }}"/>
     <meta property="og:title" content="{{ course['name'] }}" />
     <meta property="og:url" content="{{ course['pageUrl'] }}" />
     <!--<meta property="og:image" content="http://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.jpg">-->
     <meta property="og:site_name" content="Class Central"/>
     <meta property="og:description" content="{{ course['desc'] }}" />
     <meta property="og:type" content="website" />
     {% if course['videoIntro'] is not null %}
        <meta property="og:video" content="{{  course['videoIntro'] }}" />
     {% endif %}
     <meta property="fb:admins" content="{{ fb_admins }}" />

     <!-- Twitter card integration -->
     <meta name="twitter:card" content="summary">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:title" content="{{ course['pageTitle'] }}">
     <meta name="twitter:description" content="{{ course['desc'] }}">
     <!-- <meta name="twitter:image:src" content="http://placekitten.com/250/250"> -->
     <meta name="twitter:domain" content="class-central.com">
 {% endblock %}

{% block content %}
    <div class="course-block" itemscope itemtype="http://schema.org/Event">
        <div class="course-meta-top row" >

            <div class='course-info span6'>
                <h1 class="course-title" itemprop="name">{{ course['name'] }}</h1>
                <div class="course-secondline">
                    {% if course['institutions']|length > 0 %}
                        {# Output the institutions with links #}
                        <ul>
                            {% for institution in course['institutions'] %}
                                {% set route = 'ClassCentralSiteBundle_university' %}
                                {% if not institution['isUniversity'] %}
                                    {% set route = 'ClassCentralSiteBundle_institution' %}
                                {% endif %}
                                <li><a href="{{ path(route,{'slug' : institution['slug']})}}" onClick="_gaq.push(['_trackEvent', 'Inbound Clicks - University', '{{institution['name']}}', '{{course['name']}}'])">{{institution['name']}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <span class="course-instructors">{{ course['instructorsSingleLineDisplay'] }}</span>
                </div>

                {% if course['initiative']['name']|length > 0%}
                    <div class="course-initiative">
                        <span>Initiative:</span> <a href="{{ path('ClassCentralSiteBundle_initiative', {'type': course['initiative']['code'] }) }}" target="_blank" title="{{ course['initiative']['tooltip'] }}"> {{ course['initiative']['name'] }}</a>
                    </div>
                {% endif %}

                <p class="course-desc" itemprop="description">
                    {{ course['desc'] }}
                </p>
            </div>

            <div class="course-video span5">
                {% if course['videoEmbedUrl'] is not null %}
                    <div class="video-container">
                        <iframe src="{{ course['videoEmbedUrl'] }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class ="course-meta-bottom row">
            <div class="course-meta-bottom-left span6">
                <p class="course-sessions">Session(s):</p>
                {% for offeringType in offeringTypesOrder %}
                    {% if course['offerings'][offeringType]|length > 0 %}
                          <div class='course-offeringtype-block'>
                            <h4 >{{ offeringTypes[offeringType]['sessionDesc'] }}</h4>
                            <ul>
                            {% for offering in course['offerings'][offeringType]%}
                                <li><span itemprop="startDate" content="{{ offering['microdataDate'] }}">{{ offering['displayDate'] }}</span> <a href="{{ offering['url'] }}" class="btn btn-primary btn-course-go">Go to class</a> </li>
                            {% endfor %}
                            </ul>
                          </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="course-meta-bottom-right span5">
                <div class= "row">
                    <div class="course-share span6">
                        <div class="fb-like share-button" data-href={{ course['pageUrl'] }} data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
                        <div class="share-button">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="classcentral" data-url={{ course['pageUrl'] }} data-count="vertical" data-hashtags="mooc">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>
                        <div class="g-plusone share-button" data-size="tall" href="{{course['pageUrl']}}" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}