{% set addCol = "large-up-width-2-16 xlarge-up-width-1-16" %}
{% set titleCol = "large-up-width-8-16 xlarge-up-width-9-16" %}
{% set dateCol = "large-up-width-3-16" %}
{% set ratingCol = "width-2-16 medium-up-width-3-16" %}

{% if isDeal %}
    <tr id="udemy-deals" class="classcentral-style">
        <td class="add-column width-1-16 {{ addCol }}">
            <i class="icon icon-coupon-charcoal icon--small"></i>
        </td>
        <td colspan="3" class="width-15-16 large-up-width-14-16 xlarge-up-width-15-16">
            <div class="width-100">
              <div class="pull text-center medium-up-text-left width-100 medium-up-width-1-2 relative">
                  <i class="symbol-udemy-red symbol--small relative">Udemy</i>
                  <span class="head-5 padding-left-xsmall">$12 for all courses below</span>
              </div>
              <div class="push padding-top-xxsmall text-center medium-up-text-right width-100 medium-up-width-1-2 border-box">
                <span class="head-5 icon--left icon-clock-charcoal">
                  Deal ends in <strong class="text--bold">{{ timeLeft }}</strong>
                </span>
              </div>
            </div>
        </td>
    </tr>
{% endif %}
{% for course in udemyCourses.results %}
    {% set courseUrl = 'https://www.udemy.com' ~ course.url ~ '&u1=cc_table_listings' %}
    {% set courseUrl = udemy_url~courseUrl|url_encode  %}
    {% set courseProvider = 'Udemy' %}
        <tr>

            {# add to profile column #}
            <td class="text-middle width-3-16 {{ addCol }}">
              <span
                style="color: #FF8E6C;"
                class="width-100 inline-block text-3 text-center padding-vert-xsmall text--bold"
              >
                AD
              </span>
            </td>

            <td class="course-name-column width-11-16 relative {{ titleCol }}">

                <a class="text--charcoal text-2 block course-name" itemprop='url' href="{{ courseUrl }}" target="_blank" title="{{ course.title }}">
                  <span itemprop="name" class="course-name-text text--bold">{{ course.title }}</span>
                {% if course.is_paid %}
                    <i class="icon icon-dollar icon--xsmall"></i>
                     {% if course.is_paid and isDeal %}
                         <span class="classcentral-style">
                           <span class="text--gray text--line inline-block padding-horz-xxsmall">{{ course.price }}</span> <span class="text--bold text--yellow">$12</span>
                         </span>
                     {% endif %}
                {% endif %}
                </a>
                <ul class="table-uni-list text-3">
                    <span class="via">via</span>
                    <a href="{{ path('ClassCentralSiteBundle_initiative', {'type': 'udemy' }) }}"  class="hover-text--underline text--charcoal hover-initiativelinks" title="List of Udemy MOOCs" onClick="ga('send','event', 'Inbound Clicks - Initiative', '{{ courseProvider }}', '{{course.title}}')"> {{ courseProvider }}</a>

                </ul>
            </td>
            <td class="start-date text-right text-2 text--charcoal xsmall-only-hidden small-only-hidden {{ dateCol }}">Self Paced</td>

            <td  class="course-rating-column text-center medium-up-text-right {{ ratingCol }}">
              {% include 'ClassCentralSiteBundle:Helpers:review.rating.html.twig' with { rating: 0 } %}
            </td>
        </tr>
{% endfor %}
