{% extends 'ClassCentralSiteBundle::Mail/layout/standard.html.twig' %}

{%  block content %}
<tr>
  <td valign="top" class="bodyContentTop">
    <div style="background: #ffffff; padding: 20px 0px 0px 0px">
      <h5 style="color: #454545; text-align: center; font-size: 18px; line-height: 24px; margin: 0px 0px 0px 0px;">
        {{ user.displayName }}, we have some personalized course recommendations for you.
      </h5>
      <p style="max-width: 525px; color: #454545; text-align: left; font-size: 16px; line-height: 21px; padding: 10px 0px 0px 0px; margin: 0px auto 0px auto;">
        Below are some courses starting in {{ recommendationsMonth }} that you might be interested in. Don't forget to checkout Class Central's <a style="color: #5074E9; text-decoration: none;" href="https://www.class-central.com/report/ten-most-popular-april-2018/?utm_medium={{ utm.medium }}&utm_campaign={{ utm.campaign }}&utm_source={{ utm.source }}">ten most popular courses</a> starting in April.
      </p>
    </div>
  </td>
</tr>
<tr>
  <td valign="top" class="bodyContentBullets" style="padding: 20px 0px 0px 0px;">
    <div style="border-radius: 10px; padding: 25px; background-color: #F3F6F9;">
      {% set courseCount = 10 %}
        {% for result in courses.hits.hits if result._source.nextSession is not empty and courseCount %}
        <div style="max-width: 500px; margin: 0px auto 25px auto;">
          {% set course = result._source %}
          {% if course.institutions|length %}
            <p style="text-align: left; margin: 0px 0px 0px; padding: 0px 0px 0px 0px;" align="left">
              {% set institution = course.institutions[0] %}
              <span style="color: #454545; font-size: 11px;">{{ institution.name }}</span>
            </p>
          {% endif %}
          <p style="text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <a style="color: #5074E9; text-decoration: none; font-weight: bold;" href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug': course.slug, autoLogin: loginToken, utm_medium: utm.medium, utm_source: utm.source, utm_campaign: utm.campaign}) }}">
              {{ course.name }}
            </a>
          </p>

          {% set rating = ((course.rating * 2)|round) / 2 %}
          {% if rating > 0 %}
          <p style="text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">

            {% if rating > 0 %}
              {% for i in range(1, rating|round(0, 'floor')) %}
                <img width="18" style="width: 18px;" src="https://d3r3mog6nu8pt4.cloudfront.net/star-filled.png" />
                {% endfor %}
            {% endif %}
            {% if rating matches '/\.5/' %}
              <img width="18" style="width: 18px;" src="https://d3r3mog6nu8pt4.cloudfront.net/star-half.png" />
            {% endif %}
            {% if 5 - rating|round > 0 %}
              {% for i in range(1, 5 - rating|round) %}
                <img width="18" style="width: 18px;" src="https://d3r3mog6nu8pt4.cloudfront.net/star-empty.png" />
              {% endfor %}
            {% endif %}
          </p>
          {% endif %}
          <p style="text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            {% if course.provider %}
            <span style="color: #454545; font-size: 12px; font-weight: 400;">via</span>
            <span style="font-style: italic; font-size: 12px;">{{ course.provider.name }}</span>,
            {% endif %}
            <span style="font-size: 12px; font-weight: bold;">
              Starts {{ course.nextSession.displayDate }}
            </span>
          </p>
        </div>
      {% endfor %}
    </div>
  </td>
</tr>
<tr>
  <td valign="top" class="bodyContentBottom" align="center">
    <div style="background: #ffffff; padding: 20px 0px 0px 0px; text-align: center;">
      {% if recommendationsPageUnlocked %}
        <p style="color: #454545; text-align: center; font-size: 14px; line-height: 18px; margin-bottom: 20px;">
          These updates are based on
          <a style="color: #5074E9; text-decoration: none;" href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{ redirect : 'user_follows',autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign}) }}">your follows</a>.
          <br />
          Don't forget to checkout your
          <a style="color: #5074E9; text-decoration: none;" href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign}) }}">personalized recommendations page</a>.
          <br /><br />
          <a style="background: #0E4DF1; border-radius: 10px; padding: 15px 20px 15px 20px; color: #ffffff; text-decoration: none; display: inline-block;" href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{ redirect : 'user_recommendations', autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign}) }}">View Personalized Recommendations</a>
        </p>
      {% else %}
        <p style="color: #454545; text-align: center; font-size: 14px; line-height: 18px; margin-bottom: 20px;">
          Unlock your
          <a style="color: #5074E9; text-decoration: none;" href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{ redirect : 'user_recommendations', autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign}) }}">personalized recommendations page</a> by
          <a style="color: #5074E9; text-decoration: none;" href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{ redirect : 'user_follows', autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign}) }}">updating your follows</a>.
          <br /><br />
          <a style="background: #0E4DF1; border-radius: 10px; padding: 15px 20px 15px 20px; color: #ffffff; text-decoration: none; display: inline-block;" href="{{ baseUrl }}{{ path('ClassCentralSiteBundle_homepage',{redirect : 'user_follows',autoLogin:loginToken,utm_medium : utm.medium,utm_source: utm.source, utm_campaign: utm.campaign}) }}">Unlock Your Personalized Recommendations Page</a>
        </p>
      {% endif %}
    </div>
  </td>
</tr>

{% endblock %}
