<div class="classcentral-style">
{%
  set colorSets = [
    [
      { color: "#cdb6d7", colorBg: "#f5f0f7" },
      { color: "#98dade", colorBg: "#eaf7f8" },
      { color: "#f5d79b", colorBg: "#fdf7eb" }
    ],
    [
      { color: "#b2e6c8", colorBg: "#effaf4" },
      { color: "#d89798", colorBg: "#f7eaea" },
      { color: "#a7add2", colorBg: "#edeef6" }
    ]
  ]
%}
{% set course = data.course %}
{% set colors = colorSets[random(1)] %}
{% set totalInstitutions = course.institutions|length %}
{% set insCount = 1 %}
  <div
    data-track-event="{{ ts.event('TRAILER_IMPRESSION') }}"
    data-track-props='{
      "courseId": "{{ course.id }}",
      "providerName": "{{ course.provider.name }}",
      "courseName": "{{ course.name }}"
    }'
    class="padding-horz-large padding-top-large padding-bottom-medium"
  >
    <h3
      class="head-3 medium-up-head-2 text--bold margin-bottom-xxsmall"
      id="course-title"
    >
      {{ course.name }}
    </h3>

    {# ---- RANKINGS ----- #}
    {# top50course #}
    {% if data.top50Course %}
      <a
        style="top: -3px;"
        class="
          inline-block head-6 text--upper
          padding-horz-xsmall text--white
          bg-banner bg-banner--purple text--bold
          relative
          margin-right-xxsmall"
        href="https://www.class-central.com/collection/top-free-online-courses?utm_source=course_trailer"
      >All-Time Top 50</a>
    {% endif %}
    {% if false %}
      <a
        style="top: -3px;"
        class="
          inline-block head-6 text--upper
          padding-horz-xsmall text--white
          bg-banner bg-banner--blue text--bold
          relative
          margin-right-xxsmall"
        href="https://www.class-central.com/collection/top-free-online-courses?utm_source=top-50-course-page"
      >Best of 2017</a>
    {% endif %}

    {# ---- INSTITUTION & PROVIDER ----- #}
    <p class="head-5 medium-up-head-4 block large-up-inline-block">
      {% if totalInstitutions > 0 %}
        {# Output the institutions with links #}
        {% for institution in course.institutions %}
          {% set route = 'ClassCentralSiteBundle_university' %}
          {% if not institution.isUniversity %}
              {% set route = 'ClassCentralSiteBundle_institution' %}
          {% endif %}
          {% if insCount > 1 %}
              {% if insCount < totalInstitutions %}
                 ,
              {% else %}
                  and
              {% endif %}
          {% endif %}
          <a
            class="text--charcoal hover-text--underline"
            href="{{ path(route,{'slug' : institution.slug|lower })}}"
            title="List of {{institution.name}} free online/courses MOOCs"
            onClick="ga('send','event', 'Course - Inbound Clicks - University', '{{institution.name}}', '{{course.name}}')"
          >{{institution.name}}</a>
          {% set insCount = insCount + 1 %}
        {% endfor %}
      {% endif %}
      {% if course.provider.name != 'Independent' %}
        via <a
          href="{{ path('ClassCentralSiteBundle_initiative', {'type': course.provider.code }) }}"
          class="text--charcoal text--italic hover-text--underline"
          onClick="ga('send','event', 'Inbound Clicks - Initiative', '{{ course.provider.name }}', '{{course.name}}')"
          data-track-click="{{ ts.event('LISTING_CLICK') }}"
          data-track-props='{ "type": "Provider", "clickMetadata": {
            "course": "{{ course.name }}",
            "courseId": "{{ course.id }}"
          }}'
        >{{ course.provider.name }}</a>
      {% endif %}
    </p>

    {# ---- SOCIAL BLOCK (reviews and students interested) ----- #}
    <div id="course-social" class="hidden medium-up-block unit-horz xlarge-up-margin-top-xxsmall margin-bottom-small">
      {# review block #}
      <div class="inline-block unit-block padding-right-medium">
        {% include 'ClassCentralSiteBundle:Helpers:review.rating.html.twig' with { ratingMobilize: false, rating: course.rating } %}
        <a
          id="read-reviews"
          href="#reviews"
          class="text-4 text--charcoal hover-text--underline medium-up-text-3 padding-left-xsmall relative medium-up-offset-4"
          onmousedown="ga('send','event', 'Read reviews', '{{course.name}}','Top')"
        >Based on {{ course.reviewsCount }} {% if course.reviewsCount == 1 %}Review{% else %}Reviews{% endif %}</a>
      </div>

      {# students interested block #}
      {% if data.interestedUsers|length > 0 %}
        <div class="
          block unit-block xlarge-up-inline-block
          xsmall-only-margin-top-xxsmall
          small-only-margin-top-xxsmall
          medium-only-margin-top-xxsmall
          large-only-margin-top-xxsmall
        ">
          {% set interestedUsersLength = data.interestedUsers|length %}
          {% set numUsers = interestedUsersLength >= 3 ? 3 : interestedUsersLength %}
          {% set paddingOffset = interestedUsersLength == 1 ? 5 : interestedUsersLength == 2 ? -3 : -8 %}
          <div
            style="padding-left: {{ 32 * numUsers + (paddingOffset) }}px;"
            class="inline-block relative margin-right-xxsmall"
          >
            <div class="absolute left">
              <ul class="inline-block relative">
                {% set userCount = 0 %}
                {% for user in data.interestedUsers if userCount < 3 %}
                  {% set offset = userCount > 0 ? userCount * 10 : 0 %}
                  <li class="inline-block relative" style="left: -{{ offset }}px">
                    {% include 'ClassCentralSiteBundle:Helpers:user.profile.html.twig' with {
                      width: 32,
                      user: user,
                      colors: colors[userCount],
                      location: "Course Page"
                    } %}
                    {% set userCount = userCount+1 %}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <strong class="head-3 medium-up-head-2 text--bold text--charcoal" data-format-number>{{ course.followed }}</strong>
          </div>
          <span class="text-4 medium-up-text-3 text--charcoal relative" style="top: -2px;"> students interested</span>
        </div>
     {% endif %}
     </div>
  </div>

  <div class="ratio ratio--9-16 bg-gray bg-cover relative">
    <div class="video-container ratio-content width-100 height-100"></div>
  </div>

  <button data-modal-close class="absolute top right margin-medium icon--center icon--xsmall icon-x-charcoal">
    Close
  </button>
</div>
