<a target="_blank" rel="nofollow" href="{{ url }}" onmousedown="ga('send','event', 'Banner Ad Click', '{{ desc }}','{{ location }}'); CC.Class['Analytics'].logBannerAd('{{provider}}','{{ location }}','{{ desc }}')">
    <img src="{{ imageUrl }}" style="max-width: 728px; width: 100%" />
</a>