{% if course.imageUrl %}
  {% set image = course.imageUrl %}
  {% if app.environment == 'prod' %}
    {% set image = imageService.cropImage(image, 315, 560) %}
  {% endif %}
{% endif %}
<a
  data-equalize-child
  data-track-click="{{ ts.event('HOMEPAGE_CLICK') }}"
  data-track-props='{ "type": "Popular Courses", "title": "{{ course.name }}", "sub_section": "{{ courseType is defined ? courseType : null }}" }'
  href="/mooc/{{ course.id }}/{{ course.slug }}"
  class="course-card hover-grow shadow border--thin border--gray-light border-box block relative"
>
  <div
    class="ratio ratio--9-16 bg-gray bg-cover border-bottom border--thin border--gray-light"
    style="top: 1px; {% if image is defined %}background-image: url({{ image }}); background-repeat: no-repeat; background-position: 50% 50%;{% endif %}">
  </div>
  <div class="padding-large">
    <h3 class="head-3 text--charcoal margin-bottom-xxsmall">{{ course.name }}</h3>
    <p class="head-5 text--charcoal">
      {% if course.institutions %}{{ course.institutions[0]["name"] }}{% endif %}
      via
      {% if course.provider is defined %}
      <span class="text--charcoal text--italic">{{ course.provider["name"]}}</span>
      {% endif %}
    </p>
    <div class="margin-top-xsmall">
      {% if course.rating is defined %}
      {% include 'ClassCentralSiteBundle:Helpers:review.rating.html.twig' with { rating: course.rating } %}
       <span class="text-3 text--charcoal relative" style="top: 3px;">
         {% if course.reviewsCount > 0 %}
         <span class="margin-left-xxsmall inline-block">({{ course.reviewsCount }})</span>
        {% else %}
          <span class="text-3 margin-left-xxsmall inline-block text--charcoal text--italic">No reviews yet.</span>
        {% endif %}
      </span>
      {% endif %}
    </div>
  </div>
</a>
