<section style="background-color: #F4F9FF;">
  <header class="row margin-top-xsmall padding-right-small padding-left-xsmall">
    <h1 class="col width-100 medium-up-width-2-3 text-center medium-up-text-left">
      <a
        data-track-props='{
          "title": "Earn Masters Degrees",
          "type": "{{ type }}"
        }'
        data-track-click="{{ ts.event('COURSERA_DEGREE_CLICK') }}"
        target="_blank"
        href="http://bit.ly/2DVddpU"
        class="text--blue icon--medium icon--left icon-degree-charcoal"
      >
        <span class="text-2 medium-up-text-2 padding-left-xsmall">Earn a Master's Degree Online</span>
      </a>
    </h1>
    <h2 class="col width-100 medium-up-width-1-3 text-center medium-up-text-right text--gray text-2">
      <span class="inline-block text-middle margin-right-xxsmall">from</span> <i style="top: 3px; position: relative;" class="symbol-coursera-blue"></i>
    </h2>
  </header>
  <ul class="row">
    <li class="col width-100 medium-up-width-1-2 xlarge-up-width-1-4 padding-xsmall">
      <a
        target="_blank"
        href="http://bit.ly/2rQvoIw"
        class="text-center block bg-white border-all radius padding-medium border--gray-xlight shadow shadow--blue hover-grow"
        data-track-props='{
          "title": "Master of Science in Accounting",
          "type": "{{ type }}"
        }'
        data-track-click="{{ ts.event('COURSERA_DEGREE_CLICK') }}"
      >
        <span class="block text--bold text--charcoal">Master of Science in Accounting</span>
        <span class="text--charcoal">University Illinois</span>
      </a>
    </li>
    <li class="col width-100 medium-up-width-1-2 xlarge-up-width-1-4 padding-xsmall">
      <a
        target="_blank"
        href="http://bit.ly/2DKN5i4"
        class="text-center block bg-white border-all radius padding-medium border--gray-xlight shadow shadow--blue hover-grow"
        data-track-props='{
          "title": "Master of Business Adminstration",
          "type": "{{ type }}"
        }'
        data-track-click="{{ ts.event('COURSERA_DEGREE_CLICK') }}"
      >
        <span class="block text--bold text--charcoal">Master of Business Adminstration</span>
        <span class="text--charcoal">University Illinois</span>
      </a>
    </li>
    <li class="col width-100 medium-up-width-1-2 xlarge-up-width-1-4 padding-xsmall">
      <a
        target="_blank"
        href="http://bit.ly/2DXdDfm"
        class="text-center block bg-white border-all radius padding-medium border--gray-xlight shadow shadow--blue hover-grow"
        data-track-props='{
          "title": "Master of Computer Science Data",
          "type": "{{ type }}"
        }'
        data-track-click="{{ ts.event('COURSERA_DEGREE_CLICK') }}"
      >
        <span class="block text--bold text--charcoal">Master of Computer Science Data</span>
        <span class="text--charcoal">University Illinois</span>
      </a>
    </li>
    <li class="col width-100 medium-up-width-1-2 xlarge-up-width-1-4 padding-xsmall">
      <a
        target="_blank"
        href="http://bit.ly/2npMjw5"
        class="text-center block bg-white border-all radius padding-medium border--gray-xlight shadow shadow--blue hover-grow"
        data-track-props='{
          "title": "Masters in Innovation and Entrepreneurship",
          "type": "{{ type }}"
        }'
        data-track-click="{{ ts.event('COURSERA_DEGREE_CLICK') }}"
      >
        <span class="block text--bold text--charcoal">Master's in Innovation and Entrepreneurship</span>
        <span class="text--charcoal">HEC Paris</span>
      </a>
    </li>
  </ul>
</section>
