<div class="mobile-filter-btn-wrap">
    <span>Filter</span>
    <a class="mobile-filter-btn">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
</div>
<div class="cat-filter-wrap">
    <div class="category-filter">
        <span class="filter-title">Filter by:</span>
        {# hide search box on search pages #}
        {% if page is defined and page != 'search' %}
            <div class="filter-search-wrap">
                <input class="filter-search" placeholder="Search for a course"/>
                <div class="filter-search-icon"></div>
            </div>
        {% endif %}
        <ul class="filter-nav">

        {# user course lists #}
        {% if userLists is defined and userLists|length > 0 %}
            <li class="filter-courses active">
                <a href="#" class="filter-dropdown-toggle main-category">My Courses<span class="arrow-up"></span><span class="arrow-down"></span></a>
                <ul class="main-filter-dropdown">
                    {% for list in listTypes if list.slug in userLists %}
                        <li>
                            <div class="tick-wrap">
                                <span class="tick">√</span>
                                <a href="#" class="filter-dropdown-toggle sub-category" data-course-list="{{ list.slug }}" data-type="course-list">{{ list.desc  }}</a>
                            </div>
                        </li>
                {% endfor %}

                    {% if searchTerms|length > 0 %}
                        <li>
                            <div class="tick-wrap">
                                <span class="tick">√</span>
                                <a href="#" class="filter-dropdown-toggle sub-category" data-course-list="searchTerm" data-type="course-list">Search Terms</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>

            </li>
        {% endif %}



        {# sessions #}
        {% if offSessions is defined and offSessions|length > 0 %}
            <li class="filter-sessions active">
                <a href="#" class="filter-dropdown-toggle main-category">Course Status<span class="arrow-up"></span><span class="arrow-down"></span></a>

                <ul class="main-filter-dropdown">
                    {% for slug,session in offSessions %}
                        <li id="session-{{ slug }}">
                            <div class="tick-wrap">
                                <span class="tick">√</span>
                                <a href="#" class="filter-dropdown-toggle sub-category" data-session="{{ slug }}" data-type="session"> {{ session.nav  }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}


        {# subjects #}
        {% if offSubjects is defined and offSubjects|length > 0  %}
            <li class="filter-subjects active">
                <a href="#" class="filter-dropdown-toggle main-category">Subjects<span class="arrow-up"></span><span class="arrow-down"></span></a>
                <ul class="main-filter-dropdown">
                    {% for pSub in offSubjects %}
                        <li id="subject-{{ pSub.slug }}" data-type="parent-sub">
                            <div class="tick-wrap">
                                <span class="tick">√</span>
                                <a href="#" class="filter-dropdown-toggle sub-category" data-subject="{{ pSub['slug'] }}" data-type="subject"> {% if pSub.children|length > 0 %}<span class="plus-sign">+ </span><span class="minus-sign">- </span> {% endif %}{{ pSub.name  }}</a>
                            </div>
                            {% if pSub.children|length > 0 %}
                                <ul class="filter-dropdown">
                                    {% for cSub in pSub.children %}
                                        <li id="subject-{{ cSub.slug }}" data-type="child-sub"><a href="#" class="sort" data-parent="{{ pSub.slug }}" data-subject="{{ cSub.slug }}" data-type="subject"><span class="tick">√</span>{{ cSub.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        {# languages #}
        {% if offLanguages is defined and offLanguages|length > 0 %}
            <li class="filter-languages active">
                <a href="#" class="filter-dropdown-toggle main-category">Languages<span class="arrow-up"></span><span class="arrow-down"></span></a>
                <ul class="main-filter-dropdown">
                    {% for language in offLanguages %}
                        <li id="lang-{{ language.name|lower }}">
                            <div class="tick-wrap">
                                <span class="tick">√</span>
                                <a href="#" class="filter-dropdown-toggle sub-category" data-lang="{{ language.name }}" data-type="lang"> {{ language.name  }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        </ul>
    </div>
</div>