<div class="navbar navbar-static-top">
    <div class="navbar-inner cc-navbar">
        <div class="container" style="width: none">
            
<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
	    <div class="nav-collapse collapse">
            <ul class="nav pull-left logo">
                <li>
                    <a href="{{ path('ClassCentralSiteBundle_homepage')}}" title="MOOC aggregator"><h1>Class Central</h1></a>
                </ul>
            </ul>

            <ul class="nav pull-right nav-right-list navbar-fixed-top">
                <li class="search-form">
                    <div id='nav-search-form'>
                        <div class="input-append search-button">
                            {# <input  id="prependedInput" type="text" name="q"> #}
                            <a href="/search" onmousedown="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Search'])"><button><span class="add-on"><i class="icon-search"></i></span></button></a>
                        </div>
                    </div>
                    {# include 'ClassCentralSiteBundle:Helpers:search_form.html.twig' with {'keywords': null} #}
                </li>
                {# Login/Logout #}
                <li class="logreg dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">User Menu</a>
                    <ul class="dropdown-menu user-menu">
                        <li>
                            {% if app.user %}
                                <a href="{{ path('mooctracker') }}" class="nav-title" title="MOOC Tracker" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'MOOC Tracker User Menu'])" title="MOOC Tracker">
                                    MOOC Tracker
                                </a>
                                <a href="{{ path('logout') }}" class="nav-title" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Logout'])" >Logout</a>


                            {% else %}
                                <a href="{{ path('login') }}" class="nav-title" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Login'])">Login</a>
                                <a href="{{ path('mooctracker_signup') }}" class="nav-title" title="MOOC Tracker" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'MOOC Tracker Signup User Menu'])" title="MOOC Tracker Signup">
                                    Signup for MOOC Tracker
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav nav-right-list navbar-fixed-top">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-title" title="Browse MOOCs by their Start date" data-toggle="dropdown">Courses<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for offeringType, offeringDetails in offeringTypes %}
                            {% if offeringCount[offeringType] > 0 %}
                                <li><a href="{{ path('ClassCentralSiteBundle_courses',{'type' : offeringType})}}" title="{{offeringDetails.nav}} - MOOCs" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Courses', '{{offeringType}}'])">{{offeringDetails.nav}} ({{ offeringCount[offeringType] }})</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-title" title="Browser MOOCs by Initiatives" data-toggle="dropdown">Providers<b class="caret"></b></a>
                    <ul class="dropdown-menu">  
                    {% for initiative, code in initiativeTypes %}                            
                        <li>
                            <a href="{{ path('ClassCentralSiteBundle_initiative',{'type' : initiative})}}" title="List of {{ initiativeCount[code]['name'] }} MOOCs" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Initiative', '{{initiative}}'])">{{initiativeCount[code]['name'] }} ({{ initiativeCount[code]['count'] }})</a>
                        </li>
                    {% endfor %}                            
                    </ul>
                </li>

                {# Subjects #}
                <li><a href="{{ path('subjects',{}) }}" class="nav-title" title="Subjects" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Subjects'])">Subjects</a></li>
                <li><a href="{{ path('ClassCentralSiteBundle_news',{}) }}" class="nav-title" title="MOOC news" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'News'])">News</a></li>

                {# MOOC Tracker/ Signup #}
                <li class="mooc-tracker">
                    {% if app.user %}
                        <a href="{{ path('mooctracker') }}" class="nav-title" title="MOOC Tracker" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'MOOC Tracker'])" title="MOOC Tracker">
                            MOOC Tracker
                        </a>
                    {% else %}
                        <a href="{{ path('mooctracker_signup') }}" class="nav-title" title="MOOC Tracker" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'MOOC Tracker Signup'])" title="MOOC Tracker Signup">
                            Signup for MOOC Tracker
                        </a>
                    {% endif %}
                </li>
            </ul>
	    </div>

        </div>
    </div>
</div>