<!-- fb like button js -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
<!-- Google+ button -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div class="navbar {% if page is defined %} navbar-fixed-top {% endif %} navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            
<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
	    <div class="nav-collapse">
            <ul class="nav">                
		<li {% if page is defined and page=='home' %}class="active"{% endif %}><a href="{{ path('ClassCentralSiteBundle_homepage')}}">Home</a></li> 		                              
                 <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Initiatives<b class="caret"></b></a>  
                    <ul class="dropdown-menu">  
                    {% for initiative, code in initiativeTypes %}                            
                        <li>
                            <a href="{{ path('ClassCentralSiteBundle_initiative',{'type' : initiative})}}" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Initiative', '{{initiative}}'])">{{initiativeCount[code]['name'] }} ({{ initiativeCount[code]['count'] }})</a>
                        </li>
                    {% endfor %}                            
                    </ul>
                </li>
                <!-- streams !-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stream<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for stream in streams %}
                            <li>
                                <a href="{{ path('ClassCentralSiteBundle_stream',{'slug':stream['slug']}) }}" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Stream', '{{stream['name']}}'])">{{ stream['name'] }} ({{ stream['total'] }})</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown">  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>  
                    <ul class="dropdown-menu">  
                    {% for offeringType, offeringDetails in offeringTypes %}
                            {% if offeringCount[offeringType] > 0 %}
                                <li><a href="{{ path('ClassCentralSiteBundle_courses',{'type' : offeringType})}}" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Courses', '{{offeringType}}'])">{{offeringDetails.nav}} ({{ offeringCount[offeringType] }})</a></li>
                            {% endif %}
                    {% endfor %}                            
                    </ul>
                </li> 
                 <li><a href="https://plus.google.com/{{plusPageUrl}}/" target="_blank" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'News'])">News</a></li>
                 <li><a href="http://www.blog.class-central.com" target="_blank" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Blog'])">Blog</a></li>
                 <li {% if page is defined and page=='search' %}class="active"{% endif %}><a href="{{ path('ClassCentralSiteBundle_search')}}" onClick="_gaq.push(['_trackEvent', '{{ navEventName }}', 'Search'])">Search</a></li>
            </ul>
            {% if app.environment == 'prod' and page is defined %}
		    <ul class="nav pull-right">
                        <li class="social-btn-nav">
                            <a href="https://twitter.com/classcentral" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @classcentral</a>
                           <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.class-central.com" data-text="Free online courses from Stanford,MIT,Harvard etc offered via Coursera,Udacity,edX &amp; others" data-via="classcentral" data-hashtags="mooc">Tweet</a> -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </li>
                        <li class="social-btn-nav">
                            <div class="fb-like" data-href="https://www.facebook.com/classcentral" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                        </li>
                        <li class="social-btn-nav" style="margin-left: 10px;">
                            <div class="g-plusone" data-size="medium" data-href="http://www.class-central.com"></div>
			</li>
			<li class="social-btn-nav"><iframe src="http://ghbtns.com/github-btn.html?user=dhawalhshah&repo=class-central&type=watch&count=true"
				  allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe></li>
		    </ul>
	    </div>
            {% endif %}
        </div>
    </div>
</div>
