<header class="width-centered padding-horz-large" style="max-width: 1250px;">
  <div class="row">
    <div class="col width-100 large-up-width-3-5 padding-right-large">
      <div class="unit-horz margin-bottom-small">
        {% if info.imageUrl %}
          <div class="unit-block padding-right-medium">
            <img src="{{ rackspace_cdn_base_url }}{{ info.imageUrl }}" style="width: 85px;">
          </div>
        {% endif %}
        {% if info.type == "Stream" %}
          <div class="unit-block padding-right-medium">
            <img src="/bundles/classcentralsite/images/icon-{{ subject.slug }}.png" style="width: 85px;">
          </div>
        {% endif %}
        <div class="unit-block unit-fill">
          <h2 class="head-4 medium-up-head-3 block">Free Online Courses
            {% if info.type == "Institution" or info.type == "Initiative" %}from{% else %}in{% endif %}
            {% if info.type == "Language" %} the{% endif %}
          </h2>
          <h1><strong class="head-2 medium-up-head-1 text--bold">{{info.name}}</strong></h1>
        </div>
      </div>

      {% if info.description %}
        <p class="text--charcoal text-1">{{ info.description|raw }}</p>
      {% endif %}

      {% if info.type != "Language" %}
        <div class="text-center margin-top-medium medium-up-text-left">
          {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
              item : followItem,
              item_id : followItemId,
              itemName: followItemName,
              followed: user_session.isItemFollowed(followItem,followItemId),
              followButtonWithCount: true,
              followDesc: 'Follow to get an email when new courses are available',
              followDescPosition: 'right',
              followDescColor: 'black',
              followers:followService.getNumFollowers(followItem,followItemId)
          } %}
        </div>
      {% endif %}
    </div>

    <div class="col width-100 large-up-width-2-5 medium-up-margin-vert-medium large-up-margin-top-large">
      {%  include 'ClassCentralSiteBundle:Helpers:pageHeaderImageAds.html.twig' %}
    </div>
  </div>
</header>
