<section class="spotlight section-tab-content">
    <div class="spotlight-logo-wrap">
        <a href="#" class="spot-logo coursera-logo">Coursera</a>
        <a href="#" class="spot-logo udacity-logo">Udacity</a>
        <a href="#" class="spot-logo edx-logo">edX</a>
        <a href="#" class="no-logo">Plus Many More</a>
    </div>
    <h2 class="section-heading">
        <span>Spotlight</span>
    </h2>

    <div class="row">

        {% for spotlight in spotlights %}
            <div class="col-xs-6 col-sm-4 col-md-3 spotlight-item-wrap">
                <a class="spotlight-item {{ spotlightMap[spotlight.type].class }}" href="{{ spotlight.url }}">
                    <div class="img-wrap">
                        <img src="{{ spotlight.imageUrl }}" alt="spotlight background image">
                        <h3>
                            {{ spotlight.title }}
                        </h3>
                    </div>
                    <p class="excerpt">
                        {{ spotlight.description }}
                    </p>
                    <span class="action">{{ spotlightMap[spotlight.type].text }}</span>
                </a>
            </div>
        {% endfor %}

    </div>
</section>