
   {#
    <div class="spotlight-logo-wrap">
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'coursera'}) }}" class="spot-logo coursera-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','Coursera')"
                >Coursera</a>
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'udacity'}) }}" class="spot-logo udacity-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','Udacity')"
                >Udacity</a>
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'edx'}) }}" class="spot-logo edx-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','edX')"
                >edX</a>
        <a href="{{  path('providers') }}" style="text-decoration:none !important "><span  class="no-logo"> Plus Many More </span></a>
    </div>
    #}
    <h2 class="section-heading">
        <span>Spotlight</span>
    </h2>

    <div class="row">

        {% for position in 1..10 %}
            {% if position != 2 %}
                {% set spotlight = spotlights[position] %}
                <div class="col-xs-6 col-sm-4 col-md-3 spotlight-item-wrap {{ spotlightMap[spotlight.type].visible }}
                   {% if spotlight.position != 1 and spotlight.position !=2 %} hidden-xs {% endif %}
                "

                     id="home-spotlight-{{ spotlight.position }}">
                    <a class="spotlight-item {{ spotlightMap[spotlight.type].class }}" href="{{ spotlight.url }}"
                            onmousedown="ga('send','event','Spotlight','{{ spotlight.position }}',
                                    '{% if spotlight.title %} {{ spotlight.title }} {% else %} {{ spotlight.description }} {% endif %}');"
                            {% if spotlight.type == 5 %} rel="nofollow" {% endif %} {# sponsor links #}
                            >

                        <div class="img-wrap">
                            {% set spotlightImage = imageService.getSpotlightImage (spotlight.imageUrl, spotlight.id) %}
                            <div class="spotlight-item-image" style="background-image: url({{ spotlightImage }});"></div>
                            {% if spotlight.type == 2 %}

                                {{ spotlight.courseId }}
                                {%  set spotlightCourseRating = reviewService.calculateAverageRating(spotlight.courseId)  %}
                                <div class="spotlight-item__rating">
                                  {% include 'ClassCentralSiteBundle:Helpers:starRating.html.twig' with {formattedRating: reviewService.formatRating(spotlightCourseRating.rating),ratingColour: 'white'} %}
                                </div>


                                <div class="spotlight-item__reviews">
                                  <span class="numberBubble">{{ spotlightCourseRating.numRatings }}</span>
                                </div>
                            {% endif %}

                            <div class="spotlight-item__overlay"></div>

                            <div class="spotlight-item__image-content">
                              {% if spotlight.title %}
                              <div class="spotlight-item-title">
                                <h3>
                                    {{ spotlight.title }}
                                </h3>
                              </div>

                            {% endif %}
                            </div>

                        </div>
                        <div class="excerpt">
                            {{ spotlight.description }}
                        </div>
                        <div class="spotlight-item__action">{{ spotlightMap[spotlight.type].text }}</div>
                    </a>
                </div>

            {% else %}
                {# Show courses that are part of the educator program #}
                <div class="col-xs-6 col-sm-4 col-md-3 spotlight-item-wrap {{ spotlightMap[2].visible }}
                   {% if spotlight.position != 1 and spotlight.position !=2 %} hidden-xs {% endif %}"

                     id="home-spotlight-{{ spotlight.position }}">
                    <a class="spotlight-item {{ spotlightMap[2].class }}" href="{{ path('ClassCentralSiteBundle_mooc',{ id: spotlightPaidCourse.id, slug:spotlightPaidCourse.slug}) }}{{ spotlightPaidCourse.nextSession.url }}"
                       onmousedown="ga('send','event','Spotlight','{{ spotlight.position }}',
                               '{{ spotlightPaidCourse.name }}');"
                            >

                        <div class="img-wrap">
                            {% if spotlightPaidCourse.imageUrl is not empty %}
                                {% set spotlightImage = imageService.getSpotlightImage (spotlightPaidCourse.imageUrl, spotlightPaidCourse.id) %}
                            {% endif %}
                            <div class="spotlight-item-image" style="background-image: url({{ spotlightImage }});"></div>
                                {%  set spotlightCourseRating = reviewService.calculateAverageRating(spotlightPaidCourse.id)  %}
                                <div class="spotlight-item__rating">
                                    {% include 'ClassCentralSiteBundle:Helpers:starRating.html.twig' with {formattedRating: reviewService.formatRating(spotlightCourseRating.rating),ratingColour: 'white'} %}
                                </div>


                                <div class="spotlight-item__reviews">
                                    <span class="numberBubble">{{ spotlightCourseRating.numRatings }}</span>
                                </div>
                            <div class="spotlight-item__overlay"></div>

                            <div class="spotlight-item__image-content">
                                    <div class="spotlight-item-title">
                                        <h3>
                                            {{ spotlightPaidCourse.name }}
                                        </h3>
                                    </div>
                            </div>

                        </div>
                        <div class="excerpt">
                            {{ spotlightPaidCourse.oneLiner }}
                        </div>
                        <div class="spotlight-item__action">{{ spotlightMap[spotlight.type].text }}</div>
                    </a>
                </div>

            {% endif %}
        {% endfor %}

    </div>

    {# Banner Ad #}
    <div class="course-col row" align="center">
      <div class="full-width-bg-row">
          <div class="banner-ad">
              <div class="banner-ad__left">
                  <h4 class="banner-ad__title">Thanks to our sponsors <i>canvas</i></h4>
                  <div class="banner-ad__text">
                      enroll in open, online courses from colleges universities, and organisations worldwide
                  </div>
                  <div class="banner-ad__subtext">
                      canvas.net
                  </div>
              </div>
              <div class="banner-ad__right">
                  {%  include 'ClassCentralSiteBundle:Helpers:banner.ads.html.twig' with {
                  'bannerAdlocation': 'Homepage'
                  }
                  %}
              </div>

          </div>
      </div>
    </div>


    <h2 class="section-heading">
        <span>MOOC Report</span>
    </h2>

    <div class="row">

        {% for position in 13..17 %}
            {% set spotlight = spotlights[position] %}
            <div class="col-xs-6 col-sm-4 col-md-3 spotlight-item-wrap {{ spotlightMap[spotlight.type].visible }}
               {% if spotlight.position != 13 and spotlight.position !=14 %} hidden-xs {% endif %}
            "

                 id="home-spotlight-{{ spotlight.position }}">
                <a class="spotlight-item {{ spotlightMap[spotlight.type].class }}" href="{{ spotlight.url }}"
                   onmousedown="ga('send','event','Spotlight','{{ spotlight.position }}',
                           '{% if spotlight.title %} {{ spotlight.title }} {% else %} {{ spotlight.description }} {% endif %}');"
                        {% if spotlight.type == 5 %} rel="nofollow" {% endif %} {# sponsor links #}
                        >

                    <div class="img-wrap">
                        {% set spotlightImage = imageService.getSpotlightImage (spotlight.imageUrl, spotlight.id) %}
                        <div class="spotlight-item-image" style="background-image: url({{ spotlightImage }});"></div>
                        <div class="spotlight-item__overlay"></div>
                        <div class="spotlight-item__image-content">
                            {% if spotlight.title %}
                                <div class="spotlight-item-title">
                                    <h3>
                                        {{ spotlight.title }}
                                    </h3>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                    <p class="excerpt">
                        {{ spotlight.description }}
                    </p>
                    <div class="spotlight-item__action">{{ spotlightMap[spotlight.type].text }}</div>
                </a>
            </div>
        {% endfor %}


        {#
        <div class="spotlight-col-aside">
          <div class="featured-media">

             <a href="#" class="featured-media__imageLink">
               <img src="http://placehold.it/446x305" alt="Image title" class="featured-media__img">
             </a>

            <h2 class="featured-media__title">
              <a href="">Exploring Course Structure at HarvardX: A New Year's Resolution for MOOC Research</a>
            </h2>
            <div class="featured-media__content">
              One of the minds behind HarvardX shares a glimpse into how their courses are structured
            </div>
            <div class="featured-media__meta">
              Published on Wednesday 2nd March 2016
            </div>
          </div>
        </div>

        <div class="spotlight-col-main">

          <div class="media-object media-object--bordered">
            <a href="#" class="media-object__image">
              <img src="http://placehold.it/446x305" alt="Image title" class="media-object">
            </a>

            <div class="media-object__content">
              <h2 class="media-object__title">
                <a href="#">MOOCWatch Feb 2016: More Students, More Price Points, <br> More Models</a>
              </h2>
              <div class="media-object__meta">
                Published on Tuesday 1st March 2016
              </div>
            </div>

          </div>

          <div class="media-object media-object--bordered">
            <a href="#" class="media-object__image">
              <img src="http://placehold.it/446x305" alt="Image title" class="media-object">
            </a>

            <div class="media-object__content">
              <h2 class="media-object__title">
                <a href="#">MOOCWatch Feb 2016:More Students, More dfasfa afa sdfas fas af jas l</a>
              </h2>
              <div class="media-object__meta">
                {% include 'ClassCentralSiteBundle:Helpers:starRating.html.twig' with {formattedRating: reviewService.formatRating(4),ratingColour: 'brightBlue'} %}
                Review on Friday 28th February 2016
              </div>
            </div>

          </div>

          <div class="media-object media-object--bordered">
            <a href="#" class="media-object__image">
              <img src="http://placehold.it/446x305" alt="Image title" class="media-object">
            </a>

            <div class="media-object__content">
              <h2 class="media-object__title">
                <a href="#">MOOCWatch Feb 2016:More Students, More dfasfa afa sdfas fas af jas l</a>
              </h2>
              <div class="media-object__meta">
                Published on Tuesday 1st March 2016
              </div>
            </div>

          </div>

          <div class="media-object media-object--bordered">
            <a href="#" class="media-object__image">
              <img src="http://placehold.it/446x305" alt="Image title" class="media-object">
            </a>

            <div class="media-object__content">
              <h2 class="media-object__title">
                <a href="#">MOOCWatch Feb 2016:More Students, More dfasfa afa sdfas fas af jas l</a>
              </h2>
              <div class="media-object__meta">
                Published on Tuesday 1st March 2016
              </div>
            </div>

          </div>




        </div>
        #}

    </div>