
    <div class="spotlight-logo-wrap">
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'coursera'}) }}" class="spot-logo coursera-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','Coursera')"
                >Coursera</a>
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'udacity'}) }}" class="spot-logo udacity-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','Udacity')"
                >Udacity</a>
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'edx'}) }}" class="spot-logo edx-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','edX')"
                >edX</a>
        <span  class="no-logo">Plus Many More</span>
    </div>
    <h2 class="section-heading">
        <span>Spotlight</span>
    </h2>

    <div class="row">

        {% for position in 1..10 %}
            {% set spotlight = spotlights[position] %}
            <div class="col-xs-6 col-sm-4 col-md-3 spotlight-item-wrap {{ spotlightMap[spotlight.type].visible }}
               {% if spotlight.position != 1 and spotlight.position !=2 %} hidden-xs {% endif %}
            "

                 id="home-spotlight-{{ spotlight.position }}">
                <a class="spotlight-item {{ spotlightMap[spotlight.type].class }}" href="{{ spotlight.url }}"
                        onmousedown="ga('send','event','Spotlight','{{ spotlight.position }}',
                                '{% if spotlight.title %} {{ spotlight.title }} {% else %} {{ spotlight.description }} {% endif %}');"
                        {% if spotlight.type == 5 %} rel="nofollow" {% endif %} {# sponsor links #}
                        >
                    <div class="img-wrap">
                        <img src="{{ spotlight.imageUrl }}" alt="spotlight background image">
                        {% if spotlight.title %}
                            <h3>
                                {{ spotlight.title }}
                            </h3>
                        {% endif %}
                    </div>
                    <p class="excerpt">
                        {{ spotlight.description }}
                    </p>
                    <span class="action">{{ spotlightMap[spotlight.type].text }}</span>
                </a>
            </div>
        {% endfor %}

    </div>

    <h2 class="section-heading">
        <span>MOOC Report</span>
    </h2>

    <div class="row">
        {% for position in 13..17 %}
            {% set spotlight = spotlights[position] %}
            <div class="col-xs-6 col-sm-4 col-md-3 spotlight-item-wrap {{ spotlightMap[spotlight.type].visible }}
               {% if spotlight.position != 13 and spotlight.position !=14 %} hidden-xs {% endif %}
            "

                 id="home-spotlight-{{ spotlight.position }}">
                <a class="spotlight-item {{ spotlightMap[spotlight.type].class }}" href="{{ spotlight.url }}"
                   onmousedown="ga('send','event','Spotlight','{{ spotlight.position }}',
                           '{% if spotlight.title %} {{ spotlight.title }} {% else %} {{ spotlight.description }} {% endif %}');"
                        {% if spotlight.type == 5 %} rel="nofollow" {% endif %} {# sponsor links #}
                        >
                    <div class="img-wrap">
                        <img src="{{ spotlight.imageUrl }}" alt="spotlight background image">
                        {% if spotlight.title %}
                            <h3>
                                {{ spotlight.title }}
                            </h3>
                        {% endif %}
                    </div>
                    <p class="excerpt">
                        {{ spotlight.description }}
                    </p>
                    <span class="action">{{ spotlightMap[spotlight.type].text }}</span>
                </a>
            </div>
        {% endfor %}

    </div>