
    <div class="spotlight-logo-wrap">
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'coursera'}) }}" class="spot-logo coursera-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','Coursera')"
                >Coursera</a>
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'udacity'}) }}" class="spot-logo udacity-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','Udacity')"
                >Udacity</a>
        <a href="{{ path('ClassCentralSiteBundle_initiative',{type : 'edx'}) }}" class="spot-logo edx-logo"
           onmousedown="ga('send','event','Tagline Clicks','Provider','edX')"
                >edX</a>
        <a href="{{  path('providers') }}" style="text-decoration:none !important "><span  class="no-logo"> Plus Many More </span></a>
    </div>
    <h2 class="section-heading">
        <span>Spotlight</span>
    </h2>

    <div class="row">

        {% for position in 1..10 %}
            {% set spotlight = spotlights[position] %}
            <div class="col-xs-6 col-sm-4 col-md-3 spotlight-item-wrap {{ spotlightMap[spotlight.type].visible }}
               {% if spotlight.position != 1 and spotlight.position !=2 %} hidden-xs {% endif %}
            "

                 id="home-spotlight-{{ spotlight.position }}">
                <a class="spotlight-item {{ spotlightMap[spotlight.type].class }}" href="{{ spotlight.url }}"
                        onmousedown="ga('send','event','Spotlight','{{ spotlight.position }}',
                                '{% if spotlight.title %} {{ spotlight.title }} {% else %} {{ spotlight.description }} {% endif %}');"
                        {% if spotlight.type == 5 %} rel="nofollow" {% endif %} {# sponsor links #}
                        >
                    <div class="img-wrap">
                        {% set spotlightImage = imageService.getSpotlightImage (spotlight.imageUrl, spotlight.id) %}
                        <img src="{{ spotlightImage }}" alt="spotlight background image">
                        {% if spotlight.title %}
                            <h3>
                                {{ spotlight.title }}
                            </h3>
                        {% endif %}
                    </div>
                    <p class="excerpt">
                        {{ spotlight.description }}
                    </p>
                    <span class="action">{{ spotlightMap[spotlight.type].text }}</span>
                </a>
            </div>
        {% endfor %}

    </div>

    {# Banner Ad #}
    <div class="course-col row" align="center">
        <a target="_blank" href="https://www.canvas.net/pages/offer-a-course/?utm_source=Class-Central&utm_medium=BannerAd&utm_campaign=CN+Banner+Ad&utm_content=Rectangle" onmousedown="ga('send','event', 'Banner Ad', 'Canvas Network','Home Page')"> <img src="https://d3r3mog6nu8pt4.cloudfront.net/ads/2016_01_ClassCentral_728x90_05b_CanvasNet.jpg" style="max-width: 728px; width: 100%" /> </a>
    </div>


    <h2 class="section-heading">
        <span>MOOC Report</span>
    </h2>

    <div class="row">
        {% for position in 13..17 %}
            {% set spotlight = spotlights[position] %}
            <div class="col-xs-6 col-sm-4 col-md-3 spotlight-item-wrap {{ spotlightMap[spotlight.type].visible }}
               {% if spotlight.position != 13 and spotlight.position !=14 %} hidden-xs {% endif %}
            "

                 id="home-spotlight-{{ spotlight.position }}">
                <a class="spotlight-item {{ spotlightMap[spotlight.type].class }}" href="{{ spotlight.url }}"
                   onmousedown="ga('send','event','Spotlight','{{ spotlight.position }}',
                           '{% if spotlight.title %} {{ spotlight.title }} {% else %} {{ spotlight.description }} {% endif %}');"
                        {% if spotlight.type == 5 %} rel="nofollow" {% endif %} {# sponsor links #}
                        >
                    <div class="img-wrap">
                        {% set spotlightImage = imageService.getSpotlightImage (spotlight.imageUrl, spotlight.id) %}
                        <img src="{{ spotlightImage }}" alt="spotlight background image">
                        {% if spotlight.title %}
                            <h3>
                                {{ spotlight.title }}
                            </h3>
                        {% endif %}
                    </div>
                    <p class="excerpt">
                        {{ spotlight.description }}
                    </p>
                    <span class="action">{{ spotlightMap[spotlight.type].text }}</span>
                </a>
            </div>
        {% endfor %}

    </div>