{% if format == 'table' %}
    {{ abTesting.initializeTest("table_row_text_ad_june_2018",["simplified_current","blue_ad_with_ratings"])  }}
    {% set variation = abTesting.getTestVariation("table_row_text_ad_june_2018") %}
    {% if showSubjectInTable %}
        {% set subjectCol = "large-up-width-2-16" %}
        {% set addCol = "medium-up-width-2-16 xlarge-up-width-1-16" %}
        {% set titleCol = "width-10-16 small-up-width-11-16 medium-up-width-10-16 large-up-width-6-16 xlarge-up-width-7-16" %}
        {% set dateCol = "large-up-width-3-16" %}
        {% set ratingCol = "width-3-16 small-up-width-2-16 medium-up-width-4-16 large-up-width-3-16" %}
    {% else %}
        {% set addCol = "medium-up-width-2-16 xlarge-up-width-1-16" %}
        {% set titleCol = "width-10-16 small-up-width-11-16 medium-up-width-10-16 large-up-width-8-16 xlarge-up-width-9-16" %}
        {% set dateCol = "large-up-width-3-16" %}
        {% set ratingCol = "width-3-16 small-up-width-2-16 medium-up-width-4-16 large-up-width-3-16" %}
    {% endif %}
    {% if variation == "blue_ad_with_ratings" %}
        <tr>
            <td class="text-middle width-3-16 {{ addCol }}">
     <span
             class="width-100 inline-block text-3 text--blue text-center padding-vert-xsmall"
     >
          <span
                  class="text--bold relative border-all border--blue radius border--thin"
                  style="left: -3px; padding: 1px 2px 0px 2px;"
          >
              AD
          </span>
        </span>
            </td>
            <td class="course-name-column relative {{ titleCol }}"
                data-track-impression="{{ ts.event('AD_IMPRESSION') }}"
                data-track-props='{
        "ad": {
          "provider": "{{ providerName }}",
          "unit": "Table Text Ad",
          "title": "{{ courseName }}"
        }
      }'>
                <ul class="table-uni-list text-3 block">
                    {% if institutionName is not empty %}
                        <li class="inline">
                            <a class="uni-name text--charcoal" rel="nofollow" target="_blank" href="{{ courseUrl }}"  onmousedown='
                                    CC.track("{{ ts.event('AD_CLICK') }}", {
                                    ad: {
                                    provider: "{{ providerName }}",
                                    unit: "Table Text Ad",
                                    title: "{{ courseName }}"
                                    }
                                    });'
                            >{{ institutionName }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <a class="text--charcoal text-2 medium-up-text-1 block course-name ad-name" rel="nofollow"  target="_blank" href="{{ courseUrl }}" onmousedown='
                        CC.track("{{ ts.event('AD_CLICK') }}", {
                        ad: {
                        provider: "{{ providerName }}",
                        unit: "Table Text Ad",
                        title: "{{ courseName }}"
                        }
                        });ga("send", "event", "Table Ad", "{{ providerName }} - {{ tableId }}", "{{ courseName }}");'
                   title="{{ courseName }}"><span itemprop="name" class="text--bold">{{ courseName }}</span>
                </a>
                via
                <a rel="nofollow" href="{{ courseUrl }}" target="_blank" class="initiativelinks text--italic text--charcoal" title="{{ courseName }}" onclick='
                        CC.track("{{ ts.event('AD_CLICK') }}", {
                        ad: {
                        provider: "{{ providerName }}",
                        unit: "Table Text Ad",
                        title: "{{ courseName }}"
                        }
                        });'>{{ providerName }}
                </a>
            </td>

            {% if showSubjectInTable %}
                <td class="subject-column xsmall-only-hidden small-only-hidden medium-only-hidden {{ subjectCol }}"> <a class="subject" href="/subject/{{ subjectSlug }}" title="List of {{ subjectName }} MOOCs" onclick='ga("send","event", "Inbound Clicks - Stream", "{{ subjectName }}", "{{ courseName }}")' data-category="{{ subjectName }}">{{ subjectName }}</a>
                </td>
            {% endif %}

            <td class="start-date text-right text-2 xsmall-only-hidden small-only-hidden medium-only-hidden {{ dateCol }}">Flexible</td>

            <td data-timestamp="5" class="course-rating-column text-center medium-up-text-right {{ ratingCol }}">
                {% include 'ClassCentralSiteBundle:Helpers:review.rating.html.twig' with { rating: 5 }  %}
            </td>

        </tr>
    {% else %}
        <tr>
            <td class="text-middle width-3-16 {{ addCol }}">
      <span
              style="color: #FF8E6C;"
                class="width-100 inline-block text-3 text-center padding-vert-xsmall text--bold"
            >
                AD
                </span>
            </td>
            <td class="course-name-column relative {{ titleCol }}"
                data-track-impression="{{ ts.event('AD_IMPRESSION') }}"
                data-track-props='{
        "ad": {
          "provider": "{{ providerName }}",
          "unit": "Table Text Ad",
          "title": "{{ courseName }}"
        }
      }'>
                <ul class="table-uni-list text-3 block">
                    {% if institutionName is not empty %}
                        <li class="inline">
                            <a class="uni-name text--charcoal" rel="nofollow" target="_blank" href="{{ courseUrl }}"  onmousedown='
                                    CC.track("{{ ts.event('AD_CLICK') }}", {
                                    ad: {
                                    provider: "{{ providerName }}",
                                    unit: "Table Text Ad",
                                    title: "{{ courseName }}"
                                    }
                                    });'
                            >{{ institutionName }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <a class="text--charcoal text-2 medium-up-text-1 block course-name ad-name" rel="nofollow"  target="_blank" href="{{ courseUrl }}" onmousedown='
                        CC.track("{{ ts.event('AD_CLICK') }}", {
                        ad: {
                        provider: "{{ providerName }}",
                        unit: "Table Text Ad",
                        title: "{{ courseName }}"
                        }
                        });ga("send", "event", "Table Ad", "{{ providerName }} - {{ tableId }}", "{{ courseName }}");'
                   title="{{ courseName }}"><span itemprop="name" class="text--bold">{{ courseName }}</span>
                </a>
                via
                <a rel="nofollow" href="{{ courseUrl }}" target="_blank" class="initiativelinks text--italic text--charcoal" title="{{ courseName }}" onclick='
                        CC.track("{{ ts.event('AD_CLICK') }}", {
                        ad: {
                        provider: "{{ providerName }}",
                        unit: "Table Text Ad",
                        title: "{{ courseName }}"
                        }
                        });'>{{ providerName }}
                </a>
            </td>

            {% if showSubjectInTable %}
                <td class="subject-column xsmall-only-hidden small-only-hidden medium-only-hidden {{ subjectCol }}"> <a class="subject" href="/subject/{{ subjectSlug }}" title="List of {{ subjectName }} MOOCs" onclick='ga("send","event", "Inbound Clicks - Stream", "{{ subjectName }}", "{{ courseName }}")' data-category="{{ subjectName }}">{{ subjectName }}</a>
                </td>
            {% endif %}

            <td class="start-date text-right text-2 xsmall-only-hidden small-only-hidden medium-only-hidden {{ dateCol }}"></td>

            <td data-timestamp="5" class="course-rating-column text-center medium-up-text-right {{ ratingCol }}">
                {# include 'ClassCentralSiteBundle:Helpers:review.rating.html.twig' with { rating: 5 } #}
            </td>

        </tr>
    {% endif %}

{% elseif format =='course-top' %}

    {#
    <div class="course-meta__ad" >
        <div class="ad-strip" style="background-color: #333">
            <div class="ad-strip__icon">
                AD
            </div>
            <div class="ad-strip__content">
                    <span class="ad-strip__large-text"   >
                        <a href="{{ courseUrl }}" target="_blank" rel="nofollow" onmousedown='ga("send","event", "Course Page Ad", "{{ providerName }}", "{{ courseName }}");'> {{ courseName }} </a>
                    </span>

                    <span class="ad-strip__small-text"   >
                        {% if institutionName is not empty %} {{ institutionName }}{% endif %} via
                        <a rel="nofollow" href="{{ providerUrl }}" target="_blank" onmousedown='ga("send","event", "Course Page Ad - Provider", "{{ providerName }}", "{{ courseName }}")'>{{ providerName }}</a>
                    </span>
            </div>
        </div>
    </div>
    #}

    {% if not app.request.cookies.get('ads_hidden') %}
        <div
                class="relative padding-horz-large"
                data-track-impression="{{ ts.event('AD_IMPRESSION') }}"
                data-track-props='{
        "ad": {
          "provider": "{{ providerName }}",
          "unit": "Course Page Text Ad",
          "title": "{{ courseName }}",
          "position": "{% if adPosition is defined %}{{ adPosition }}{% endif %}"
        }
      }'
        >
      <span
              style="color: #FF8E6C;"
              class="text-3 absolute top right text--bold padding-right-medium"
      >
        AD
      </span>
            <a
                    href="{{ courseUrl }}"
                    rel="nofollow"
                    target="_blank"
                    class="unit-horz cursor-pointer"
                    onmousedown='
                            CC.track("{{ ts.event('AD_CLICK') }}", {
                            ad: {
                            provider: "{{ providerName }}",
                            unit: "Course Page Text Ad",
                            title: "{{ courseName }}",
                            position: "{% if adPosition is defined %}{{ adPosition }}{% endif %}"
                            }
                            });ga("send","event", "Course Page Ad", "{{ providerName }}", "{{ courseName }}");'>
        <span class="unit-block padding-right-xxsmall" style="vertical-align: top;">
          <i class="icon-link-blue icon--xsmall" style="height: 20px;"></i>
        </span>
                <span class="unit-block unit-fill text--charcoal padding-right-large">
          <strong class="inline-block text--bold text--blue text-2">
            {{ courseName }}
          </strong>
          <span class="block text--charcoal">
            {% if institutionName is not empty %} {{ institutionName }}{% endif %} via {{ providerName }}
          </span>
        </span>
            </a>
        </div>
    {% endif %}


{% elseif format =="dock" %}
    <div class="promo-object">
        <span class="promo-object__label">Promoted</span>
        <a href="{{ courseUrl }}" target="_blank" rel="nofollow"
           onmousedown='ga("send","event", "Dock Ad", "{{ providerName }}", "{{ courseName }}");'
        >
            <h3 class="promo-object__title">
                <span >{{ courseName }}</span>
            </h3>
            <div class="promo-object__sub">
                {% if institutionName is not empty %}<span>{{ institutionName }}</span>{% endif %}
                Via
                <span class="promo-object__accent">{{ providerName }}</span>
            </div>
        </a>
    </div><!-- /.promo-object -->

{% endif %}