<div class="width-centered margin-top-large">
  <ul>
    <li class="inline" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{ path("help_guides_index") }}" class="hover-text--underline text--gray" onmousedown="ga('send','event','Breadcrumbs','Home');" itemprop="url">
        <span itemprop="title">Help</span>
      </a>
    </li>
    {% if category is defined %}
    <li class="inline" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
      <i class="icon-chevron-right icon--xxsmall transparent"></i>
      {% if category.url is defined %}
        <a href="{{ category.url }}" class="text--gray hover-text--underline" itemprop="url" onmousedown="ga('send','event','Breadcrumbs',{{ category.title }});">
          <span itemprop="title">{{ category.title }}</span>
        </a>
      {% else %}
        <span class="text--gray" itemprop="title">{{ category.title }}</span>
      {% endif %}
    </li>
    {% endif %}
    <li class="inline" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
      <i class="icon-chevron-right icon--xxsmall transparent"></i>
      {% if page.url is defined %}
      <a href="{{ page.url }}" class="text--gray hover-text--underline" itemprop="url" onmousedown="ga('send','event','Breadcrumbs',{{ category.title }});">
        <span itemprop="title">{{ page.title }}</span>
      </a>
      {% else %}
        <span class="text--gray" itemprop="title">{{ page.title }}</span>
      {% endif %}
    </li>
  </ul>
</div>
