{% set sidebar = help_guides.getSideBarLinks() %}
<nav id="help-nav">
  {% for division in sidebar['divisions'] %}
  <h3 class="head-3 margin-bottom-medium">{{ division.name }}</h3>
  <ul class="border-top border--thin margin-right-large">
    {% for section in division.sections %}
    <li>
      <a
        href="{{ path('help_guides_section',{slug: section.slug}) }}"
        class="head-5 unit-horz padding-vert-xsmall border-bottom border--thin"
        data-expand="list-{{ section.slug }}"
      >
        <span class="unit-block padding-right-xsmall">
          <i class="icon-{{ section.slug }}-gray icon--small"></i>
        </span>
        <span class="unit-block unit-fill">
          <span class="text--charcoal icon--right icon--xsmall icon-chevron-right-gray">
            {{ section.name }}
          </span>
        </span>
      </a>
      <ul class="hidden" data-expand-target="list-{{ section.slug }}" style="list-style: circle;">
        {% for article in section.articles %}
          <li class="margin-vert-xsmall margin-left-large">
            <a class="text-2 text--charcoal" href="{{ path('help_guides_article',{slug: article.slug}) }}">{{ article.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</nav>
