<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">        
        <title>
            {% if page_title is defined %}
                {{ page_title }}
            {% else %}
              Class Central - Summary of Stanford's free online courses
            {% endif %}
        </title>
        <meta name="description" content="Summary of Standford's free online courses belonging to the following fields of study: Civil Engineering, Complex Systems, Computer Science, Electrical Engineering, Entrepreneurship and Medicine"/>
        <meta name="author" content="Dhawal Shah">
        <link rel="icon"  type="image/png" href="{{ asset('bundles/classcentralsite/images/icon.png') }}">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->  
        {% stylesheets
        '@ClassCentralSiteBundle/Resources/public/css/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts
        '@ClassCentralSiteBundle/Resources/public/js/jquery-1.7.min.js'
        '@ClassCentralSiteBundle/Resources/public/js/jquery.prettyPhoto.js'
        '@ClassCentralSiteBundle/Resources/public/js/jquery.tablesorter.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            {% block customJS %}
            {% endblock %}
        </script>


        {% if app.environment == 'prod' and page is defined %}
        <!-- Facebook opengraph tag -->
        {% include 'ClassCentralSiteBundle:Helpers:fb_opengraph.html.twig' %}
        
        <!-- Google+ Direct connect -->
        <link href="https://plus.google.com/{{plusPageUrl}}" rel="publisher" />
        
        <!-- Including google analytics. The parameter ganalytics_id must be set in parameters.ini -->
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ ganalytics_id }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        {% endif %}

    </head>

    <body>        
        {% include 'ClassCentralSiteBundle:Helpers:navbar.html.twig' %}

        <div class="container">

            {%  block content %}   
            <br /><br />
            {% endblock %}  
            <footer>
                {% block footer %}
                    
                    <p><a href="mailto:contact@class-central.com">contact@class-central.com</a>                                        
                        {% if app.environment == 'prod' and page is defined %}
                         | 
                        <a href="https://github.com/dhawalhshah/class-central"
                           class="gitforked-button gitforked-forks gitforked-watchers">Fork</a>
                         {% endif %}
                    </p>
                    
                {% endblock %}
            </footer>

        </div> <!-- /container -->
        <script src="http://gitforked.com/api/1.1/button.js" type="text/javascript"></script>
        <!-- Jquery Lightbox plugin -->
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                $("a[rel^='intro']").prettyPhoto({
                    social_tools : false,
                    show_title: false,
                    default_width: 640,
                    default_height:480
                });
            });
        </script>
    </body>
</html>
