<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%  block headmeta %}               
        {% endblock %}  
        <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>       
        <link rel="icon"  type="image/png" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.png') }}">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->  
        {% stylesheets
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/bootstrap.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/bootstrap-responsive.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/classcentral.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/prettyPhoto/css/prettyPhoto.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% if app.environment == 'prod' and page is defined %}
            <!-- Facebook opengraph tag -->
            {% include 'ClassCentralSiteBundle:Helpers:fb_opengraph.html.twig' %}

            <!-- Google+ Direct connect -->
            <link href="https://plus.google.com/{{plusPageUrl}}" rel="publisher" />
             
            <!-- Including google analytics. The parameter ganalytics_id must be set in parameters.ini -->
            <script type="text/javascript">

                var _gaq = _gaq || [];
                var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
                _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
                _gaq.push(['_setAccount', '{{ ganalytics_id }}']);
                _gaq.push(['_setSiteSpeedSampleRate', 20]);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
                                
                function recordOutboundLink(link, category, action, label) {
                    try {                        
                        _gaq.push(['_trackEvent', category , action, label ]);                        
                        window.open(link);
                    }catch(err){}
                 }

            </script>
        
        {% endif %}

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}"  />
	<link rel="apple-touch-icon" href="{{ baseurl }}/bundles/classcentralsite/slashpixel/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="{{ baseurl }}/bundles/classcentralsite/slashpixel/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="{{ baseurl }}/bundles/classcentralsite/slashpixel/images/apple-touch-icon-114x114.png" />

    </head>

    <body>        

            {% render 'ClassCentralSiteBundle:Navigation:index' with{'page': page} %}
        <div class="container">
            
            {# Content pages go here #}
            {%  block content %}               
            {% endblock %} 
            
            
            <footer>
                {% block footer %}                    

                <ul class="classcentralfooter nav nav-pills">              
                    <li><a href="mailto:contact@class-central.com">contact@class-central.com</a></li>    
		    <li><a href="https://github.com/classcentral/slashpixel">SlashPixel theme</a></li>
	    </ul>
		
                {% endblock %}

            </footer>

        </div> <!-- /container -->

        {# All the javascript goes in here #}
        
        {% javascripts
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/jquery-1.7.1.min.js'        
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/bootstrap.min.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/jquery.backstretch.min.js' 
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/smoothscrolling.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/prettyPhoto/js/jquery.prettyPhoto.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/jquery.tablesorter.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}

	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ed5948263b508c1"></script>
        {% if page is defined %}
        <script type="text/javascript">
            $.backstretch("{{ asset('bundles/classcentralsite/slashpixel/images/background.jpg') }}");
        </script>
        {% endif %}

        <script type="text/javascript">
            <!-- Jquery Lightbox plugin -->
            $(document).ready(function(){
                $("a[rel^='intro']").prettyPhoto({
                social_tools : false,
                show_title: false,                    
                default_width: 640,
                default_height:480
                });
            });


            var textExtractor = function(node){ 
                timestamp = node.getAttributeNode("data-timestamp");
                if( timestamp != undefined ){  
                    return timestamp.value;
                } else {
                    return $(node).text()
                }        
            }
            $(document).ready(function() 
            {                 
                $("#recentlist").tablesorter( {textExtraction: textExtractor}); 
                $("#recentlyAddedlist").tablesorter( {textExtraction: textExtractor}); 
                $("#ongoinglist").tablesorter( {textExtraction: textExtractor}); 
                $("#upcominglist").tablesorter({textExtraction: textExtractor} );
                $("#pastlist").tablesorter({textExtraction: textExtractor} ); 
                $("#selfpaced").tablesorter({textExtraction: textExtractor} );        
            } 
            ); 
            
            {% block customJS %}
            {% endblock %}
        </script>

        {% if page is defined %}
		<script type="text/javascript">
		  var uvOptions = {};
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/LzNwsmUEON6PTEgUUz9Tg.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>
        {% endif %}                
                
    </body>
</html>
