<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%  block headmeta %}               
        {% endblock %}

        <link rel="shortcut icon"  type="image/x-icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}">
        <link rel="icon"  type="image/x-icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}">
        <link rel="search" type="application/opensearchdescription+xml" href="{{ asset('bundles/classcentralsite/xml/opensearch.xml') }}" title="Class Central MOOC search" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->  
        {% stylesheets filter='yui_css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/fonts.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/bootstrap.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/bootstrap-responsive.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/bootstrap-modal.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/classcentral.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/prettyPhoto/css/prettyPhoto.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/socialcount-icons.css'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/css/autocomplete.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% if app.environment == 'prod' and page is defined %}

            <!-- Google+ Direct connect -->
            <link href="https://plus.google.com/{{plusPageUrl}}" rel="publisher" />
             
            <!-- Including google analytics. The parameter ganalytics_id must be set in parameters.ini -->
            <script type="text/javascript">

                var _gaq = _gaq || [];
                var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
                _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
                _gaq.push(['_setAccount', '{{ ganalytics_id }}']);
                _gaq.push(['_setSiteSpeedSampleRate', 20]);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
                                
                function recordOutboundLink(link, initiative, coursename, stream) {
                    try {                        
                        _gaq.push(['_trackEvent', 'Outbound Clicks - Course from Initiative' , initiative, coursename ]);
                        _gaq.push(['_trackEvent', 'Outbound Clicks - Course from Stream' , stream, coursename ]);
                        window.open(link);
                    }catch(err){}
                 }

                function recordOutboundLinkWithoutRedirect( initiative, coursename, stream) {
                    try {
                        _gaq.push(['_trackEvent', 'Outbound Clicks - Course from Initiative' , initiative, coursename ]);
                        _gaq.push(['_trackEvent', 'Outbound Clicks - Course from Stream' , stream, coursename ]);
                    }catch(err){}
                }

                function recordInboundLink(link, initiative, coursename, section) {
                    try {
                        _gaq.push(['_trackEvent', 'Inbound Clicks - Course from Initiative' , initiative, coursename ]);
                        _gaq.push(['_trackEvent', 'Inbound Clicks - Course from Section' , section, coursename ]);
                    }catch(err){}
                }

                function recordTaglineClicks(link, initiative) {
                    try {
                        _gaq.push(['_trackEvent', 'Tagline Clicks' , initiative ]);
                        window.open(link);
                    }catch(err){}
                }

            </script>
        
        {% endif %}

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/classcentralsite/slashpixel/images/favicon.ico') }}"  />
	<link rel="apple-touch-icon" href="{{ baseurl }}/bundles/classcentralsite/slashpixel/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="{{ baseurl }}/bundles/classcentralsite/slashpixel/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="{{ baseurl }}/bundles/classcentralsite/slashpixel/images/apple-touch-icon-114x114.png" />

    </head>

    <body>
            {% if page is defined %}
                {% render controller('ClassCentralSiteBundle:Navigation:index', {'page': page}) %}
            {% else %}
                {% render controller('ClassCentralSiteBundle:Navigation:index', {'page':'admin'}) %}
            {% endif %}

        <div class="container cc-body-content">
            {%  block contentheader %}
            {% endblock %}
            <div class="cc-page">
                {# Content pages go here #}
                {%  block content %}
                {% endblock %}
            </div>
            {%  block contentfooter %}
            {% endblock %}
        </div> <!-- /container -->

        <footer>
            {% block footer %}
                <ul class="classcentralfooter">
                    <li><a href="mailto:contact@class-central.com" title="Class Central contact">Contact</a></li>
                    <li><a href="http://www.blog.class-central.com">Blog</a></li>
                    <li><a href="{{ path('languages') }}">Languages</a></li>
                    <li><a href="https://www.facebook.com/classcentral">Facebook</a></li>
                    <li><a href="https://twitter.com/classcentral">Twitter</a></li>
                    <li><a href="https://plus.google.com/+ClassCentral">Google+</a></li>
                </ul>
                {% if page is defined and page == 'home' %}
                    <div class="rackspace-logo"><img src="/bundles/classcentralsite/slashpixel/images/rackspace.png"/></div>
                {% endif %}
            {% endblock %}

        </footer>

        {# All the javascript goes in here #}
        
        {% javascripts filter='yui_js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/jquery-1.7.1.min.js'        
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/bootstrap.min.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/prettyPhoto/js/jquery.prettyPhoto.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/jquery.tablesorter.min.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/bootstrap-modalmanager.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/bootstrap-modal.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/socialcount.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/addThisEvent.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/list.min.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/course-filter.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/jquery.swiftype.autocomplete.js'
        '@ClassCentralSiteBundle/Resources/public/slashpixel/js/classcentral.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}



        <script type="text/javascript">
            <!-- Jquery Lightbox plugin -->
            $(document).ready(function(){
                $("a[rel^='intro']").prettyPhoto({
                social_tools : false,
                show_title: false,                    
                default_width: 640,
                default_height:480
                });

                var customRenderFunction = function(document_type, item) {
                    var title = '<p class="title">' + item['name'] + '</p>';
                    if(document_type == 'courses') {
                        var ins = '';
                        if(typeof item['institutions'] !== 'undefined' && item['institutions'] != '' ) {
                            ins = item['institutions'][0] + ' - ';
                        }
                        var provider = '';
                        if(typeof item['provider'] !== 'undefined' && item['provider'] != '' ) {
                            provider = ' | ' + item['provider'];
                        }

                        return title.concat('<p>' + ins + item['displayDate'] + provider + '</p>');
                    } else if (document_type == 'universities' || document_type == 'subjects') {
                        return title.concat('<p class="genre">' + item['courseCount'] + ' courses </p>');
                    }
                };

                $('#st-search-input').swiftype({
                    renderFunction: customRenderFunction,
                    engineKey: '{{ swiftype_engine_key }}',
                    filters: {
                        'courses' : {'status':{
                            'type' : 'range',
                            'to' : 99
                        }},
                        'universities': {'courseCount':{
                            'type' : 'range',
                            'from' : '1'
                        }}
                    }
                });


            });


            var textExtractor = function(node){ 
                timestamp = node.getAttributeNode("data-timestamp");
                if( timestamp != undefined ){  
                    return timestamp.value;
                } else {
                    return $(node).text()
                }        
            }
            $(document).ready(function() 
            {                 
                $("#recentlist").tablesorter( {textExtraction: textExtractor}); 
                $("#recentlyAddedlist").tablesorter( {textExtraction: textExtractor}); 
                $("#ongoinglist").tablesorter( {textExtraction: textExtractor}); 
                $("#upcominglist").tablesorter({textExtraction: textExtractor} );
                $("#pastlist").tablesorter({textExtraction: textExtractor} ); 
                $("#selfpacedlist").tablesorter({textExtraction: textExtractor} );
            } 
            );
            $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });



            {% block customJS %}
            {% endblock %}
        </script>
        <!-- AddThis Smart Layers BEGIN -->
        <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ addthis_pubid }}"></script>
        <script type="text/javascript">
            addthis.layers({
                'theme' : 'transparent',
                'follow' : {
                    'services' : [
                        {'service': 'facebook', 'id': 'classcentral'},
                        {'service': 'twitter', 'id': 'classcentral'},
                        {'service': 'google_follow', 'id': '+ClassCentral'}
                    ]
                }
            });
        </script>
        <!-- AddThis Smart Layers END -->

        {% if page is defined %}
		<script type="text/javascript">
		  var uvOptions = {};
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/LzNwsmUEON6PTEgUUz9Tg.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>
        {% endif %}

    </body>
</html>
