{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}
     <title>Class Central Login</title>
     <meta name="description"
           content="Class Central login"/>
     <meta property="og:title" content="Login in to Class Central" />
     <meta property="og:url" content="https://www.class-central.com/login" />
     <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
     <meta property="og:site_name" content="Class Central"/>
     <meta property="og:description" content="Class Central login. LoginStay updated on courses that match your interests" />
     <meta property="og:type" content="website" />
     <meta property="fb:admins" content="{{ fb_admins }}" />

     <!-- Twitter card integration -->
     <meta name="twitter:card" content="summary">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:title" content="Class Central login">
     <meta name="twitter:description" content="Class Central login">
     <meta name="twitter:domain" content="www.class-central.com">

 {% endblock %}

{% block contentheader %}
    <div class="cc-form-bg-wrap">
        <div class="cc-form-box">
            <div class="cc-form-box-inner">
                <div class="form-box-header">
                    <svg class="icon icon-cc-logo-circle" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo-circle"></use></svg>
                </div>
                <div class="form-box-body">
                    {% if error %}
                        <div>{{ error.message }}</div>
                    {% endif %}

                    <a class="sign-in-with-facebook" href="{{ path('fb_authorize_start') }}" onmousedown="_gaq.push(['_trackEvent','Sign In with Facebook', 'Login Form']);">
                        <svg class="icon icon-facebook2" viewBox="0 0 32 32"><use xlink:href="#icon-facebook2"></use></svg>
                        Sign in with Facebook
                    </a>

                    <div class="or-separator">
                        <span>OR</span>
                    </div>

                    <form action="{{ path('login_check') }}" method="post">
                        <label for="username">Email:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email" />

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" placeholder="Password"/>

                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}

                        {% if redirectUrl is not empty %}
                            <input type="hidden" name="_target_path" value="{{ redirectUrl }}" />
                        {% endif %}

                        <button class="btn btn-primary btn-course-cc" type="submit">Login</button>
                    </form>
                </div>
            </div>
            <p id="cc-form-box-additional-link">
                <a class="forgot-password-link" href="{{ path('forgotpassword') }}" title="Forgot password">Forgot password?</a>
                <span class="sign-up-link">Don't have an account? <a href="{{ path('signup') }}" title="Sign up for Class Central">Sign up</a></span>
            </p>
        </div>
    </div>
    <style type="text/css">
        .cc-page {
            display: none;
        }
    </style>
{% endblock %}
