{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}
     <title>Class Central Login</title>
     <meta name="description"
           content="Class Central login"/>
     <meta property="og:title" content="Login in to Class Central" />
     <meta property="og:url" content="https://www.class-central.com/login" />
     <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
     <meta property="og:site_name" content="Class Central"/>
     <meta property="og:description" content="Class Central login. LoginStay updated on courses that match your interests" />
     <meta property="og:type" content="website" />
     <meta property="fb:admins" content="{{ fb_admins }}" />

     <!-- Twitter card integration -->
     <meta name="twitter:card" content="summary">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:title" content="Class Central login">
     <meta name="twitter:description" content="Class Central login">
     <meta name="twitter:domain" content="www.class-central.com">

 {% endblock %}

{% block contentheader %}
<div class="cc-form-box">
    <h3>Login</h3>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <a href="{{ path('fb_authorize_start') }}"
            onmousedown="_gaq.push(['_trackEvent','Sign In with Facebook', 'Login Form']);">
        <img style="margin-bottom: 20px;margin-left: 90px;" src="/bundles/classcentralsite/slashpixel/images/sign_in_with_fb.png"></a>
    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        {% if redirectUrl is not empty %}
            <input type="hidden" name="_target_path" value="{{ redirectUrl }}" />
        {% endif %}

        <button class="btn btn-primary btn-course-cc" type="submit">Login</button>
    </form>

    <p id="cc-form-box-additional-link">
        Don't have an account? <a href="{{ path('signup') }}" title="Sign up for Class Central">Sign up >></a> <br/>
        Forgot your password? <a href="{{ path('forgotpassword') }}" title="Forgot password">Reset Password >></a>
    </p>
</div>
<style type="text/css">
    .cc-page {
        display: none;
    }
</style>
{% endblock %}
