{% extends 'ClassCentralSiteBundle::base.html.twig' %}
{% block headmeta %}
    <title>Review {{ credential.name }} from {{ credential.initiative.name }}</title>
    <meta name="robots" content="noindex" />
{% endblock %}
{% block content %}
    <div class="row">
        {% set loggedIn = 0 %}
        {% if app.user %}
            {% set loggedIn = 1 %}
        {% endif %}
        <span id="credentialid" data-value="{{ credential.id }}" class="hidden"></span>
        <span id="loggedin" data-value="{{ loggedIn  }}" class="hidden"></span>
        <div class="col-md-9">
            <form class="color-scheme-brand form" action="#" method="post">
                <div class="padded-input-group padded-input-group--border-bot">
                    <h2 class="heading-colored">Your first hand experience really helps other students! </h2>

                    <!-- Rating -->
                    <div class="row">
                        <div class="col-lg-6">
                            <span class="cc-form-error" id="cr-error-rating" style="display:none;">
                                    Rating is required
                           </span>
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-full-name">Rating <span style="color: red">*</span></label>
                                <div id="cr-rating" class="plain-input credential-rating-page" data-score=0 style="width: auto"></div>
                            </div>

                        </div>
                    </div>

                    <!-- Title -->
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="cc-form-error" id="cr-error-title" style="display:none;">
                                    Title is required
                            </span>
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-full-name">Title</label>
                                <input id="cr-title" class="plain-input" type="text" name="cr-title" placeholder="Summarize the review or highlight an interesting detail" id="edit-profile-full-name" value="">
                            </div>
                        </div>
                    </div>

                    <!-- Review Text -->
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="cc-form-error" id="cr-error-review-text" style="display:none;">
                                    Review should be at least 20 words
                            </span>
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-about-me">Your Review</label>
                                <textarea class="plain-input plain-input--textarea" name="cr-review-textoew" id="cr-review-text"
                                          placeholder="By sharing your experiences, you're helping students make better choices. Thank you!"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <!-- Completion Date -->
                        <div class="col-lg-6">
                            <span class="cc-form-error" id="cr-error-progress" style="display:none;">
                                   Progress is Required
                           </span>
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-full-name">When did you finish? <span style="color: red">*</span></label>
                                <select id='cr-progress' class="plain-input plain-input--select js-colorize-select" name="highest-degree" id="edit-profile-qualifications">
                                    <option value="" class="select-placeholder">Date Completed</option>
                                    {% for id,prog in progress%}
                                        <option value="{{ id }}">{{ prog }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <!-- Certificate Link -->
                            <span class="cc-form-error" id="cr-error-certificate-link" style="display:none;">
                                    Should be atleast three letters
                           </span>
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-full-name">Link to Credential</label>
                                <input id="cr-certificate-link" class="plain-input" type="text" name="full-name" placeholder="Link to your certificate?" id="edit-profile-full-name" value="">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="padded-input-group padded-input-group--border-bot">
                    <h2 class="heading-colored">Could you say a little more about it? (optional)</h2>


                    <div class="row">
                        <!-- Topic Coverage -->
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-twitter">Topic Coverage</label>
                                <div id="cr-topic-coverage" class="plain-input credential-rating-page" data-score =0></div>
                            </div>
                        </div>

                        <!-- Job Readiness -->
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-twitter">Job Readiness</label>
                                <div id="cr-job-readiness" class="plain-input credential-rating-page" data-score =0></div>
                            </div>
                        </div>
                    </div>

                    <!-- Community/Staff support-->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-twitter">Community/Staff support</label>
                                <div id="cr-support" class="plain-input credential-rating-page" data-score =0></div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <!-- Effort -->
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-field-of-study">Effort</label>
                                <input id="cr-effort" class="plain-input" type="number" name="full-name" placeholder="Hours per week?" id="edit-profile-full-name" value="">
                            </div>
                        </div>

                        <!-- Duration -->
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-qualifications">Duration</label>
                                <input id="cr-duration" class="plain-input" type="number" name="full-name" placeholder="How Many Months"  value="">
                            </div>
                        </div>

                    </div>


                </div>

                <div class="padded-input-group">
                    <h2 class="heading-colored">About you?</h2>

                    <div class="row">
                        {% if not (loggedIn and app.user.name is defined and app.user.name is not empty) %}
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-twitter">Name</label>
                                <input id="cr-name" class="plain-input" type="text" name="profile-twitter" placeholder="Full Name"  value="">
                            </div>
                        </div>
                        {% endif %}

                        <!-- Email -->
                        {% if not loggedIn %}
                            <div class="col-lg-6">
                                <span class="cc-form-error" id="cr-error-email" style="display:none;">
                                    A valid email is required
                               </span>
                                <div class="bordered-box bordered-box--input">
                                    <label class="cc-input-label" for="edit-profile-twitter">Email <span style="color: red">*</span></label>
                                    <input id="cr-email" class="plain-input" type="email" name="profile-twitter" placeholder="Email"  value="">
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        <!-- Job Title -->
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-twitter">Job Title</label>
                                <input id="cr-job-title" class="plain-input" type="text" name="profile-twitter" placeholder="Job Title"  value="">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <!-- Highest Education achieved -->
                        {% if not (loggedIn and app.user.profile.highestDegree is defined and app.user.profile.highestDegree is not empty) %}
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-twitter">Highest Education Achieved</label>
                                <select id="cr-highest-degree" class="plain-input plain-input--select js-colorize-select" name="highest-degree" >
                                    <option value="" class="select-placeholder">Degrees</option>
                                    {% for id,degree in degrees%}
                                        <option value="{{ id }}" >{{ degree }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Field of Study -->
                        {% if not (loggedIn and app.user.profile.fieldOfStudy is defined and app.user.profile.fieldOfStudy is not empty) %}
                        <div class="col-lg-6">
                            <div class="bordered-box bordered-box--input">
                                <label class="cc-input-label" for="edit-profile-twitter">Field of Study</label>
                                <input id="cr-field-of-study" class="plain-input" type="text" name="profile-twitter" placeholder="Field of Study" value="{% if loggedIn %} {{ app.user.profile.fieldOfStudy }}{% endif %}">
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>

                <input class="full-width-button" type="submit" name="submit" id="cr-save-review" value="Save">
            </form>
        </div></div>
{% endblock %}
