{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
    <title>{{institution.name}} • {% if free %}Free {% endif %}Online Courses and MOOCs | Class Central</title>
    <meta name="description" content="Discover {% if free %}free {% endif %} online courses taught by {{ institution.name }}. Watch videos, do assignments, earn a certificate while learning from some of the best Professors."/>

    <meta property="og:title" content="{{institution.name}} • {% if free %}Free {% endif %} Online Courses and MOOCs | Class Central" />

    {% set route = 'ClassCentralSiteBundle_university' %}
    {% if not institution.isUniversity %}
        {% set route = 'ClassCentralSiteBundle_institution' %}
    {% endif %}
    <meta property="og:url" content="{{ baseurl }}{{ path(route,{'slug': slug}) }}" />
    <link rel="canonical" href="{{ baseurl }}{{ path(route,{'slug': slug}) }}">

    {% if pageInfo.imageUrl %}
        <meta property="og:image" content="{{ rackspace_cdn_base_url }}{{ pageInfo.imageUrl }}">
    {% else %}
        <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    {% endif %}
    <meta property="og:description" content="Discover {% if free %}free {% endif %}online courses taught by {{ institution.name }}. Watch videos, do assignments, earn a certificate while learning from some of the best Professors." />
    <meta property="og:type" content="website" />

    <!-- Twitter card integration -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@classcentral">
    <meta name="twitter:title" content="{{institution.name}} • {% if free %}Free {% endif %}Online Courses and MOOCs">
    <meta name="twitter:description" content="List of {{institution}} {% if free %}free {% endif %} online courses/MOOCs aggregated by Class Central">
    <meta name="twitter:domain" content="www.class-central.com">

    {# paginated content #}
    {% include 'ClassCentralSiteBundle:Helpers:paginationRelTags.html.twig' with
        { 'pageNo': pageNo, 'totalCourses': results.hits.total }
    %}
{% endblock %}

{%  block content %}

  <div class="classcentral-style">
    {% include 'ClassCentralSiteBundle:Helpers:pageHeader.html.twig' with {'info': pageInfo} %}

    <section class="width-centered padding-horz-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
      <div class="row">
        <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects': allSubjects, 'offLanguages': allLanguages, 'offSessions': allSessions } %}
        </div>
        <div class="col width-100 large-up-width-3-4 tables-wrap">
          {% if app.request.get('credential') == true %}
            {% include 'ClassCentralCredentialBundle:Credential:credential.v2.cards.html.twig' %}
          {% else %}
            {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'institutiontable', 'showInstitution' : false} %}
          {% endif %}
        </div>
      </div>
    </section>

    {% include 'ClassCentralSiteBundle:Helpers:related.html.twig' %}
  </div>
{% endblock %}
