{% set footerStyle = "basic" %}
{% extends 'ClassCentralSiteBundle::Layouts/standard.html.twig' %}

{% block headmeta %}
    <title>Newsletter subscription confirmed</title>
    <meta name="description"
          content="Newsletter subscription confirmed"/>
    <meta property="og:title" content="Newsletter subscription confirmed" />
    <meta property="og:url" content="{{ baseurl }}{{ path('newsletter_subscribed') }}" />
    <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    <meta property="og:site_name" content="Class Central"/>
    <meta property="og:description" content="Newsletter subscription confirmed" />
    <meta property="og:type" content="website" />
    <meta property="fb:admins" content="{{ fb_admins }}" />

    <!-- Twitter card integration -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@classcentral">
    <meta name="twitter:title" content="Newsletter subscription confirmed">
    <meta name="twitter:description" content="Newsletter subscription confirmed">
    <meta name="twitter:domain" content="www.class-central.com">
{% endblock %}

{% block content %}
    <div class="signup-box classcentral-style" id="newsletter-subscribe">
        <div class="signup-copy text-center margin-top-large padding-horz-medium">
            <p class="head-2 medium-up-head-1 margin-vert-large">
                Thank you for subscribing
            </p>
            {% if newsletterEmail is not null and  not app.user %}
              <p class="text-2 medium-up-text-1 text--blue text--bold margin-bottom-large">
                  If you would like to track courses that match your interests, <br/>
                  sign up for a Class Central account.
              </p>
              <form class="form width-100 width-centered margin-bottom-xxlarge" action="{{ path('newsletter_mooc_tracker_signup') }}" method="post" style="max-width: 500px;">

                {% for flashMessage in  app.session.flashbag.get('newsletter_signup_invalid_password') %}
                    <div class="text-center radius bg-red-light text--red text-left text-3 padding-small margin-bottom-medium">
                      {{ flashMessage }}
                    </div>
                {% endfor %}

                <fieldset class="margin-top-medium text-left">
                  <label for="email" class="text-3 block margin-bottom-xxsmall">Email</label>
                  <input type="email" readonly value="{{ newsletterEmail }}" class="input--medium radius width-100" />
                </fieldset>
                <fieldset class="margin-top-medium text-left">
                  <label for="name" class="text-3 block margin-bottom-xxsmall">Name</label>
                  <input type="text" name="name" required value="" class="input--medium radius width-100" />
                </fieldset>
                <fieldset class="margin-top-medium text-left">
                  <label for="password" class="text-3 block margin-bottom-xxsmall">Password</label>
                  <input type="password" id="password" name="password" value="" class="input--medium radius width-100"/>
                </fieldset>

                <fieldset class="text-center margin-top-medium">
                  <button class="btn-blue padding-horz-xxlarge btn--large btn-cc-user-signup" type="submit" id="newsletter-subscribe-button">Sign up</button>
                  <a class="text--gray text-1" style="margin-top: 10px; margin-left: 20px" id="newsletter-subscribe-cancel-button" href="{{ referUrl }}">Cancel</a>
                </fieldset>
                <p class="margin-small text--gray text-center">
                  By signing up to create an account I accept Class Central's <a href="{{ path('about_privacy')}}" class="text--blue">Privacy Policy</a>.
                </p>
              </form>
            {% endif %}
        </div>

    </div>
{% endblock %}
