{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{%  block headmeta %}

{% endblock %}

{% block content -%}
    <h2>Sidebar counts</h2>
        {{credentials.hits.total  }}
        {% for facets in credentials.facets.certificate.terms %}
            <p>{{ facets.term }} ({{ facets.count  }}) </p>
        {% endfor %}
    <h2>Credentials</h2>
    {% for result in credentials.hits.hits %}
        {% set credential = result._source %}
        <div>
            <p>{{ credential.name }}</p>
            <p>{{ credential.cardImage }}</p>
            <p>{{ credential.rating }}</p>
            <p>{{ credential.displayPrice }}</p>
            <p>{{ path('credential_page', {slug : credential.slug} ) }}</p>
            <p>{{ credential.provider.name }}</p>
            {% if credential.institutions |length > 0 %}
                <p>{{ credential.institutions[0].name }}</p>
            {% endif %}
        </div>
        <hr/>
        {% endfor %}
{% endblock %}