{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{%  block headmeta %}
    <title>Earn A Credential - Specializations, Nanodegrees, and XSeries.</title>
    <meta name="description"
          content="Discover certificate programs in high demand skills from top universities and companies. Read reviews to decide if a credential is right for you."/>

    <!-- Open Graph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Earn A Credential - Specializations, Nanodegrees, and XSeries." />
    <meta property="og:url" content="{{ path('credentials') }}" />
    <meta property="og:description" content="Discover certificate programs in high demand skills from top universities and companies. Read reviews to decide if a credential is right for you." />
    <meta property="og:image" content="/bundles/classcentralsite/slashpixel/images/cc.never.stop.learning.png" />

{% endblock %}

{% block ccfullcontent -%}
    <div class="cc-full-width-content">
        <div class="fixed-menu-spacer"></div>
        <div class="tilted-sections-wrap">
            <div class="tilted-section tilted-section--ultra-white tilted-section--bottom">
                <div class="tilted-section__content">
                    <div class="container">
                        <div class="cred-intro">
                            <div class="cred-intro__half cred-intro__half--left">
                                <h1 class="cred-title">Earn a Credential.</h1>
                                <span class="cred-subtitle">Discover certificate programs in high demand skills from top universities and companies. Read reviews to decide if a credential is right for you.</span>
                                {% if not app.user %}
                                    <div class="cred-button">
                                        <a href="#" id="cred-button-signup" class="basic-input-button">Create free account</a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="cred-intro__half">
                                <img class="cred-intro__illustration" src="/bundles/classcentralsite/slashpixel/images/credentials-page-white.png" alt="Credentials illustration">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tilted-section tilted-section--dark">
                <div class="tilted-section__tilt"></div>
                <div class="tilted-section__content">

                    <div class="cred-credentials">

                        <div class="container">
                            <div id="filter-wrap">

                                <div class="mobile-filter-btn-wrap">
                                    <a href="#" class="mobile-filter-btn mobile-filter-btn--dark">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </a>
                                </div>

                                <div class="filter-column filter-column-left">
                                    <div class="cat-filter-wrap">
                                        <div class="category-filter category-filter--dark">

                                            <div class="ribbon-wrap">
                                                <div class="ribbon">
                                                    <span class="number-of-courses"><span id="number-of-credentials">{{ numCredentials }}</span> Credentials available</span>
                                                </div>
                                            </div>

                                            <ul class="filter-nav">

                                                <li class="filter-credentials active">
                                                    <a href="#" class="filter-dropdown-toggle main-category">
                                                        Subjects
                                                        <span class="arrow-up">
                                                            <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-logo6"></use></svg>
                                                        </span>
                                                        <span class="arrow-down">
                                                            <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-logo7"></use></svg>
                                                        </span>
                                                    </a>

                                                    <ul class="main-filter-dropdown">
                                                        {% for facet in facets.subjects %}
                                                            <li id="facets-{{ facet.term }}">
                                                                <div class="tick-wrap-credential">
                                                                    <span class="tick tick-icon-bg {% if facet.term in filterParams.credentials %} ticked {% endif %}">
                                                                        <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-tick"></use>
                                                                        </svg>
                                                                    </span>
                                                                    <a href="#" class="filter-dropdown-toggle filter-credential-type" data-subject="{{ facet.term }}" data-type="subject">{{ subjects[facet.term] }} ({{ facet.count  }})</a>
                                                                </div>
                                                            </li>
                                                        {% endfor %}

                                                    </ul>
                                                </li><!-- /.filter-subjects -->

                                                <li class="filter-credentials active">
                                                    <a href="#" class="filter-dropdown-toggle main-category">
                                                        Certificates
                                                        <span class="arrow-up">
                                                            <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-logo6"></use></svg>
                                                        </span>
                                                        <span class="arrow-down">
                                                            <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-logo7"></use></svg>
                                                        </span>
                                                    </a>

                                                    <ul class="main-filter-dropdown">
                                                        {% for facet in facets.certificates %}
                                                            <li id="facets-{{ facet.term }}">
                                                                <div class="tick-wrap-credential">
                                                                    <span class="tick tick-icon-bg {% if facet.term in filterParams.credentials %} ticked {% endif %}">
                                                                        <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-tick"></use>
                                                                        </svg>
                                                                    </span>
                                                                    {% set certDetails = credService.getCertDetailsFromCertSlug(facet.term) %}
                                                                    <a href="#" class="filter-dropdown-toggle filter-credential-type" data-certificate="{{ facet.term }}" data-type="certificate">{{ certDetails.name }} ({{ facet.count  }})</a>
                                                                </div>
                                                            </li>
                                                        {% endfor %}

                                                    </ul>
                                                </li><!-- /.filter-certificates -->
                                            </ul><!-- /.filter-nav -->

                                        </div><!-- /.category-filter -->
                                    </div><!-- /.cat-filter-wrap -->


                                </div><!-- /.filter-column -->

                                <div class="table-column table-column-right">
                                    <div class="cred-column-header">
                                        <h2 class="cred-section-title">The Credentials</h2>
                                    </div>

                                    <div class="cred-grid-container">
                                        <div class="row" id="credentials-cards-row">
                                             {% include 'ClassCentralCredentialBundle:Credential:credentialcards.html.twig' %}
                                        </div>
                                    </div>

                                </div><!-- /.table-column -->
                            </div><!-- /#filter-wrap -->
                        </div>

                    </div><!-- /.cred-credentials -->

                </div><!-- /.tilted-section__content -->
            </div><!-- /.tilted-section -->

            <div class="tilted-section tilted-section--white tilted-section--bottom">
                <div class="container">
                    <div class="cred-quote-section">
                        <div class="cred-quote-section__quote">
                            <div class="huge-quote">
                                <h2 class="huge-quote__title">What are you waiting for?</h2>
                                <span class="huge-quote__subtitle">If you're looking to gain industry-relevant skills and produce a robust portfolio of projects that demonstrate your capabilities, then online credentials are THE way to do it... with a price that makes sense, and a schedule that won't disrupt your work or personal life. </span>
                            </div>
                        </div>
                        <div class="cred-quote-section__author">
                            <div class="author-avatar">
                                <div class="author-avatar__image">
                                    <div class="avatar-circle">
                                        <img src="{{ user_service.getProfilePic(80012) }}" alt="Allan Reyes">
                                    </div>
                                </div>
                                <div class="author-avatar__info">
                                    <span class="author-avatar__title">Allan Reyes</span>
                                    <span class="author-avatar__subtitle">Co-founder at Crowdcover</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="tilted-section tilted-section--dark tilted-section--up">
                <div class="tilted-section__tilt"></div>
            </div>
        </div>
    </div>


    {% render controller("ClassCentralSiteBundle:User:createSignupModal", { src: 'credential_create_free_account', options:{ showSliderControls: true }}) %}

{% endblock %}