<div class="cred-card">
    <div class="cred-card__aspect-ratio">
        <a href="{{ path('credential_page', {slug : credential.slug} ) }}"  class="cred-card__inner" onmousedown="ga('send','event', 'Inbound Click - Credential from Card', '{{credential.name}}', '{{ credential.provider.name }}')">
            <div class="cred-card__overlay"></div>
            <img class="cred-card__overlay-image"
                 src="{% if credential.cardImage is not empty %} {{ credential.cardImage }} {% else %}/bundles/classcentralsite/slashpixel/images/credential-card-default.jpeg{% endif %}"
                 alt="{{ credential.name }}">
            <div class="cred-card__top-content">
                {% if credential.institutions |length > 0 %}
                    {{ credential.institutions[0].name }}
                {% endif %}
            </div>

            <!--
            <div class="cred-card__bookmark">
                <span class="css-bookmark-icon css-bookmark-icon--full"></span>
            </div>
            -->

            <div class="cred-card__title-wrap">
                <h3 class="cred-card__title">{{ credential.name }}</h3>
            </div>

            {% if credential.isSponsered %}
                <span class="cred-card__flag">Sponsored</span>
            {% endif %}

            <div class="cred-card__footer-content">
                <div class="cred-card__hover-content">
                    <span class="cred-card__price">{{ credential.displayPrice }}</span>
                    <span class="cred-card__provider">Via {{ credential.provider.name }}</span>
                </div>

                <div class="cred-card__star-rating">
                    {% include 'ClassCentralSiteBundle:Helpers:starRating.html.twig' with {formattedRating: credential.formattedRating,ratingColour: 'white'} %}

                    <span class="cred-card__num-rating">({{ credential.numRatings }})</span>

                </div> <!-- /.cred-card__star-rating -->

            </div>
        </a><!-- /.cred-card__inner -->
    </div>

</div>