{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{%  block headmeta %}

{% endblock %}

{% block ccfullcontent -%}
	<div class="cc-full-width-content">
		<div class="fixed-menu-spacer"></div>
		<div class="tilted-sections-wrap">

			<div class="tilted-section tilted-section--blue tilted-section--steep-bottom">
				<div class="tilted-section__content">
					<div class="container">

						<div class="single-cred-intro">

							<h1 class="single-cred-intro__title">
								Android Developer</h1>
							<span class="single-cred-intro__subtitle">Learn to develop for Android and transform your career outlook!</span>

							<div class="single-cred-intro__logos">

							</div>

						</div><!-- /.single-cred-intro -->

					</div>
				</div>


			</div><!-- /.tilted-section -->

			<div class="tilted-section tilted-section--dark">
				<div class="tilted-section__tilt tilted-section__tilt--steep"></div>
				<div class="tilted-section__content">
					<div class="container">
						<div class="rating-stamp">
							<div class="rating-stamp__dynamic-content">
								<div class="rating-stamp__star-rating">
									<div class="starRating starRating-em starRating-white rating35">
									    <div class="starRating_star">
									        <svg class="starRating_starShape starRating_starShape-blank">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-full">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
									        </svg>
									    </div>
									    <div class="starRating_star">
									        <svg class="starRating_starShape starRating_starShape-blank">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-full">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
									        </svg>
									    </div>
									    <div class="starRating_star">
									        <svg class="starRating_starShape starRating_starShape-blank">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-full">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
									        </svg>
									    </div>
									    <div class="starRating_star">
									        <svg class="starRating_starShape starRating_starShape-blank">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-full">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
									        </svg>
									    </div>
									    <div class="starRating_star">
									        <svg class="starRating_starShape starRating_starShape-blank">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-full">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
									        </svg>
									        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
									            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
									        </svg>
									    </div>
									</div>

								</div><!-- /.rating-stamp__star-rating -->

								<div class="rating-stamp__count">784 Reviews</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.tilted-section -->

			<div class="tilted-section--white">
				white section
			</div>

			<div class="dotted-spacer dotted-spacer--white"></div>

			<div class="tilted-section tilted-section--blue tilted-section--steep-bottom">
				<div class="tilted-section__content">
					<div class="container">
						blue section
					</div>
				</div>
			</div><!-- /.tilted-section -->

			<div class="tilted-section tilted-section--dark tilted-section--up">
                <div class="tilted-section__tilt tilted-section__tilt--steep"></div>
                <div class="tilted-section__content">
                	<div class="container">
                		dark section
                	</div>
                </div>
            </div><!-- /.tilted-section -->

            <div class="dotted-spacer dotted-spacer--dark"></div>

            <div class="tilted-section tilted-section--blue tilted-section--steep-bottom">
            	<div class="tilted-section__content">
            		<div class="container">
            			blue section
            		</div>
            	</div>
            </div><!-- /.tilted-section -->


            <div class="tilted-section tilted-section--dark tilted-section--up">
                <div class="tilted-section__tilt tilted-section__tilt--steep"></div>
            </div>

		</div><!-- /.tilted-sections-wrap -->
	</div><!-- /.cc-full-width-content -->

    <div>

        <p>[name] {{ credential.name   }}</p>
        <p>[one liner] {{ credential.oneLiner }}</p>
        <p>[rating] {{ credential.rating }}</p>
        <p>[Number of ratings] {{ credential.numRatings  }}    </p>
        <p>[Go To Credential] {{ credential.url }}</p>

        {% for bulletpoint in credential.bulletPoints %}
            <p>{{ bulletpoint }}</p>
        {% endfor %}

        <h3>Description</h3>
        <p>{{ credential.description }}</p>
        <p><h3>Syllabus</h3></p>
        {% for course in credential.courses %}
            <div>
                <p><strong>{{ course.name }}</strong></p>
                <p>{{ course.description }}</p>
                <p>{{ course.nextSession.displayDate }}</p>
                <p>{{ course.length }} weeks</p>
            </div>
        {% endfor %}
        <b></b>

    </div>
{% endblock %}