{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{%  block headmeta %}

{% endblock %}

{% block ccfullcontent -%}
    <div class="cc-full-width-content">
        <div class="fixed-menu-spacer"></div>
        <div class="tilted-sections-wrap">
            <div class="tilted-section tilted-section--blue tilted-section--bottom">
                <div class="tilted-section__content">
                    <div class="container">
                        <div class="cred-intro">
                            <div class="cred-intro__half cred-intro__half--left">
                                <h1 class="cred-title">Credentials.</h1>
                                <span class="cred-subtitle">Class Central is a free online course discovery platform focused on reviews by professors and students.</span>
                                <div class="cred-button">
                                    <a href="#" class="basic-input-button">Create free account</a>
                                </div>
                            </div>
                            <div class="cred-intro__half">
                                <img class="cred-intro__illustration" src="/bundles/classcentralsite/slashpixel/images/credentials-page.png" alt="Credentials illustration">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tilted-section tilted-section--dark">
                <div class="tilted-section__tilt"></div>
                <div class="tilted-section__content">

                    <div class="cred-credentials">

                        <div class="container">
                            <div id="filter-wrap">

                                <div class="mobile-filter-btn-wrap">
                                    <a href="#" class="mobile-filter-btn mobile-filter-btn--dark">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </a>
                                </div>

                                <div class="filter-column filter-column-left">
                                    <div class="cat-filter-wrap">
                                        <div class="category-filter category-filter--dark">

                                            <div class="ribbon-wrap">
                                                <div class="ribbon">
                                                    <span class="number-of-courses"><span id="number-of-courses">{{credentials.hits.total}}</span> Credentials available</span>
                                                </div>
                                            </div>

                                            <ul class="filter-nav">
                                                <li class="filter-sessions">
                                                    <a href="#" class="filter-dropdown-toggle main-category">
                                                        All Credentials
                                                        <span class="arrow-up">
                                                            <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-logo6"></use></svg>
                                                        </span>
                                                        <span class="arrow-down">
                                                            <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-logo7"></use></svg>
                                                        </span>
                                                    </a>

                                                    <ul class="main-filter-dropdown">
                                                        {% for facets in credentials.facets.certificate.terms %}
                                                            <li id="facets-{{ facets.term }}">
                                                                <div class="tick-wrap">
                                                                    <span class="tick tick-icon-bg">
                                                                        <svg class="icon-cc-tick" viewBox="0 0 37 32">
                                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-tick"></use>
                                                                        </svg>
                                                                    </span>
                                                                    <a href="#" class="filter-dropdown-toggle sub-category" data-session="recent" data-type="session">{{ facets.term }} ({{ facets.count  }})</a>
                                                                </div>
                                                            </li>
                                                        {% endfor %}

                                                    </ul>
                                                </li><!-- /.filter-sessions -->
                                            </ul><!-- /.filter-nav -->

                                        </div><!-- /.category-filter -->
                                    </div><!-- /.cat-filter-wrap -->

                                    <div class="ad-wrap">
                                        <div class="ad-box">

                                            <a class="ad-box__link" href="http://Canvas.net" target="_blank" onmousedown="ga('send','event', 'Text Ad', 'Canvas Network', 'subject')" rel="nofollow">
                                                <img class="ad-box__img" src="http://lorempixel.com/output/technics-q-c-130-100-1.jpg" alt="ad">
                                            </a>
                                            <p class="ad-box__text">The most versatile to-do app UI kit you've ever seem. Yours, For Free.</p>

                                            <span class="ad-box__note">Ads via the deck</span>
                                        </div>

                                    </div>
                                </div><!-- /.filter-column -->

                                <div class="table-column table-column-right">
                                    <div class="cred-column-header">
                                        <h2 class="cred-section-title">The Credentials</h2>
                                    </div>

                                    <div class="cred-grid-container">
                                        <div class="row">
                                            {% for result in credentials.hits.hits %}
                                                {% set credential = result._source %}
                                                <div class="cred-col col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                                    <div class="cred-card">
                                                        <div class="cred-card__aspect-ratio">
                                                            <a href="{{ path('credential_page', {slug : credential.slug} ) }}" class="cred-card__inner">
                                                                <div class="cred-card__overlay"></div>
                                                                <img class="cred-card__overlay-image" src="{{ credential.cardImage }}" alt="Credential illustration">
                                                                <div class="cred-card__top-content">
                                                                    {% if credential.institutions |length > 0 %}
                                                                        {{ credential.institutions[0].name }}
                                                                    {% endif %}
                                                                </div>

                                                                <div class="cred-card__bookmark">
                                                                    <span class="css-bookmark-icon css-bookmark-icon--full"></span>
                                                                </div>


                                                                <div class="cred-card__title-wrap">
                                                                    <h3 class="cred-card__title">{{ credential.name }}</h3>
                                                                </div>

                                                                <span class="cred-card__flag">Sponsored</span>


                                                                <div class="cred-card__footer-content">
                                                                    <div class="cred-card__hover-content">
                                                                        <span class="cred-card__price">{{ credential.displayPrice }}</span>
                                                                        <span class="cred-card__provider">Via {{ credential.provider.name }}</span>
                                                                    </div>

                                                                    <div class="cred-card__star-rating">
                                                                        <div class="starRating starRating-em starRating-white rating{{ credential.formattedRating*10 }}">
                                                                            <div class="starRating_star">
                                                                                <svg class="starRating_starShape starRating_starShape-blank">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-full">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
                                                                                </svg>
                                                                            </div>
                                                                            <div class="starRating_star">
                                                                                <svg class="starRating_starShape starRating_starShape-blank">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-full">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
                                                                                </svg>
                                                                            </div>
                                                                            <div class="starRating_star">
                                                                                <svg class="starRating_starShape starRating_starShape-blank">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-full">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
                                                                                </svg>
                                                                            </div>
                                                                            <div class="starRating_star">
                                                                                <svg class="starRating_starShape starRating_starShape-blank">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-full">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
                                                                                </svg>
                                                                            </div>
                                                                            <div class="starRating_star">
                                                                                <svg class="starRating_starShape starRating_starShape-blank">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-full">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
                                                                                </svg>
                                                                                <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
                                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
                                                                                </svg>
                                                                            </div>
                                                                        </div>

                                                                    </div><!-- /.cred-card__star-rating -->

                                                                </div>
                                                            </a><!-- /.cred-card__inner -->
                                                        </div>

                                                    </div>


                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div><!-- /.table-column -->
                            </div><!-- /#filter-wrap -->
                        </div>

                    </div><!-- /.cred-credentials -->

                </div><!-- /.tilted-section__content -->
            </div><!-- /.tilted-section -->

            <div class="tilted-section tilted-section--white tilted-section--bottom">
                <div class="container">
                    <div class="cred-quote-section">
                        <div class="cred-quote-section__quote">
                            <div class="huge-quote">
                                <h2 class="huge-quote__title">LEARNING. Always.</h2>
                                <span class="huge-quote__subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span>
                            </div>
                        </div>
                        <div class="cred-quote-section__author">
                            <div class="author-avatar">
                                <div class="author-avatar__image">
                                    <div class="avatar-circle">
                                        <img src="https://d3f1iyfxxz8i1e.cloudfront.net/users/profile_pic/5b85336a6828.png" alt="profile picture">
                                    </div>
                                </div>
                                <div class="author-avatar__info">
                                    <span class="author-avatar__title">Dhawal Shah</span>
                                    <span class="author-avatar__subtitle">Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="tilted-section tilted-section--dark tilted-section--up">
                <div class="tilted-section__tilt"></div>
            </div>
        </div>
    </div>




{% endblock %}