<a
  data-track-click="{{ ts.event('LISTING_CLICK') }}"
  data-track-props='{ "type": "Credential", "title": "{{credential.name}}", "provider": "{{ credential.provider.name }}" }'
  onmousedown="ga('send','event', 'Inbound Click - Credential from Card', '{{credential.name}}', '{{ credential.provider.name }}')"
  href="{{ path('credential_page', {slug : credential.slug} ) }}"
  class="credential-card hover-grow shadow border--thin border--gray-light border-box block"
>
  <div class="course-card-container row border-bottom border--thin border--gray-light relative">

    <div class="padding-horz-large padding-vert-medium">
      <h3 class="width-3-5 col head-5 text--left text--charcoal truncate">
        {{ credential.institutions[0].name }}
      </h3>
      <h4 class="width-2-5 col head-5 text--gray text--italic text-right">
        <span class="icon--left icon-{{ credential.provider.name|lower }}-gray icon--small">{{ credential.provider.name }}</span>
      </h4>
      {% if credential.institutions |length > 0 %}

      {% endif %}
      <h2 class="course-card-title width-1-1 col text-1 text--blue margin-top-small margin-bottom-medium">
        {{ credential.name|length > 60 ? credential.name|slice(0, 60) ~ '...' : credential.name }}
      </h2>
    </div>
  </div>
  <div class="row padding-horz-large padding-vert-medium">
    <div class="width-1-3 col text-left">
      <i class="icon-credential"></i>
    </div>
    <div class="width-2-3 col credential-card-rating text-right">

        {% include 'ClassCentralSiteBundle:Helpers:review.rating.html.twig' with { rating: credential.rating } %}
         <span class="block margin-top-xxsmall text-4 text--gray">
           {% if credential.numRatings > 0 %}
           {{ credential.numRatings }} Reviews
          {% else %}
            <span class="text-4 text--gray text--italic">No reviews yet.</span>
          {% endif %}
        </span>
    </div>
  </div>
</a>
