{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{%  block headmeta %}

{% endblock %}

{% block content -%}
<div>

    <p>[name] {{ credential.name   }}</p>
    <p>[one liner] {{ credential.oneLiner }}</p>
    <p>[rating] {{ credential.rating }}</p>
    <p>[Number of ratings] {{ credential.numRatings  }}    </p>
    <p>[Go To Credential] {{ credential.url }}</p>
    <p></p>
    <p></p>
    <p></p>

    <h3>Description</h3>
    <p>{{ credential.description }}</p>
    <p><h3>Syllabus</h3></p>
    {% for course in credential.courses %}
        <div>
            <p><strong>{{ course.name }}</strong></p>
            <p>{{ course.description }}</p>
            <p>{{ course.nextSession.displayDate }}</p>
            <p>{{ course.length }} weeks</p>
        </div>
    {% endfor %}
    <b></b>

</div>
{% endblock %}