{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block content -%}
    <h1>Credential list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Oneliner</th>
                <th>Price</th>
                <th>Priceperiod</th>
                <th>Durationmin</th>
                <th>Durationmax</th>
                <th>Workloadmin</th>
                <th>Workloadmax</th>
                <th>Url</th>
                <th>Description</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('credential_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.oneLiner }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.pricePeriod }}</td>
                <td>{{ entity.durationMin }}</td>
                <td>{{ entity.durationMax }}</td>
                <td>{{ entity.workloadMin }}</td>
                <td>{{ entity.workloadMax }}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('credential_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('credential_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('credential_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}

