{# Show courses recommendationss #}

{% set coursesBoxTitle = 'Related Courses' %}
{% if recommendations|length == 0%}
    {% set coursesBoxTitle = 'Highest Rated Courses' %}
    {% set recommendations =  highlyRatedCourses %}
{% endif %}

{% if recommendations|length > 0 %}
  <section class="border-top border--gray-dark border--thin margin-vert-medium">
    <h3 class="text-1 text--bold margin-top-medium margin-bottom-small">{{ coursesBoxTitle }}</h3>
    <ul>
      {% for course in recommendations %}
        <li class="row width-100 block padding-vert-xsmall width-100 {% if loop.last != true %}border-bottom border--thin border--gray-xlight{% endif %}">
          <div class="col width-10-16 text-left">
            {% if course.initiative is not null %}
              {% set initiative=course.initiative.name %}
            {% else %}
              {% set initiative='Others' %}
            {% endif %}
            <ul class="text-3 block">
              {% if course.institutions|length %}
                {% for institution in course.institutions %}
                  {% set route = 'ClassCentralSiteBundle_university' %}
                  {% if not institution['isUniversity'] %}
                    {% set route = 'ClassCentralSiteBundle_institution' %}
                  {% endif %}
                  <li class="inline">
                    <a
                      class="uni-name text--charcoal hover-text--underline"
                      href="{{ path(route,{'slug' : institution['slug']})}}"
                      title="List of {{institution['name']}} MOOCs" onClick="ga('send','event', 'Inbound Clicks - University', '{{institution['name']}}', '{{course['name']}}')"
                    >
                      {{institution['name']}}
                    </a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
            <a
              class="text--charcoal text-2 medium-up-text-1 text--bold block course-name"
              href="{{ path('ClassCentralSiteBundle_mooc', {'id': course.id, 'slug':course.slug}) }}"
              onmousedown='recordInboundLink(
                           "{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug': course.slug }) }}",
                           "{{initiative}}","{{course.name}}","recommended");return false'
            >
              {{ course.name }}
            </a>
            {% if course['initiative'] %}
              <span class="via">via</span>
              <a
                href="{{ path('ClassCentralSiteBundle_initiative', { 'type': course.initiative.code }) }}"
                class="initiativelinks text--charcoal text--italic hover-text--underline"
                title="List of {{ course['initiative']['name'] }} MOOCs"
                onClick="ga('send','event', 'Inbound Clicks - Initiative', '{{ course.initiative.name }}', '{{course.name}}')"
              >
                {{ course.initiative.name }}
              </a>
            {% endif %}
          </div>
          <div class="col width-6-16 text-right padding-top-medium">
            {% include 'ClassCentralSiteBundle:Helpers:review.rating.mobile.html.twig' with { rating: 4} %}
          </div>
        </li>
      {% endfor %}
    </ul>

    <div class="text-left margin-top-medium margin-bottom-xlarge">
      <a
        class="xsmall-only-width-100 small-only-width-100 btn-blue-outline btn--large"
        href="{{ path('ClassCentralSiteBundle_stream',{'slug' : course['stream']['slug']}) }}"
        title="List of {{ course['stream']['name'] }} MOOCs"
        onClick="ga('send','event', 'Course - Inbound Clicks - Stream', '{{course['stream']['name']}}', '{{course['name']}}')"
      >
        <span class="xsmall-only-hidden text--bold">Browse</span> More <span>{{ course['stream']['name'] }} courses</span>
      </a>
    </div>
  </section>
{% endif %}
