{% if course['videoEmbedUrl'] is not null and isYoutube %}
  <div class="ratio ratio--9-16 bg-gray js-course-video border-bottom border--thin border--gray-xlight">
    <div class="video-container ratio-content width-100 height-100">
      <iframe class="height-100 width-100 ytb-video-frame" src="{{ course['videoEmbedUrl'] }}&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen  wmode="Opaque"></iframe>
    </div>
  </div>
{% elseif course.videoIntro is not null and course.initiative.code == 'coursera' %}
  <div class="ratio ratio--9-16 bg-gray js-course-video relative border-bottom border--thin border--gray-xlight">
    {% set videoInfo= course.videoIntro|split('|||') %}
    <div class="html5-video-container ratio-content width-100 height-100">
      <video poster="{{ videoInfo[1] }}" class="height-100 width-100">
        <source type="video/mp4" src="{{ videoInfo[0] }}full/540p/index.mp4">
        <source type="video/webm" src="{{ videoInfo[0] }}full/540p/index.webm">
      </video>
      <div class="z-high absolute left width-100 text-center" style="top: 40%;">
        <button class="html5-video-play-wrap js-video-play shadow btn-white btn-circle icon--center btn--large icon-play"></button>
      </div>
    </div>
  </div>
{% elseif courseImage %}
  {% set courseImageThumbnail = imageService.cropImage(courseImage, 710,400) %}
  <div
    class="ratio ratio--9-16 bg-gray bg-cover border-bottom border--thin border--gray-xlight"
    style="
      top: 1px;
      background-image: url({{ courseImageThumbnail }});
      background-repeat: no-repeat;
      background-position: 50% 50%;
    ">
  </div>
{% endif %}
