<section id="course-summary" class="classcentral-style">

  <div class="xsmall-only-hidden small-only-hidden border-all border--gray-xlight border--thin margin-vert-medium padding-vert-medium">
    <div class="row hr-vert">
      <div class="col width-100 medium-up-width-1-2 xsmall-only-margin-bottom-small small-only-margin-bottom-small">
        {{ cc_ads.renderTextRowAd('course-top',{"adPosition": "below_title"})|raw }}
      </div>
      <div class="col width-100 medium-up-width-1-2">
        {{ cc_ads.renderTextRowAd('course-top',{"adPosition": "below_title"})|raw }}
      </div>
    </div>
  </div>

  <nav class="text-center margin-top-medium medium-up-margin-top-reset large-up-text-left border-bottom border--thin border--gray-dark">
    <div style="top: 1px" class="relative medium-up-padding-left-small">
        <a
          data-tab="overview"
          data-tab-family="course-summary"
          href="#"
          data-track-click="{{ ts.event('COURSE_CLICK') }}"
          data-track-props='{ "type": "Course Overview Tab" }'
          class="head-4 bg-white medium-up-head-3 text--charcoal text--bold inline-block border--thin border-top border-left border-right border--gray-dark padding-vert-xsmall padding-horz-small large-up-padding-horz-xxlarge margin-right-xsmall"
        >
          <span>About</span>
          <span class="xsmall-only-hidden small-only-hidden"> this course</span>
        </a>
      {% if course.syllabus %}
        <a
          data-tab="syllabus"
          data-tab-family="course-summary"
          href="#"
          data-track-click="{{ ts.event('COURSE_CLICK') }}"
          data-track-props='{ "type": "Course Syllabus Tab" }'
          class="head-4 bg-gray medium-up-head-3 text--charcoal inline-block border--thin border-top border-left border-right border--gray-dark padding-vert-xsmall padding-horz-small large-up-padding-horz-xxlarge"
        >
          Syllabus
        </a>
      {% endif %}
    </div>
  </nav>

  <div id="course-tabs" class="padding-vert-large">
    <div data-tab-family="course-summary" data-tab-target="overview">
      <div>
        <article class="wysiwyg text-2 medium-up-text-1">
          {% if course.initiative.code == 'coursera' %}
            <p class="margin-bottom-medium text-center large-up-text-left">
                <span class="text-2 text--bold margin-right-small">Sign up to Coursera courses for free</span>
                <a
                  target="_blank"
                  href="https://www.class-central.com/report/coursera-signup-for-free/"
                  onmousedown='CC.track("{{ ts.event('TIP_CLICK') }}", {
                    tip_key: "coursera-signup-free-learn-how",
                    tip_link: "https://www.class-central.com/report/coursera-signup-for-free/"
                  });'
                  class="btn-white icon--left icon-lightbulb-skyblue"
                >
                  Learn how
                </a>
            </p>
          {% endif %}
          <div class="relative {% if course.desc|length > 1500 %}fade-bottom{% endif %}" data-expand-article-target="overview">
            {{ course.desc|raw }}
          </div>
          {% if course.desc|length > 1500 %}
            <p class="margin-vert-small text-left">
              <button data-expand-article="overview" class="xsmall-only-width-100 small-only-width-100 btn--large btn-blue-outline icon--right icon--small icon-chevron-down-blue margin-bottom-large">
                Read more
              </button>
            </p>
          {% endif %}
        </article>

      </div>
    </div>

    {% if course.syllabus %}
      <div data-tab-family="course-summary" data-tab-target="syllabus" class="hidden">
        <div id="syllabus-full">
          <article class="wysiwyg text-2 medium-up-text-1">
            <div class="relative {% if course.syllabus|length > 1500 %}fade-bottom{% endif %}" data-expand-article-target="syllabus">
              {{ course.syllabus|raw }}
            </div>
          </article>
          {% if course.syllabus|length > 1500 %}
            <p class="margin-vert-small text-left">
              <button data-expand-article="syllabus" class="xsmall-only-width-100 small-only-width-100 btn--large btn-blue-outline icon--right icon--small icon-chevron-down-blue margin-bottom-large">
                Read more
              </button>
            </p>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if course['instructorsSingleLineDisplay'] %}
    <div class="text-1 margin-top-medium">
      <div class="row">
        <h4 class="col width-100 text--bold inline-block margin-bottom-xsmall">
          Taught by
        </h4>
        <div class="col width-100 text-2 medium-up-text-1">
          {{ course['instructorsSingleLineDisplay'] }}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {% if courseRank is not empty %}
    <div class="border-top border--gray-dark border--thin padding-top-medium">
      <h4 class="text-1 width-100 text--bold inline-block margin-bottom-xsmall">
        Class Central Charts
      </h4>
      <ul class="text-2 medium-up-text-1 margin-bottom-medium">
      {% for rank in courseRank %}
        <li>
          <strong>#{{ rank.rank }}</strong> in <a class="text--blue" href="{{ path('subjects') }}" onmousedown="ga('send','event', 'Inbound Click - Course Ranking Subject Click', '{{ course.name}}', 'Subjects')">Subjects</a>
          {% if rank.subject %}
              > <a class="text--blue" href="{{ path('ClassCentralSiteBundle_stream',{slug:rank.subject.slug}) }}" onmousedown="ga('send','event', 'Inbound Click - Course Ranking Subject Click', '{{ course.name}}', '{{ rank.subject.name }}')">{{ rank.subject.name  }}</a>
          {% endif %}
          {% if rank.category %}
              > <a class="text--blue" href="{{ path('ClassCentralSiteBundle_stream',{slug:rank.category.slug}) }}" onmousedown="ga('send','event', 'Inbound Click - Course Ranking Subject Click', '{{ course.name}}', '{{ rank.category.name }}')">{{ rank.category.name  }}</a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if course.tags|length > 0 %}
    <div class="text-1 border-top border--gray-dark border--thin row padding-top-medium">
      <h4 class="col width-100 text--bold inline-block margin-bottom-xsmall">
        Tags
      </h4>
      <div class="col width-100">
        {% for tag in course.tags %}
          <a class="block medium-up-inline-block btn-gray btn--medium text--normal margin-bottom-xsmall medium-up-margin-right-xsmall" href="{{ path('tag_courses', {tag: tag|lower}) }}"
            onmousedown="ga('send','event', 'Course - Inbound Clicks - tags', '{{tag}}', '{{course['name']}}')">{{ tag|lower }}
         </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

</section>
