{% extends 'ClassCentralSiteBundle:Layouts:Admin/standard.html.twig' %}

{% block content -%}
  <section class="classcentral-style">
    <div class="width-centered padding-small medium-up-padding-bottom-large padding-horz-xlarge relative" style="max-width: 750px">
        {{ form_start(edit_form, { attr: { class: "width-centered width-100 form margin-top-large" }}) }}

        <h1 class="head-1 text--bold">{{ entity.name }}</h1>

        {{ form_errors(edit_form) }}

        {{ form_label(edit_form.name, "Section name", {"label_attr": {"class": "margin-top-medium block text--gray text-4"}}) }}
        {{ form_widget(edit_form.name, {'attr': {'class': "width-100 input--text input--large"}}) }}

        {{ form_label(edit_form.slug, "Slug", {"label_attr": {"class": "margin-top-medium block text--gray text-4 input--large"}}) }}
        {{ form_widget(edit_form.slug, {'attr': {'class': "width-100 input--text input--large"}}) }}

        {{ form_label(edit_form.description, "Description", {"label_attr": {"class": "margin-top-medium block text--gray text-4"}}) }}
        <div class="wysiwyg">
          <div id="editor" class="padding-large" style="min-height: 300px">          
            {{ entity.description|raw }}
          </div>
        </div>
        <div class="margin-vert-large text-center">
          {{ form_row(edit_form.submit, { "label": "Save", "attr": { "class": "btn-blue btn--large" }}) }}
        </div>

        <div class="hidden">
          {{ form_rest(edit_form) }}
        </div>
        {{ form_end(edit_form) }}
    </div>
  </section>
{% endblock %}



{%  block beforeClosingBody %}

<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.5/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet" />

{% endblock %}
