{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
    <title>Ad Statistics</title>
{% endblock %}

{% block content %}
    <div class="classcentral-style">
        <div class="row width-centered padding-horz-small medium-up-padding-horz-medium xlarge-up-padding-horz-large" style="max-width: 1250px;">
            <h3>{{ advertiser }} - stats by months</h3>
            {% for month,advertiserStats in adStatsByMonth[advertiser] %}

                {% set advertiserCTR = 0 %}
                {% if  advertiserStats.impressions > 0 %}
                    {% set advertiserCTR = advertiserStats.clicks*1000/advertiserStats.impressions %}
                {% endif %}
                {{ month }}, {{ advertiserStats.impressions }}, {{ advertiserStats.clicks }}, {{ advertiserCTR }}<br/>

            {% endfor %}
            </ul>
            <h3>{{ advertiser }} - stats by ad unit</h3>

            {% for adunit,advertiserStatsByUnit in  adStatsByUnit[advertiser] %}
                <h4>{{ adunit }}</h4>
                {% for month,advertiserStats in advertiserStatsByUnit %}
                    {% set advertiserCTR = 0 %}
                    {% if  advertiserStats.impressions > 0 %}
                        {% set advertiserCTR = advertiserStats.clicks*1000/advertiserStats.impressions %}
                    {% endif %}
                    {{ month }}, {{ advertiserStats.impressions }}, {{ advertiserStats.clicks }}, {{ advertiserCTR }}<br/>
                {% endfor %}
                <br/>
            {% endfor %}

        </div>
    </div>
{% endblock %}