{% if count > 0 %}
  <table
    class="table table--block"
  >
    <tbody>
      {% for result in stream %}
        {% if loop.index <= 5 %}
          {% set credential = result._source %}
          <tr>
            <td class="text-center width-2-16">
              <i class="icon-credential icon--large"></i>
            </td>
            <td class="course-name-column width-10-16 relative">
              <a
                class="block text--charcoal hover-text--underline"
                href="#"
              >
                {{ credential.institutions[0].name }}
              </a>
              <a
                class="text--charcoal text-2 medium-up-text-1 block"
                data-track-click="{{ ts.event('OS_CLICK') }}"
                data-track-props='{ "type": "Credential", "title": "{{credential.name}}", "provider": "{{ credential.provider.name }}" }'
                onmousedown="ga('send','event', 'Inbound Click - Credential from Card', '{{credential.name}}', '{{ credential.provider.name }}')"
                href="{{ path('credential_page', {slug : credential.slug} ) }}"
                title="{{ credential.name }}">
                  <span class="text--bold">{{ credential.name }}</span>
              </a>
              <span class="block">
                  via
                  <a
                    href="#"
                    class="initiativelinks text--charcoal text--italic hover-text--underline"
                    title=""
                  >
                    {{ credential.provider.name }}
                  </a>
                <span class="block large-up-inline-block icon--left text-4 small-up-text-3 {% if (credential.provider) %} large-up-margin-left-xxsmall {% endif %} icon-clock-charcoal">{{ credential.displayWorkload }}
                  {% if credential.displayDuration and credential.displayWorkload %},{% endif %}
                  {{ credential.displayDuration }}
                </span>
              </span>
              <div class="border-top border--thin border--gray-light padding-top-xsmall margin-top-xsmall">
                <strong class="text-2 text--bold" style="color: #65CC98;">{{ credential.displayPrice }}</strong>
                <span class="text-2 icon--left icon-course">{{ credential.courses|length }} courses</span>
              </div>
            </td>
            <td class="text-center large-up-text-right">
              {% if credential.numRatings > 0 %}
                {% include 'ClassCentralSiteBundle:Helpers:review.rating.html.twig' with { rating: credential.rating } %}
                 <a
                  class="xsmall-only-hidden small-only-hidden block margin-top-xxsmall text-4 text--gray"
                  href=""
                  data-track-click="{{ ts.event('OS_CLICK') }}"
                  data-track-props='{ "type": "Reviews" }'
                >
                  {{ credential.numRatings }} Reviews
                </a>
              {% else %}
                <span class="xsmall-only-hidden small-only-hidden text-4 text--gray text--italic">No reviews yet.</span>
                <span class="medium-up-hidden"><i class="icon-star-gray-light icon--xsmall"></i></span>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  {% if count > 5 %}
    <div class="text-center margin-vert-medium">
      <a href="{{ path('tag_courses', { tag: slug, credential: true }) }}" class="btn-color btn-blue-outline padding-horz-xlarge btn--large">Show More</a>
    </div>
  {% endif %}
{% else %}
  <div class="padding-vert-xxlarge margin-vert-xxlarge text-1 text-center text--charcoal">No credentials available for this subject</div>
{% endif %}
