{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
    {% if keywords is not null and keywords|length %}
        <title> {{keywords}} - free online courses/MOOC search results | Class Central</title>
        <meta name="description" content="{{keywords}} - free online courses/MOOC search results | Class Central"/>
        <meta name="robots" content="noindex, follow" />
        {# paginated content #}
        {% include 'ClassCentralSiteBundle:Helpers:paginationRelTags.html.twig' with
            { 'pageNo': pageNo, 'totalCourses': results.hits.total }
        %}
    {% else %}
        <title>Search for free online courses/MOOCs | Class Central</title>
        <meta name="description" content="Free MOOC (Massive Open Online Course) Search"/>

    {% endif %}

{% endblock %}

{% block customJS %}
    $(document).ready(function(){
        $('.icon-link').click(function(){
            var feedback = $(this).attr("value");
            $('#search-feedback').slideUp();
            try{
                 ga('send','event', 'Search Feedback' , feedback, '{{keywords}}' );
            } catch(err){}
        });

        var keywords = '{{keywords}}';
        totalCourses = {% if results|length %}{{ results.hits.total }}{% else %}0{% endif %};
        $.ajax({
            type: "get",
            url: "{{ path('maestro_udemy_courses',{'term':keywords|url_encode}) }}"
        })
        .done(
            function(result){
                result = JSON.parse(result);
                if(result.success) {
                    udemy = result;
                    $('#course-listing-tbody').append(result.tableRows);
                }
            }
        );

     });
{% endblock %}

{% block content %}
    {% if keywords is not null and keywords|length and total != 0 %}

  <div class="classcentral-style">
    <header class="width-centered padding-horz-large margin-vert-large" style="max-width: 1250px;">
      <h1 class="head-2 medium-up-head-1 margin-bottom-xlarge">Search results for "{{keywords}}"</h1>
      {% include 'ClassCentralSiteBundle:Search:create.alert.html.twig' %}
    </header>

    <section class="width-centered padding-horz-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
      <div class="row">
        <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects,'offLanguages':allLanguages, 'offSessions': allSessions } %}
        </div>
        <div class="col width-100 large-up-width-3-4 tables-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'searchtable'} %}
        </div>
      </div>
    </section>
  </div>

  {% endif %}
{% endblock %}
