{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %} 
    {% if keywords is not null and keywords|length %}
        <title> {{keywords}} - MOOC search results | Class Central</title>
    {% else %}
        <title>Search for free online courses AKA MOOCs | Class Central</title>
    {% endif %}
    <meta name="description" content="Free MOOC (Massive Open Online Course) Search"/>
{% endblock %}  

{% block customJS %}
    $(document).ready(function(){
        $('.icon-link').click(function(){        
            var feedback = $(this).attr("value");
            $('#search-feedback').slideUp();
            try{
                 _gaq.push(['_trackEvent', 'Search Feedback' , feedback, '{{keywords}}' ]);                        
            } catch(err){}
        });
     });    
{% endblock %}
    
{% block content %}

    <h1>MOOC search</h1>

    <div class="search-wrapper">
        {% include 'ClassCentralSiteBundle:Helpers:search_form.html.twig' %}
    </div>


    {% if keywords is not null and keywords|length %}

        {% if app.user %}
            {# user is logged in #}
            {% if user_session.isSearchTermAddedToMT(keywords) %}
                <a class="btn btn-primary btn-course-cc btn-mooc-tracker-added"
                   title="Added to MOOC tracker">added "{{ keywords }}" to MOOC tracker</a>
            {% else %}
                <a class="btn btn-primary btn-course-cc btn-mooc-tracker-add"
                   href="{{ path('mooctracker_add_search_term',{'searchTerm' : keywords }) }}"
                   title="Receive email notifications when new courses matching {{ keywords }} are added or about to start" rel="nofollow">add "{{  keywords }}" to MOOC tracker</a>
            {% endif %}
        {% else %}
            {# user has not signed up #}
            <a class="btn btn-primary btn-course-cc btn-mooc-tracker-add"
               href="{{ path('signup_search_term',{'searchTerm' : keywords }) }}"
               title="Receive email notifications when new courses matching '{{ keywords }}' are added or about to start" rel="nofollow">add "{{  keywords }}" to MOOC tracker</a>
        {% endif %}



    <div class="searchresultsheader">
        <h2>Search Results</h2>
        <div><b>{{total}}</b> result(s) found for <b>{{keywords}}</b></div>
        <div id='search-feedback'>Are these results helpful? <i class="icon-ok icon-black icon-link" value="YES"></i> <i class="icon-remove icon-black icon-link" value="NO"></i></div>
     </div>
     {% if total != 0 %}
         <div id="filter-wrap">
             {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects,'offLanguages':allLanguages } %}
             <div class="tables-wrap">
                 {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'recent'} %}
             </div>
         </div>
    {% endif %}
   {% endif %}             
{% endblock %}  
        