{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    {% if keywords is not null and keywords|length %}
        <title> {{keywords}} - free online courses/MOOC search results | Class Central</title>
        <meta name="description" content="{{keywords}} - free online courses/MOOC search results | Class Central"/>
        <meta name="robots" content="noindex, follow" />
        {# paginated content #}
        {% include 'ClassCentralSiteBundle:Helpers:paginationRelTags.html.twig' with
            { 'pageNo': pageNo, 'totalCourses': results.hits.total }
        %}
    {% else %}
        <title>Search for free online courses/MOOCs | Class Central</title>
        <meta name="description" content="Free MOOC (Massive Open Online Course) Search"/>

    {% endif %}

{% endblock %}

{% block customJS %}
    $(document).ready(function(){
        $('.icon-link').click(function(){
            var feedback = $(this).attr("value");
            $('#search-feedback').slideUp();
            try{
                 ga('send','event', 'Search Feedback' , feedback, '{{keywords}}' );
            } catch(err){}
        });

        var keywords = '{{keywords}}';
        totalCourses = {% if results|length %}{{ results.hits.total }}{% else %}0{% endif %};
        $.ajax({
            type: "get",
            url: "{{ path('maestro_udemy_courses',{'term':keywords|url_encode}) }}"
        })
        .done(
            function(result){
                result = JSON.parse(result);
                if(result.success) {
                    udemy = result;
                    $('#course-listing-tbody').append(result.tableRows);
                }
            }
        );

     });
{% endblock %}

{% block content %}
    {% if keywords is not null and keywords|length and total != 0 %}
        <div class="classcentral-style">
          <h1 class="head-1 margin-bottom-xlarge" style="font-size: 32px;">Search results for "{{keywords}}"</h1>
          {% include 'ClassCentralSiteBundle:Search:create.alert.html.twig' %}
        </div>
        <section class="courses">
            <h2 class="section-heading">
                <span>Courses</span>
            </h2>
            <div id="filter-wrap">
                <div class="mobile-filter-btn-wrap">
                    <a href="#" class="mobile-filter-btn">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-lg-3 filter-column">
                        {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects,'offLanguages':allLanguages, 'offSessions': allSessions } %}
                    </div>
                    <div class="col-sm-8 col-lg-9 table-column">
                        <div class="tables-wrap">
                            {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'searchtable'} %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
