{% if numPagesBefore > 0 %}
  <button data-paginate data-courseid="{{ reviews.courseId }}" data-start="{{ ((reviews.currentPage - 2) * 20) }}" class="icon--xsmall padding-xsmall icon--center icon-chevron-left-blue" href="#">&lt;</button>
{% endif %}
<ul class="inline-block">
  {% if numPagesBefore > 2 %}
    <li class="inline-block margin-horz-xxsmall">
      <button data-paginate data-courseid="{{ reviews.courseId }}" data-start="1" class="text--blue">1</button>
      <span class="text--gray margin-left-xxsmall">&hellip;</span>
    </li>
  {% endif %}
  {% for i in 2..1 %}
      {% if reviews.currentPage - i > 0 %}
        <li class="inline-block margin-horz-xxsmall">
          <button data-paginate data-courseid="{{ reviews.courseId }}" data-start="{{ ((reviews.currentPage - i - 1) * 20) }}" class="text--blue">{{ reviews.currentPage - i }}</button>
        </li>
      {% endif %}
  {% endfor %}
  <li class="inline-block margin-horz-xxsmall">
    <span class="text--charcoal padding-xsmall bg-gray radius">{{ reviews.currentPage}}</span>
  </li>
  {% for i in 1..2 %}
      {% if reviews.currentPage + i <= reviews.numPages %}
        <li class="inline-block margin-horz-xxsmall">
          <button data-paginate data-courseid="{{ reviews.courseId }}" data-start="{{ ((reviews.currentPage + i - 1) * 20) }}" class="text--blue">
            {{ reviews.currentPage + i }}
          </button>
        </li>
      {% endif %}
  {% endfor %}
  {% if numPagesAfter > 2 %}
    <li class="inline-block margin-horz-xxsmall">
      <span class="text--gray margin-right-xxsmall">&hellip;</span>
      <button data-paginate data-courseid="{{ reviews.courseId }}" data-start="{{ ((reviews.numPages - 1) * 20) }}" class="text--blue">{{ reviews.numPages }}</button>
    </li>
  {% endif %}
</ul>
{% if numPagesAfter > 0 %}
<button data-paginate data-courseid="{{ reviews.courseId }}" data-start="{{ (reviews.currentPage * 20) }}" class="icon--xsmall padding-xsmall icon--center icon-chevron-right-blue" href="#">&gt;</button>
{% endif %}
