<div id="modal-onboarding-profile" class="relative">
  <header class="text-center padding-top-large padding-horz-large">
    <h4 class="head-2 text--bold">Complete your profile</h4>
  </header>

  <div class="relative padding-horz-large border-bottom border--thin border--gray-xxlight" style="min-height: 400px;">
    <form action="#" method="post" class="row form padding-vert-large large-up-padding-large">
      <div class="col width-100 large-up-width-1-2 large-up-padding-right-large">
        <span class="review-form-error" id="full-name-error" style="display:none;">
            Should be at least three letters
        </span>

        <fieldset class="margin-bottom-medium">
          <label for="edit-profile-full-name" class="text-3 block margin-bottom-xxsmall">
            Full Name
          </label>
          <input class="input--medium radius width-100" type="text" name="full-name" id="edit-profile-full-name" value="{{ user.getDisplayName }}">
        </fieldset>

        <fieldset class="margin-vert-medium">
          <label for="edit-profile-location" class="text-3 block margin-bottom-xxsmall">
            Location
          </label>
          <input class="input--medium radius width-100" type="text" name="location" id="edit-profile-location" value="{{ profile.location }}">
        </fieldset>

        <fieldset class="margin-vert-medium">
          <label for="edit-profile-qualifications" class="text-3 block margin-bottom-xxsmall">
            Highest Degree obtained
          </label>
          <select class="btn-white width-100" name="highest-degree" id="edit-profile-qualifications">
            <option value="" disabled>Select</option>
            {% for id, degree in degrees%}
              <option value="{{ id }}" {% if profile.highestDegree == degree %} selected="selected" {% endif %}>{{ degree }}</option>
            {% endfor %}
          </select>
        </fieldset>

        <fieldset class="margin-vert-medium">
          <label for="edit-profile-field-of-study" class="text-3 block margin-bottom-xxsmall">
            Field of Study
          </label>
          <input class="input--medium radius width-100" type="text" name="field-of-study" id="edit-profile-field-of-study" value="{{ profile.fieldOfStudy }}">
        </fieldset>
      </div>

      <div class="col width-100 large-up-width-1-2">
        <fieldset class="margin-bottom-medium">
          <label class="text-3 block margin-bottom-xxsmall" for="edit-profile-job-title">Job Title</label>
          <input class="input--medium radius width-100" type="text" name="job-title" id="edit-profile-job-title" value="{{ profile.jobTitle }}">
        </fieldset>

        <fieldset class="margin-vert-medium">
          <label class="text-3 block margin-bottom-xxsmall" for="edit-profile-about-me">About me</label>
          <textarea rows="6" class="input--medium radius width-100" name="about-me" id="edit-profile-about-me">{{ profile.aboutMe }}</textarea>
        </fieldset>

        <div class="cc-form-block-wrap">
          <span class="text-3 block margin-bottom-xxsmall">Public Profile</span>
          <fieldset data-checkbox="toggle" class="checkbox--medium checkbox--toggle relative">
            <input id="edit-profile-modal-privacy" type="checkbox" name="privacy" value="on" {% if not user.isPrivate %}checked{% endif %}>
            <label for="edit-profile-modal-privacy">
              <span class="checkbox--contain">
                <span class="checkbox--icon"></span>
                <span class="checkbox--circle"></span>
                <span class="checkbox--label">
                  {% if not user.isPrivate %}On{% else %}Off{% endif %}
                </span>
              </span>
            </label>
            <span class="text--gray relative margin-left-xxsmall" data-checkbox-label style="top: -13px;">
              My Class Central profile is {% if not user.isPrivate %}public{% else %}private{% endif %}
            </span>
          </fieldset>
        </div>
      </div>
    </form>
  </div>

  <div class="bg-gray padding-vert-small text-center large-up-text-right row padding-horz-large">
    <div class="col width-10-16 relative padding-right-medium text-left medium-only-hidden small-only-hidden xsmall-only-hidden">
      <span
        class="width-1-3 bg-white relative radius shadow inline-block margin-right-small"
        data-ob-meterbar
        style="height: 20px; top: 5px;">
        <span class="bg-yellow absolute left top radius" style="height: 100%; width: 0px;"></span>
      </span>
      <span data-ob-info class="inline-block text-center line--small">
        Profile Completeness
      </span>
    </div>
    <div class="col width-100 large-up-width-6-16 large-up-text-right text-center">
      <button data-ob-action-back="loggedIn.courses" class="text--blue icon--left icon-arrow-left-blue text-2 margin-right-small">Back</button>
      <button data-ob-action-next="loggedIn.saveProfile" class="btn-white">Skip</button>
    </div>
  </div>
</div>
